<link rel="stylesheet" type="text/css" href="/public/d/userDisplay/script.js"/>

<div ng-if="switchMode=='add'">
  <div class="row">
    <div class="col-xs-4">
      <md-input-container class="md-block">
        <label>Invitees</label>
        <input ng-model="invite" id="invite" name="invite" type="text">
      </md-input-container>
  </div>
  <div  class="col-xs-4">
    <button class="btn btn-primary" ng-click="addInvitees(invite);invite = null">Add Invitee</button>
  </div>
</div>
<div><span ng-show="checked" class="error text-danger">{{message}}</span></div>

<div ng-repeat="special in array">
  <div class="col-xs-6 col-sm-6 col-md-5 col-lg-6">
   <userdisplay view-mode="medium" user-id="special.invite">
    <div class="closeicon pull-right">
      <a class="table-btn" ng-click="removeInvitees($index)"><li class="fa fa-times fa-lg" /></a>
    </div>
  </userdisplay>
  <div ng-if="collectlist">
    Eligible for Feedback :
    <input type="checkbox" name="{{special.invite}}" id="{{special.invite}}" ng-model="feedElg" ng-change="collectFeedback(feedElg, $index)">
  </div>
</div>
</div>
</div>



<div ng-if="switchMode=='edit'" >
 <div class="row">
  <div class="col-xs-4">
    <md-input-container class="md-block">
    <label>Invitees</label>
    <input ng-model="invite" id="invite" name="invite" type="text">
  </md-input-container>
</div>
<div  class="col-xs-4">
  <button class="btn btn-primary" ng-click="addInvitees(invite);invite = null">Add Invitee</button>
</div>
</div>
<div><span ng-show="checked" class="error text-danger">{{message}}</span></div>  

<div ng-repeat="special in arraydata">
    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-6">
     <userdisplay view-mode="medium" user-id="special">
      <div class="closeicon pull-right">
        <a class="table-btn" ng-click="removeInviteesdata($index)"><li class="fa fa-times fa-lg"/></a>
      </div>
      <div ng-if="collectlist">
        <input type="checkbox" name="{{special.invite}}" id="{{special.invite}}" ng-model="feedElg" value ="{{val.feedbackElg}}" ng-change="collectFeedback(feedElg, $index)">
        <div ng-repeat="val in collectlist">
          <span>Feedback elgibility : {{val.feedbackElg}}</span>
        </div>
      </div>
    </userdisplay>
    </div>

</div><!-- ng-repeat div end-->


</div><!-- edit mode div end-->
