
<br>
 <div invitees type="picker" user-model="specialInvite.inviteUser" user-id="specialInvite.inviteId" user-email="specialInvite.inviteEmail" view-type="medium" user-type="employee"></div>

s<div class="row">
  <div class="col-xs-4">

  </div>
  <div class="col-xs-4">
    <button class="btn btn-primary" ng-click="addInvitees(specialInvite)">Add Invitee</button>
  </div>
</div>
<div ng-repeat="specialInvite in inviteesData">
  <div class="row">
    <div class="col-xs-5">
     <div userdisplay view-mode="medium" user-id="specialInvite.invite"></div>
   </div>
   <div class="col-xs-4">
    <a class="table-btn" ng-click="removeInvitees($index)"><span class="fa fa-trash fa-lg pull-left" /></a>Delete
  </div>
</div>
<hr>
</div>