<div header showprofile="false" icon="fa fa-info-circle" title1="Factsheet" title2="fact page">
  <div class="searchViewHead col-xs-12">
        <div class="searchDivHead col-xs-12 col-sm-8 col-md-10 div-padding">
    
            <i class="fa fa-search fonticon1"></i>
            <input type="text" placeholder="Search" ng-model="$parent.query" />

            <div class="pull-right">

                <div class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-th-large fonticon1"></i>
                    <span class="caret"></span>
                </div>

                <ul class="dropdown-menu">
                    <li><a href ng-click="openqFacts()">Quick Facts</a></li>
                    <li class="divider"></li>
                    <li><a href ng-click="openindiaLocs()">India Delivery Locations</a></li>    
                    <li class="divider"></li>
                    <li><a href ng-click="opencerts()">Certifications</a></li>    
                </ul>

             </div>

          </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<div id="rewards-recognition" class="factsheet-fifth-block">
            <h1 class="heading">Rewards and Recognition</h1>

            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-3 reward-badge-container">
                    <img src="/public/assets/m/img/ic/reward-badge.png">
                </div>
                <div class="reward-set col-xs-8 col-sm-9 col-md-9">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <img src="/public/uploads/images/rewards/1-global.png">
                        <label>2013 and 2012 GLOBAL SERVICES 100</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <img src="/public/uploads/images/rewards/2-nasscom.png">
                        <label>TOP 10 IT EMPLOYERS IN INDIA, 2014</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <img src="/public/uploads/images/rewards/3-amity.png">
                        <label>AMITY CSR AWARDS, 2013</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <img src="/public/uploads/images/rewards/4-loma.png">
                        <label>EXCELLENCE IN EDUCATION AWARD, 2012</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="certifications" class="factsheet-sixth-block">
            <h1 class="heading">Certifications</h1>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/certifications/iso-1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/certifications/iso-1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/certifications/iso-1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/certifications/iso-1.png">
                </div>
            </div>
        </div>