
<div header showprofile="false" icon="fa fa-plane" title1="My Visits" title2="List of Vists" query='query'>
  <div class="searchViewHead" style="padding-left: 10px;">
        <div class="searchDivHead  div-padding">

            <i class="fa fa-search fonticon1"></i>
            <input type="text" placeholder="Search" size="15"  ng-model="$parent.query" />

          <!--   <div class="visitbatch pull-right" ng-show="timeline ==='today'">{{visitBatch.start | date:"dd MMM yy"}}</div> -->

            <div class="visitbatch pull-right" >

                <span ng-show="timeline ==='today'">
                {{visitBatch.start | date:"dd MMM yy"}} ({{visitBatch.visits.length}})</span>

                <span ng-hide = "timeline ==='today'">
                {{visitBatch.start | date:"dd MMM yy"}} - {{visitBatch.end | date:"dd MMM yy"}} ({{visitBatch.visits.length}})</span>

                <div class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-th-large"></i>
                    <span class="caret"></span>
                </div>

                <ul class="dropdown-menu">
                    <li><a href ng-click="setTimeline('all')">All ({{allLength}})</a></li>
                    <li class="divider"></li>

                    <li><a href ng-click="setTimeline('past')">Past ({{allVisits["past"].visits.length}})</a></li>
                    <li class="divider"></li>
                    <!-- <li><a href ng-click="setTimeline('last-week')">Last Week ({{allVisits["last-week"].visits.length}})</a></li> -->
                    <!-- <li class="divider"></li> -->
                    <!-- <li><a href ng-click="setTimeline('this-week')">This Week ({{allVisits["this-week"].visits.length}})</a></li> -->
                    <!-- <li class="divider"></li> -->
                    <li><a href ng-click="setTimeline('today')">Today ({{allVisits["today"].visits.length}})</a></li>
                    <li class="divider"></li>
                    <!-- <li><a href ng-click="setTimeline('next-week')">Next Week ({{allVisits["next-week"].visits.length}})</a></li> -->
                    <!-- <li class="divider"></li> -->
                    <li><a href ng-click="setTimeline('further')">Future ({{allVisits["further"].visits.length}})</a></li>
                </ul>

             </div>

          </div>
    </div>
</div>
<div class="divtop">
<br>
    <div class="my-visit-content col-xs-12 col-sm-12 col-md-12">
        <div ng-repeat="visit in visitBatch.visits | filter: query" class="visit-card">

            <div> <div class="visitlinks">
                <a href="#/sessions/{{visit._id}}" >{{visit.title}}</a><br>
                <h5><a><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{visit.client.name | uppercase}}</a></h5>
                </div>
                <div class="dropdown pull-right">
                    <div class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v fonticon1" aria-hidden="true"></i></div>
                    <ul class="dropdown-menu">
                      <li><!-- <a href="/m/main/#/welcome/{{visit._id}}">Welcome</a> -->
                          <a href="/m/main/#/home/{{visit._id}}">Welcome</a>
                      </li>
                        <li class="divider"></li>
                        <li><a href="#/execBios/{{visit._id}}">Executive Bios</a></li>
                        <li class="divider"></li>
                        <li><a href="#/sessions/{{visit._id}}">View Agenda</a></li>
                        <li class="divider"></li>
                        <li><a href="#/contactanchor/{{visit._id}}">Contacts</a></li>
                        <li class="divider"></li>
                        <li><a href="#/sessionNotes/{{visit._id}}">Session Notes</a></li> 
                    </ul>
                </div>

            </div>


    <richtext class="visitagendafont1" body-text="visit.agenda">
             </richtext>

                <span ng-if="visit.status.toLowerCase() =='confirmed'" class="visit-status-confirmed">CONFIRMED</span>
                <span ng-if="visit.status.toLowerCase() =='tentative'" class="visit-status-tentative">TENTATIVE</span>
            </p>
            <p class="visit-details visitagendafont"><i class="fa fa-calendar">
              </i> {{visit.startDate | date:"dd MMM yyyy"}} - {{visit.endDate | date:"dd MMM yyyy"}}
            </p>
            <p class="visit-details visitagendafont">
                <i class="fa fa-map-marker"></i> {{visit.locations}}

                <div class="upcoming-sessions" ng-click="showDetails = ! showDetails">
                    <span class="yp" >Your Participation</span>
                    <span class="sandwich pull-right" ng-class="{'rotateicon':showDetails}"></span>

                    <div ng-repeat="item in visit.involved" ng-show="showDetails">

                        <div ng-click="getSession(item)">

                         <br>
                            <div class="sessiondiv">

                                <div >
                                 <span class="sessionday">{{item.startTime | DateFormat:"ddd, DD MMM"}}</span>
                                    <br>
                                <span class="sessiontitle"> {{item.title}}</span>

                                </div>

                                <div class="sessiontime pull-left">
                               {{item.startTime | date : "HH:mm"}}&nbsp;-
                                {{item.endTime | duration:item.startTime}}
                               </div>
                             <br>
                                <div class="sessionrole">

                                 <img class="presenterimg" src="/public/assets/m/rem/presenter-icon.png">
                                  {{item.role}} for {{item.type}}</div>
                                  <i class="fa fa-angle-right pull-right"></i>

                            </div>
                        </div>
                    </div>
                 </div>
            </p>
    </div>
</div>
        <div ng-if="visitBatch.visits.length==0">
           Sorry! No Visits are found for the selected time period
        </div>

</div>
