  <!-- Page footer :: Start -->
<div class="wrapper">
	<p style="visibility: hidden">csc</p>
	<div class="push"></div>
</div>

<div class="footer">
	<div class="pull-left text-muted">&copy; All rights reserved 2015.</div>
	<div class="pull-right">ver:
		<%= locals.app_info.version %>:<%= locals.app_info.gitHash %>
		<%= process.env.NODE_ENV%> on <%=locals.device%></div>
</div>

<!-- Page footer :: End -->
