  <!-- Page footer :: Start -->
<div class="wrapper">
	<p style="visibility: hidden">csc</p>
	<div class="push"></div>
</div>

<div class="footer">
	<div class="pull-left text-muted">&copy; All rights reserved 2016.</div>
	

<!-- Page footer :: End -->
