  <!-- Page footer :: Start -->
  <footer class="footer">
     <span class="text-muted">&copy; All rights reserved 2015.</span>
     <span "nav nav-right">ver: <%= locals.app_info.version %>:<%= locals.app_info.gitHash %></span>
  </footer>
  <!-- Page footer :: End -->