<div>
<!-- activity menu being -->
<ul class="nav navbar-nav">
  <li class="active"><a href="/home">Dashboard</a></li>
  <li><a href="/visits/#/v/">Visit Planner</a></li>
  <li>
    <a href="/visits/#/addVisit">
      <span class="change-icon">
      <i class="fa fa-plus"></i>
      <i class="fa fa-gear"></i>
    </span>
    </a>
  </li>

  <!-- Additional pull down starts here -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage
      <span class="caret"></span></a>
    <ul class="dropdown-menu callouts--left">
      <li><a href="/clients/#/c/">Clients</a></li>
      <li><a href="/keynotes/#/k/">Keynotes</a></li>
      <li><a href="/facts/#/f/">Facts</a></li>
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">Customize</li>
      <li><a href="/feedback/#/fback/">Feedback</a></li>
    </ul>
  </li>
  <!-- Additional pull down ends -->

  <!-- Admin pull down starts here -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
    <ul class="dropdown-menu callouts--left">
      <li><a href="/admin/users/#/g/">Groups</a></li>
      <li><a href="/admin/users/#/u/">Users</a></li>
      <li><a >Menu Item</a></li>
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">Customize</li>
      <li><a href="/customize/idea">Idea Templates</a></li>
      <li><a href="/customize/workflow">Workflow</a></li>
    </ul>
  </li>
  <!-- Admin pull down ends -->
</ul>
<!-- activity menu end -->

<!-- right menu begin -->
<ul class="nav navbar-nav navbar-right">
  <!-- Notifications badge starts here -->
  <li class="dropdown">
    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bell-o"></i>&nbsp;<span class="badge">15</span><span class="caret"></span>
    </a>
    <ul class="dropdown-menu callouts--right">
      <li><a >Action</a></li>
      <li><a >Another action</a></li>
      <li><a >Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li class="dropdown-header">Nav header</li>
      <li><a >Separated link</a></li>
      <li><a >One more separated link</a></li>
    </ul>
  </li> <!-- notification badge ends here -->

  <li><a href="/public/h/www/"><i class="fa fa-mobile"></i></a></li>
  <li><a href="/app"><i class="fa fa-question"></i></a></li>

  <!-- user profile panel starts here -->
  <li class="dropdown">
    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-user"></i>&nbsp;&nbsp;Profile<span class="caret"></span>
    </a>

    <!-- user profile pull down -->
    <ul class="dropdown-menu callouts--right" role="menu">
      <li style="width:300px !important;">
        <div class="container" style="width:300px;!important;">

            <div class="pull-left">
              <img class="avatar" height="80" width="80" src="<%= locals.user.avatar %>" />
            </div>
            <div class="pull-right profile-details">
              <div class="text-highlight header"><%= locals.user.name.first %> <%= locals.user.name.last %></div>
              <div class="text-xsmall">Last Login: <%= locals.user.stats.dateLastLogin %></div>
              <br/>
              <div class="link"><a href="/profile/#/p">Edit Profile</a></div>
            </div>

          <!-- profile bottom area
starts -->
          <li class="divider"><!-- menu divider --> </li>
          <div class="col-md-6">
              <li class="link">
                <a >
                  Change Password
                </a>
              </li>
          </div>
          <div class="col-md-5">
            <li class="link pull-right">

              <a href="/logout"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout</a>
            </li>
          </div>
        </div>
      </li>
    </ul>
  </li> <!-- user profile ends here -->

</ul> <!-- right menu end-->

 </div>
