<link rel="stylesheet" src="/app/assets/styles/menu.css" />

<div>

<!-- public menu begin -->
<ul class="nav navbar-nav navbar-right" ng-hide="isLoggedIn()">
  <li class="active"><a href="#home">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#faqs">FAQs</a></li>
</ul>
<!-- public menu end -->

 </div>