  <!-- Fixed navbar :: Start-->
  <nav class="navbar navbar-custom navbar-fixed-top">

	  <div class="navbar-header">
			<button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">mStack</a>
	  </div>
	  <div id="navbar" class="collapse navbar-collapse">
	<%if (locals.user != null) { %>
	<% include menuSecure.ejs %>
	<% } else { %>
	<% include menu.ejs %>
	<% } %>
	  </div><!--/.nav-collapse -->

</nav>   <!-- Fixed navbar :: Emd-->

<!-- Navbar icon animation script -->
<script>
// script to animate hamburger menu icon
$(document).ready(function () {
			  $(".navbar-toggle").on("click", function () {
				    $(this).toggleClass("active");
			  });
		});

// scripot to select active menu item
$('.navbar-custom .navbar-nav > li > a').click(function(e) {
    var $this = $(this);
    $this.parent().siblings().removeClass('active').end().addClass('active');
});
</script>
