
<!-- List of meetingPlaces -->
<div class="container">

	<div class="page-header">
		Meeting Places Management
		<div class="sub-header">Manage application for Meeting Places
		</div>
	</div>

	<div class="form-inline has-feedback filter-header">
		<div class="row">
			<div class="col-xs-5">
				<input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
				<button class="btn btn-default btn-sm" ng-click="hideFilter=!hideFilter">Advanced Search</button>
			</div>
			<div class="col-xs-4" ng-if="!visitGrid">
				<button class="btn btn-default btn-sm pull-right" ng-click="addRecord()"> Add New Meeting Place</button>
			</div>
			<div ng-include src="'/public/mods/meetingPlaces/partials/sortSearch.html'"></div>
		</div>
	</div>


	<table class="table table-striped table-condensed table-responsive table-hover">
		<thead class="data-grid-header">
			<!-- table header -->
			<tr>
				<th><!-- <span class="fa fa-globe fa-lg"></span> -->
					<a href="" ng-click="orderByField='location'; reverseSort = !reverseSort">Location</a>
				</th>
				<th><!-- <span class="fa fa-list-alt fa-lg"></span> -->
					<a href="" ng-click="orderByField='type'; reverseSort = !reverseSort">Meeting Place</a>
				</th>
				<th ng-if="!visitGrid"></th>
			</tr>

			<!-- table search filters -->
			<tr ng-hide="hideFilter">
				<th><span ng-hide="hideFilter"><input type="text" ng-model="search.location"></span></th>
				<th><span ng-hide="hideFilter"><input type="text" ng-model="search.meetingPlace" class="groupdesc_textbox"></span></th>
				<th ng-if="!visitGrid"><span ng-hide="hideFilter">&nbsp;</span></th>
			</tr>      

			<!-- table input template -->
			<tr ng-hide="hideAddRow">
				<td>
					<span ng-hide="hideAddRow">
						<input type="text" ng-model="meetingPlaces.location">
					</span>
				</td>
				<td>
					<span ng-hide="hideAddRow"><input type="text" ng-model="meetingPlaces.meetingPlace" class="groupdesc_textbox">
					</span>
				</td>
				<td>
					<span ng-hide="hideAddRow">
						<a class="table-btn" ng-click="save()"><span class="glyphicon glyphicon-ok"/></a>
						<a class="table-btn" ng-click="deselect()"><span class="glyphicon glyphicon-remove"/></a>
					</span>
				</td>
			</tr>
		</thead>
		<!-- table output template -->
		<tbody class="data-grid-data">
			<tr ng-repeat="meetingPlaces in meetingPlaceslist | filter: search |orderBy:orderByField:reverseSort">
				<td>{{meetingPlaces.location}}</td>
				<td>{{meetingPlaces.meetingPlace}}</td>
				<td ng-if="!visitGrid">
					<a class="table-btn" ng-click="edit(meetingPlaces._id)" tooltips tooltip-template="Edit Meeting Place"><span class="fa fa-pencil-square-o fa-lg" /></a>
					<a class="table-btn" ng-click="remove(meetingPlaces)" tooltips tooltip-template="Delete Meeting Place"><span class="fa fa-trash-o fa-lg" /></a>
				</td>
			</tr>
		</tbody>
	</table>
</div> <!-- end of container -->