<!DOCTYPE html>
</html><!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ideation.main" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ideation.main" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ideation.main" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myapp" class="no-js"> <!--<![endif]-->
<head>
<html lang="en">
<head>
    <% include ../partials/head.ejs%>
    <% include ../partials/include-std.ejs%>
    <% include ../partials/include-app.ejs%>
</head>

<body>

<% include ../partials/navbar.ejs%>

<!-- Insert Body here -->
<div class="container">

    <div class="starter-template">
        <%- body %>
    </div>

</div><!-- /.container -->

<% include ../partials/footer.ejs%>

</body>
</html>