
<!DOCTYPE html>

<!--[if lt IE 7]>      <html lang="en" ng-app="mApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mApp" class="no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]><!--> <html lang="en" ng-app="mApp" class="no-js"> <!--<![endif]-->

  <head>
    <% include ../partials/head.ejs%>
    <% include ../mobile/partials/include-std.ejs%>
    <% include ../mobile/partials/include-app.ejs%>
  </head>
  <body>
    <% include ../mobile/partials/sidebarBanner.ejs%>
    <div class="container">
      <div class="starter-template">
          <%- body %>
      </div>

    </div><!-- container -->
  </body>
</html>