<!-- Grid filter -->
<div class="container">
  <div class="form-inline has-feedback filter-header">
    <div class="row">
      <div class="col-xs-5">
      <input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
      <!-- <i class="glyphicon glyphicon-search form-control-feedback"></i> -->
      <button class="btn btn-default btn-sm" ng-click="hideFilter=!hideFilter">Advanced Search</button>
    </div>
    <div class="col-xs-4">
      <a class="btn btn-default btn-sm pull-right" href="#/keynotes/add">Add New Keynote</a>
    </div>
    <div ng-include src="'/public/mods/keynotes/partials/sortSearch.html'"></div>
  </div> 
</div><!-- Grid filter ends -->

<table class="table table-striped table-condensed table-responsive table-hover">
  <thead class="data-grid-header">
    <!-- table header -->
    <tr>
      <th>
        <span class="fa fa-th-large fa-lg"></span>&nbsp;&nbsp;
        <a href="" ng-click="orderByField='title'; reverseSort = !reverseSort">Title</a>
      </th>
      <th>
        <span class="fa fa-user fa-lg"></span>&nbsp;&nbsp;Speaker
        <!-- <a href="" ng-click="orderByField='noteBy'; reverseSort = !reverseSort">Speaker</a> -->
      </th>
      <th>
        <span class="fa fa-list-alt fa-lg"></span>&nbsp;&nbsp;
        <a href="" ng-click="orderByField='desc'; reverseSort = !reverseSort">Description</a>
      </th>
      <!-- <th class="hidden-xs">
        <span class="glyphicon glyphicon-user"></span>
        <a href="" ng-click="orderByField='Tags'; reverseSort = !reverseSort">Tags</a>
      </th> -->
      <th class="hidden-xs">
        <span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Created On
        <!-- <a href="" ng-click="orderByField='Created'; reverseSort = !reverseSort">Created</a> -->
      </th>
      <th class="hidden-xs">
        <span class="glyphicon glyphicon-dashboard"></span>Link
        <!-- <a href="" ng-click="orderByField='link'; reverseSort = !reverseSort">Link</a> -->
      </th>
      <th>&nbsp;</th>
    </tr>

    <!-- table filter -->
    <tr ng-hide="hideFilter">
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.title"></span></th>
      <th></th>
      <!-- <th></th> -->
      <!-- <th><span ng-hide="hideFilter"><input type="text" ng-model="search.noteBy"></span></th> -->
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.desc"></span></th>
      <!-- <th class="hidden-xs"><span ng-hide="hideFilter"><input type="text" ng-model="search.tags"></span></th> -->
      <th><span ng-hide="hideFilter">&nbsp;</span></th>
      <th><span ng-hide="hideFilter">&nbsp;</span></th>
      <th><span ng-hide="hideFilter">&nbsp;</span></th>
    </tr>
  </thead>


  <tbody class="data-grid-data">
    <tr ng-repeat="keynote in keynotesList | filter: search |orderBy:orderByField:reverseSort">
      <td>{{keynote.title}}</td>
      <td><div userdisplay view-mode="nameonly" user-id="keynote.noteBy"></div></td>
      <td><p ng-bind-html="keynote.desc"></p></td>
      <!-- <td class="hidden-xs"><div ng-repeat="tags in keynote.tags track by $index"> {{tags}}</div></td> -->
      <td class="hidden-xs">{{keynote.createOn | DateFormat:"ddd, DD MMM YYYY" }}</td>
      <td class="hidden-xs">ToBeDefined</td>
      <td>
       <!--  <a class="table-btn" href="#/keynotes/{{keynote._id}}/show"><span class="glyphicon glyphicon-eye-open" /></a> -->
        <a class="table-btn" href="#/keynotes/{{keynote._id}}/edit" tooltips tooltip-template="Edit Keynote"><span class="fa fa-edit fa-lg" /></a>
        <a class="table-btn" ng-click="delete(keynote)" confirm-dialog header-text="Delete Keynote" content="Are you sure you want to delete the keynote with keynote title <b>{{keynote.title}} ? </b>" 
        yes-text="Ok" no-text="Cancel"><span class="fa fa-trash fa-lg" tooltips tooltip-template="Delete Keynote"/></a>
        <a class="table-btn" ng-click="copy(keynote)" tooltips tooltip-template="Copy Keynote"><span class="fa fa-files-o fa-lg" /></a>
      </td>
    </tr>
  </tbody>  
</table>
</div>