<!--div ng-init="settime(starttime)">
{{stime}}
</div-->
<!--   <div ng-if="(group=='customer' || group=='exec' || (group=='user' && feedbackElg === 'true')) && (type=='presentation' || type=='discussion' || type=='floor-walk') && (starttime | date:'HH:mm' <= current | date:'HH:mm') ">
<div ng-if="feedbackSamplelist==''">
  	<div ng-class="[getfeedback(status)]">
  		<a href="/m/visits/#/sessionFeedback/{{ftmplate}}/{{sessionId}}/{{visitId}}">Give Feedback</a>
  		{{status}}
  	</div>
</div>
<div ng-if="feedbackSamplelist!=''">  	
	<div ng-class="[getfeedback(status)]">
		<a href="/m/visits/#/sessionFeedback/{{ftmplate}}/{{sessionId}}/{{visitId}}/{{feedbackSamplelist[0]._id}}">Edit Feedback</a>
		{{status}}
	</div>
</div>
</div> -->
<ANY ng-switch on="type.toLowerCase()">
<ANY ng-switch-default>
  <div ng-if="(group=='customer' || group=='exec' || (group=='user' && feedbackElg === 'true')) && ((current | date : 'dd MMM yyyy HH:mm:ss') >= (starttime | date : 'dd MMM yyyy HH:mm:ss'))">
<div ng-if="feedbackSamplelist==''">
  	<div ng-class="[getfeedback(status)]">
  		<a href="/m/visits/#/sessionFeedback/{{ftmplate}}/{{sessionId}}/{{visitId}}">Give Feedback</a>
  		{{status}}
  	</div>
</div>
<div ng-if="feedbackSamplelist!=''">  	
	<div ng-class="[getfeedback(status)]">
		<a href="/m/visits/#/sessionFeedback/{{ftmplate}}/{{sessionId}}/{{visitId}}/{{feedbackSamplelist[0]._id}}">Edit Feedback</a>
		{{status}}
	</div>
</div>
</div>
</ANY>
<ANY ng-switch-when="dinner">

</ANY>
<ANY ng-switch-when="lunch">

</ANY>
<ANY ng-switch-when="tea-break">

</ANY>
<ANY ng-switch-when="breakfast">

</ANY>
</ANY>