<!--
/*<style>*/
/*#header_nav {*/
/*    width:100%;*/
/*    background-color:#F8F8FF;*/
/*    position:fixed;*/
/*    top:0;*/
/*    left:0;*/
/*     height:110px;*/
/*   -webkit-transition:0.5s linear all;*/
/*   -moz-transition:0.5s linear all;*/
/*   -o-transition:0.5s linear all;*/
/*   transition:0.5s linear all;*/
/*   z-index:10000;*/
/*}*/
/*.big {*/
/*  padding-top:40px;*/
/*  font-color:white;*/
/*    height:110px;*/
/*    font-size: 30px;*/
/*}*/
/*.big > .secondary{*/
/*  display:none;*/
/*}*/
/*.small {*/
/*   padding-top:60px;*/
/*   font-color:white;*/
/*   height:90px;*/
/*    font-size: 20px;*/
/*}*/
/*.small > .primary {*/
/*  display:none;*/
/*}*/
/*</style>*/
<div scroll id="header_nav" ng-class="navClass">
    <div class="primary">
    Primary
    </div>
        <div class="secondary">
      Secondary
    </div>
</div>
-->
<style>
  .date{
  color: #fff;
  font-size: 0.75em;
  display: block;
  font-family: workSansMedium; 
  }
  .time{
  color: #fff;
  font-size: 0.75em;
  display: block;
  font-family: workSansMedium;
  }
  .temp{
  color: #fff;
  font-size:13px;
  display: block;
  font-family: workSansMedium;
  }
  #scrollBox {
  overflow-x: relative;
  overflow-y: hidden;
  -ms-overflow-x: relative;
  -ms-overflow-y: hidden;
  white-space: nowrap;
  }
  #scrollBox > div {
  display: inline-block;
  margin-right: 5px;
  }
  #scrollBox > div fieldset {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  text-align: center;
  height: 240px;
  width: 150px;
  }
</style>

 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div scroll id="profile-details">
        <div class="notifications">
         <!--a type="button" data-toggle="modal" data-target="#myModal"><img src="/public/assets/m/img/ic/ibox-f.png"></a-->

            <div type="button"  data-toggle="modal" data-target="#videoModal"><img class="image"  src="/public/assets/m/img/ic/ibox-f.png"></div>

<div ng-include src="'/public/m/home/welcome.html'"></div></div>

  <!-- Modal -->
 


        <div class="profile-pic"><img src="{{user.avatar}}"></div>
        <div class="profile-name">{{user.name.first}} {{user.name.last}}</div>
        <div class="profile-desc">{{user.jobTitle}} {{user.organization}}</div>
        <div class="profile-location">
               <location-picker ng-model="pickedLocation" limit-to="1"></location-picker>
    
        </div>

        <div class="session-overview" ng-hide="!visitStartSuccess">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 currentSession">
                    <div class="on-time">ON TIME</div>
                    <div class="second-span">Cloud Computing</div>
                    <div class="third-span">11:00 AM to 12:15 PM</div>
                </div>
                <div class="clock-container col-xs-4 col-sm-4 col-md-4">
                    <clock-svg degree="progressDegree"></clock-svg>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 next-session">
                    <div class="next">NEXT</div>
                    <div class="second-span">Big Data</div>
                    <div class="third-span">12:30 PM to 1:15 PM</div>
                </div>
            </div>
            <div class="agenda"><a href="#/agendaOverview">VIEW AGENDA</a></div>
        </div>
       <form id="form1">
    <div id="scrollBox">
      <div ng-repeat="objs in dayHighlighter">
        <fieldset class="firstPanel">
          <h4><label class="day">Day {{objs.day}}</label></h4>
          <label class="date"> {{objs.date}}</label>
          <i class="fa fa-sun-o" style="font-size:50px;color:#F8C471;"></i><br>
          <label class="like" style="font-size:15px;color:#fff;">{{objs.climate.dayLike}}</label>
          <label class="temp">{{objs.climate.temp}}</label>
          <h4> <label class="loc">{{objs.location}}</label></h4>
        </fieldset>
      </div>
    </div>
  </form>
        </div>




    <div class="container" id="menu">
        <div class="container" id="menu">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <a href="/m/visits/#/agenda">
                <i class="menu-circle-icon fa fa-list agendaicon"></i>
                    <div class="account-info-text">AGENDA</div>
                </a>
         
            </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                <a href="/m/main/#/execBios">
                    <div class="menu-circle-icon exec-bio"></div>
                    <div class="exec-bio-text">EXECUTIVE BIO'S</div>
                </a>
            </div>
             <div class="col-xs-4 col-sm-4 col-md-4">
                <a href="/m/main/#/feedback">
                    <div class="menu-circle-icon feedback"></div>
                    <div class="feedback-text">FEEDBACK</div>
                </a>
            </div>
          
           
            </div>
            <div class="row">
              
            <div class="col-xs-4 col-sm-4 col-md-4">
                <a href="/m/visits/#/contacts">
                    <div class="menu-circle-icon spoc"></div>
                    <div class="spoc-text">CONTACT SPOC</div>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <a href="/m/facts/">
                    <div class="menu-circle-icon factsheets"></div>
                    <div class="factsheets-text">FACTSHEETS</div>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <a href="/m/visits/">
                    <div class="menu-circle-icon past-visits"></div>
                    <div class="past-visits-text">PAST VISITS</div>
                </a>
            </div>
           
        </div>
    </div>
    </div>
    