  <link rel="stylesheet" href="/public/assets/m/css/splash.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <div id="splash-screen">
      <carousel links="links"></carousel>
        <div class="col-xs-12 col-sm-12 col-md-12 floater">
        <button ng-click="goToHome()">SKIP TO HOME <span class="glyphicon glyphicon-menu-right"></span></button>
       </div>
    </div>
  
<!--div id="splash-screen" class="carousel slide" data-ride="carousel">
    <carousel>
        <slide ng-repeat="slide in slides track by $index">
            <div class="slide-layout">
                <div class="section1">
                    <h1>{{slide.text1}}</h1>
                    <img src="/public/uploads/images/location/Chennai_Central_Station_panorama.jpg">
                    <p>{{slide.desc1}}</p>
                </div>
                <div class="section2">
                    <h1>{{slide.text2}}</h1>
                    <ul>
                        <li ng-repeat="item in slide.desc2" class="arrow-list">{{item.text}}</li>
                    </ul>
                </div>
            </div>
        </slide>
    </carousel>
    <div class="col-xs-12 col-sm-12 col-md-12 floater">
        <button ng-click="goToHome()">SKIP TO HOME <span class="glyphicon glyphicon-menu-right"></span></button>
    </div>
</div-->

 