
/*body  styles*/
body{
  background-color: #2281AA;
  color: white;
}
/*palcename styles*/
.placename
{
  font-family: verdana, arial !important; 
  font-size: 40px !important;
  font-weight: bold !important;
  text-align: center;


}

/*palcename styles*/
.degrees{
  font-size: 30px;
padding-left: 35%;
}


/*leftpadding styles*/
.lpad{
  padding-left: 10%;
  font-size: 20px;
}

/*right padding styles*/
.rpad{
  padding-left: 10%;
  font-size: 20px;
  padding-right: 10%;
}