<div class="dialogpad">
<md-dialog aria-label="dialog box"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>dialog box</h2>
        <span flex></span>
        <md-button  class="md-icon-button" ng-click="cancel()">
         <i class="fa fa-times" aria-label="Close dialog"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
      <div class="dialogmessage">
      <div class="text-highlight">
      This is dialog box
      </div>
      <div class="dialog-content-container">
      <div class="text-desc">
      Dialog boxes are classified as "modal" or "modeless", depending on whether they block interaction with the software that initiated the dialog. The type of dialog box displayed is dependent upon the desired user interaction.

     The simplest type of dialog box is the alert, which displays a message and may require an acknowledgment that the message has been read, usually by clicking "OK", or a decision as to whether or not an action should proceed, by clicking "OK" or "Cancel". Alerts are also used to display a "termination notice"—sometimes requesting confirmation that the notice has been read—in the event of either an intentional closing or unintentional closing ("crash") of an application or the
      </div></div>
 </div>
</md-dialog-content><br>
<div class="row">

   <button type="submit" class="btn btn-primary" 
                  >Submit
                </button>
                <button type="submit" class="btn btn-info pull-right" 
                  >ok
                </button>
                </div>
  </form>
</md-dialog>
</div>
