
  <link rel="stylesheet" href="/public/assets/w/styles/dashBoardUI.css">


<body ng-app="dashBoard" ng-controller="dashBoardCtrl">

  
   
    <div class="row">
      
      <div id="sidebar">
          <!-- Side Bar Content Goes here  -->s
      </div>



      <div class="col-sm-11 col-md-11 col-lg-11 col-pad">
        <div id="dashboard-page">
        <div class="header">Dashboard</div>
        <div class="scrollable-content">
        <div ng-repeat="tile in dashBoard_tiles" id= "tile{{$index}}" class="tiles" ng-class="{'tile-small': tile.tile_content.length == 0, 'tile-big': tile.tile_content.length >= 1 }">
            <div>
                <div class="tile-image" ng-class="{'display-block': tile.tile_img.length != '', 'display-none': tile.tile_img.length == '' }">
                  <img ng-src="{{tile.tile_img}}">
                </div>
                <div class="tile-contents">
                    {{tile.tile_content}}
                </div>
                <div class="tile-name">{{tile.tile_name}}</div>
            </div>
        </div>
      </div>
      </div>
      </div> <!--column 11-->


      <div class="col-sm-1 col-md-1 col-lg-1">
        <a href="#" data-toggle=".container" id="sidebar-toggle">
        <i class="fa fa-angle-double-left fa-5x padtop rotate"></i></a>
      </div>

  </div> <!--row-->

  
</div> <!--container-->




<div class="panel-wrapper">
  <div class="panel-controller">

    <div class = "tab-controller">
      <a href="#">
      <i class="fa fa-angle-double-up fa-2x rotate"></i></a>
    </div><!-- Tab-controller -->

    <div class = "tab-controller1">
      <a href="#">
      <i class="fa fa-angle-double-down fa-2x rotate"></i></a>
    </div><!-- Tab-controller -->

  </div><!-- panel-controller -->

  <div class="panel-content">
    <div class = "row">
      
        <div class = "col-xs-4" style = "color: red;" > 
          <i><u><b > Lunch </b></u></i>
        </div>
        <div class = "col-xs-4" style = "color: red;"> 
          <i><u><b>Delayed by 1 hr </b></u></i>
        </div>
        <div class = "col-xs-4" style = "color: red;"> 
           <i><u><b> 12:30 - 13:30 </b></u></i>
        </div>
    </div>



  <div class = "row">
  <br>
        <div class = "col-xs-3">
          <i><u><b> Executive lunch </b></u></i>
        </div>

        <div class = "col-xs-3">

          <span> with: </span>
          <img src="/public/assets/g/imgs/avatar.jpg" class="img-circle userpic">
          <img src="/public/assets/g/imgs/avatar.jpg" class="img-circle userpic">

        </div>

        <div class = "col-xs-3">
          <i><u><b>Start Time:</b></u></i> 13:30<br>
          <i><u><b>End Time:</b></u></i> 14:30
        </div>

        <div class = "col-xs-3">
          <i><u><b>Anchor:</b></u></i> Suman <br>
          <i><u><b>Owner:</b></u></i>  Shiva <br>
          <i><u><b>Supporter:</b></u></i> Santosh
        </div>
  </div> <!--row-->


  </div> <!-- panel-content-->
</div><!-- panel-wrapper -->




<script type="text/javascript">
angular.module('dashBoard', [])
.controller('dashBoardCtrl', function($scope) {


        $scope.dashBoard_tiles = [{
            'tile_name': 'Home',
            'tile_img': '/public/uploads/images/location/chennai-thumb-1.jpg',
            'tile_content': ''
        }, {
            'tile_name': 'Session',
            'tile_img': '',
            'tile_content': 'CSC journey begins with the world biggest customers'
        }, {
            'tile_name': 'Exec Bios',
            'tile_img': '',
            'tile_content': 'CSC journey begins with the world biggest customers'
        }, {
            'tile_name': 'Client',
            'tile_img': '/public/uploads/images/clients.png',
            'tile_content': ''
        }, {
            'tile_name': 'SPOC',
            'tile_img': '/public/uploads/images/journeypics/1-foundation.png',
            'tile_content': ''
        }, {
            'tile_name': 'People',
            'tile_img': '',
            'tile_content': 'CSC journey begins with the world biggest customers'
        }, {
            'tile_name': 'Calendar',
            'tile_img': '',
            'tile_content': 'CSC journey begins with the world biggest customers'
        }, {
            'tile_name': 'News',
            'tile_img': '/public/uploads/images/industry/diversified.png',
            'tile_content': ''
        }, {
            'tile_name': 'Outlook',
            'tile_img': '/public/uploads/images/location/chennai-thumb-4.jpg',
            'tile_content': ''
        }, {
            'tile_name': 'Skype',
            'tile_img': '',
            'tile_content': 'CSC journey begins with the world biggest customers'
        }, {
            'tile_name': 'Pictures',
            'tile_img': '',
            'tile_content': 'CSC journey begins with the world biggest customers'
        }, {
            'tile_name': 'Documents',
            'tile_img': '/public/uploads/images/professionals.png',
            'tile_content': ''
        }, {
            'tile_name': 'Assets',
            'tile_img': '/public/uploads/images/location/chennai-thumb-4.jpg',
            'tile_content': ''
        }, {
            'tile_name': 'Drive',
            'tile_img': '/public/assets/m/img/ic/india-map.png',
            'tile_content': ''
        }, {
            'tile_name': 'Pictures',
            'tile_img': '',
            'tile_content': 'CSC journey begins with the world biggest customers'
        }, {
            'tile_name': 'Google',
            'tile_img': '/public/assets/m/img/ic/grp.png',
            'tile_content': ''
        }];

        var myColors = [
            '#EF2525', '#88ba41', '#850057', '#003f60', '#588ba3'
        ];
        var i = 0;
        setTimeout(function() {
            $('div.tiles').each(function() {
                $(this).css('background-color', myColors[i]);
                i = (i + 1) % myColors.length;
            });
        }, 10);

    });



/*toggle function*/
   $(window).load(function(){
      $("[data-toggle]").click(function() {
        var toggle_el = $(this).data("toggle");
        $(toggle_el).toggleClass("open-sidebar");
      });
    });
      $(".rotate").click(function(){
        $(this).toggleClass("side");
      });


        (function($) {

          jQuery(document).ready(function() {

              Panel.init();

              $(document).on('click', '.tab-controller', function() {
                   Panel.togglePanel();
              });
          });

          var Panel = {
              isVisible : true,
              showMessage : null,
              hideMessage : null,
              animationDuration : 650,
              animationEasing : 'linear',
              
              init : function() {
                this.showHalfPanel();
              },

              hideHalfPanel : function() {
                  $('.panel-wrapper').animate({
                      bottom : -(Panel.getAnimationOffset() - 25)
                  }, Panel.animationDuration, Panel.animationEasing, function() {
                      Panel.isVisible = false;
                      $(".tab-controller1").show();
                  });
              },

              showHalfPanel : function() {
                  $('.panel-wrapper').animate({
                      bottom : -(Panel.getAnimationOffset() - 25)
                  }, function() {
                      Panel.isVisible = false;
                      
                  });
              },

              showFullPanel : function() {
                  $('.panel-wrapper').animate({
                      bottom : 0
                  }, Panel.animationDuration, Panel.animationEasing, function() {
                      Panel.isVisible = true;
                      $(".tab-controller1").hide();
                  });
              },

              togglePanel : function() {
                  ((this.isVisible) ? this.hideHalfPanel : this.showFullPanel)();
              },

              updateTabMessage : function() {
                  if (this.isVisible) {
                      $('.tab-controller .close').show();
                      $('.tab-controller .show').hide();
                  } else {
                      $('.tab-controller .close').hide();
                      $('.tab-controller .show').show();
                  }
              },

              getAnimationOffset : function() {
                  return $('.panel-content').height();
              }

          }

      })(jQuery);




      (function($) {

          jQuery(document).ready(function() {

              Panel.init();

              $(document).on('click', '.tab-controller1', function() {
                   Panel.togglePanel();
              });
          });

          var Panel = {
              isVisible : true,
              showMessage : null,
              hideMessage : null,
              animationDuration : 650,
              animationEasing : 'linear',
              
              init : function() {
                
              },

              

              hidePanel : function() {
                  $('.panel-wrapper').animate({
                      bottom : -(Panel.getAnimationOffset())
                  }, Panel.animationDuration, Panel.animationEasing, function() {
                      Panel.isVisible = false;
                      $(".tab-controller").hide();
                  });
              },

              
              showPanel : function() {
                  $('.panel-wrapper').animate({
                      bottom : -(Panel.getAnimationOffset() - 25)
                  }, Panel.animationDuration, Panel.animationEasing, function() {
                      Panel.isVisible = true;
                      $(".tab-controller").show();
                  });
              },

              togglePanel : function() {
                  ((this.isVisible) ? this.hidePanel : this.showPanel)();
              },

              updateTabMessage : function() {
                  if (this.isVisible) {
                      $('.tab-controller1 .close').show();
                      $('.tab-controller1 .show1').hide();
                  } else {
                      $('.tab-controller1 .close').hide();
                      $('.tab-controller1 .show1').show();
                  }
              },

              getAnimationOffset : function() {
                  return $('.panel-content').height();
              }

          }

      })(jQuery);
</script>
</body>

