<style>

.centered{
  padding-top:12%;
}

.form {

  z-index: 1;
  background: transparent;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 10px;
    
  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #bdbdbd;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #d3d3d3;
}

body {
   font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.navbar-brand{
  color: black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
.centered{
padding-top:35%;
 }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: landscape){
.centered{
padding-top: 1%;
 }
} 


</style>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Visit Portal</a>
    </div>
   </div>
</nav>

 <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

  <div class="centered" align="center" style="vertical-align:middle;">
  <div class="form">
 
    <form class="login-form"  action="/login"  method="post">
      <input autocomplete="off" type="text" name="email" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>
      <button type="submit">login</button>
   
    </form>
  </div>
    

</div>

