<style>

.login-page {
  width: 360px;
  padding-top:10%;
  padding: 14% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #bdbdbd;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #d3d3d3;
}

body {
  background: url(/public/assets/m/img/bg/b2.jpg) no-repeat center scroll;; /* fallback for old browsers */
   background-size: cover;
   font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)

  and (orientation: portrait) {
      .login-page {
  width: 90%;
padding-top:45%;
 padding-left:10%;
  margin: 0;
}      
.form {
 position: relative;
  max-width: 90%;
  margin: 0 auto 0px;
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body {
  background: url(/public/assets/m/img/bg/b2.jpg) no-repeat center scroll;; /* fallback for old browsers */
   background-size: cover;  
}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)

  and (orientation: portrait) {
      .login-page {
  width: 90%;
padding-top:45%;
 padding-left:10%;
  margin: 0;
}      
.form {
 position: relative;
  max-width: 90%;
  margin: 0 auto 0px;
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body {
  background: url(/public/assets/m/img/bg/b2.jpg) no-repeat center scroll;; /* fallback for old browsers */
   background-size: cover;  
}
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)

  and (orientation: portrait) {
      .login-page {
  width: 90%;
padding-top:45%;
 padding-left:10%;
  margin: 0;
}      
.form {
 position: relative;
  max-width: 90%;
  margin: 0 auto 0px;
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body {
  background: url(/public/assets/m/img/bg/b2.jpg) no-repeat center scroll;; /* fallback for old browsers */
   background-size: cover;  
}
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)

  and (orientation: portrait) {
      .login-page {
  width: 90%;
padding-top:45%;
 padding-left:10%;
  margin: 0;
}      
.form {
 position: relative;
  max-width: 90%;
  margin: 0 auto 0px;
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body {
  background: url(/public/assets/m/img/bg/b2.jpg) no-repeat center scroll;; /* fallback for old browsers */
   background-size: cover;  
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)

  and (orientation: landscape) {
      .login-page {
  width: 90%;
padding-top:10%;
 padding-left:18%;
  margin: 0;
}      
.form {
 position: relative;
  max-width: 90%;
  margin: 0 auto 0px;
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body {
  background: url(/public/assets/m/img/bg/b2.jpg) no-repeat center scroll;; /* fallback for old browsers */
   background-size: cover;  
}

}

galaxy
@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px)

  and (orientation: portrait) {
      .login-page {
  width: 90%;
padding-top:45%;
 padding-left:10%;
  margin: 0;
}      
.form {
 position: relative;
  max-width: 90%;
  margin: 0 auto 0px;
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body {
  background: url(/public/assets/m/img/bg/b2.jpg) no-repeat center scroll;; /* fallback for old browsers */
   background-size: cover;  
}
}
@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px)

  and (orientation: landscape) {
      .login-page {
  width: 90%;
padding-top:10%;
 padding-left:18%;
  margin: 0;
}      
.form {
 position: relative;
  max-width: 90%;
  margin: 0 auto 0px;
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body {
  background: url(/public/assets/m/img/bg/b2.jpg) no-repeat center scroll;; /* fallback for old browsers */
   background-size: cover;  
}



}
/* ipads */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  {

       .login-page {
  width: 80%;
padding-top:40%;
 padding-left:18%;
  margin: 0;
}      
.form {
 position: relative;
  max-width: 90%;
  margin: 0 auto 0px;
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body {
  background: url(/public/assets/m/img/bg/b2.jpg) no-repeat center scroll;; /* fallback for old browsers */
   background-size: cover;  
}

}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  {
     .login-page {
  width: 70%;
padding-top:20%;
 padding-left:25%;
  margin: 0;
}      
.form {
 position: relative;
  max-width: 90%;
  margin: 0 auto 0px;
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
body {
  background: url(/public/assets/m/img/bg/b2.jpg) no-repeat center scroll;; /* fallback for old browsers */
   background-size: cover;  
}
}
</style>


 <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="login-page" align="center">
  <div class="form">
 
    <form class="login-form"  action="/login"  method="post">
      <input autocomplete="off" type="text" name="email" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>
      <button type="submit">login</button>
   
    </form>
  </div
    

</div>

