.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal-dialog-cscLocationGallery {
  height: 100%;
}

.modal-dialog-cscLocationGallery .modal-dialog {
  height: 94%;
  width: 94%;
  margin: auto;
  top: 3%;
}

.modal-dialog-cscLocationGallery .modal-dialog .modal-content {
  height: 100%;
  border-radius: 0;
}

.carousel-parent-div {
  background: linear-gradient(#003f60, #588ba3);
  color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.closeDiv {
  position: fixed;
  padding: 0;
}

.closeBut {
  width: 20px;
  height: 20px;
  float: right;
  margin: 20px;
}

.cvm-gallery-header {
  /*opacity: 0.8;*/
  height: 33%;
  text-align: center;
  padding: 20px;
}

.carousel-indicators {
  top: 100%;
  display: block;
  padding: 20px;
  width: 100%;
  left: 0;
  padding-left: auto;
  padding-right: auto;
  margin-left: 0;
  text-align: center;
}

.carousel-indicators li {
  width: 100px;
  height: 100px;
  border-radius: 0;
  text-indent: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-right: 20px;
}

.carousel-indicators li:last-child {
  margin-right: 0;
}

.carousel-indicators li:nth-child(n) {
  /*background-image: url('../assets/Chennai_Central_Station_panorama.jpg');*/
  /*background-image: url(../assets/chennai-thumb-1.jpg);*/
}

.carousel-indicators .active {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.carousel {
  height: 33% !important;
}

.carousel-inner {
  height: 100% !important;
  margin: auto;
  width: 100%;
}

.carousel img {
  height: 100% !important;
  width: 100%;
}

.cvm-gallery-footer {
  margin-top: 140px;
  padding: 0 20px 20px 20px;
  font-family: workSansRegular;
  height: 33%;

  h2 {
    font-size: 30px;
  }
}

.locDesc {
  height: 50%;
  padding-bottom: 20px;
}

.locDesc p {
  height: 100%;
  overflow-y: scroll;
  font-size: 20px;
}

.cvm-gallery-header .headerTitle {
  margin: 0;
  height: 33%;
  font-family: workSansSemiBold;
  letter-spacing: 5px;
  padding-top: 10px;

}

.header-temp-div {
  height: 33%;
  font-family: workSansExtraLight;
  font-size: 40px;

  .sec1 {
    width: 45px;
    height: 45px;
    margin-top: -15px;
  }

  .sec3 {
    color: #afbbc5;
  }

  .sec5 {
    font-size: 24px;
  }

  .sec6 {
    font-size: 24px;
    color: #90a6b5;
  }
}

.header-precipitation-div {
  height: 33%;
  font-family: workSansRegular;

  .sec1 {
    font-size: 22px;
  }

  .sec2 {
    font-size: 36px;
    font-family: workSansLight;
    color: #cfdce4;
  }

  .sec2 .text2 {
    color: #7c96a7;
  }
}

@media only screen and (max-width: 570px) {

  .carousel-indicators li {
    width: 60px;
    height: 60px;

  }

  .carousel-indicators .active {
    width: 60px;
    height: 60px;
  }

  .cvm-gallery-footer {
    margin-top: 100px;

    h2 {
      font-size: 22px;
    }
  }

  .cvm-gallery-header .headerTitle {
    font-size: 30px;
  }

  .locDesc p {
    font-size: 15px;
  }

  .header-temp-div {
    font-size: 34px;

    .sec1 {
      width: 35px;
      height: 35px;
      margin-top: -10px;
    }

    .sec5, .sec6 {
      font-size: 18px;
    }
  }

  .header-precipitation-div {
    .sec1 {
      font-size: 18px;
    }
    .sec2 {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .carousel-indicators {
    padding-top: 10px;
  }

  .carousel-indicators li {
    width: 48px;
    height: 48px;
  }

  .carousel-indicators .active {
    width: 48px;
    height: 48px;
  }

  .cvm-gallery-footer {
    margin-top: 70px;

    h2 {
      font-size: 20px;
    }
  }

  .cvm-gallery-header .headerTitle {
    font-size: 28px;
  }

  .locDesc p {
    font-size: 13px;
  }

  .header-temp-div {
    font-size: 30px;
    .sec5, .sec6 {
      font-size: 16px;
    }
  }

  .header-precipitation-div {
    .sec1 {
      font-size: 13px;
    }
    .sec2 {
      font-size: 24px;
    }
  }
}