<section class="section" id="schedulePanelBgImg">
	<!--img src="/public/assets/images/schedulePanel.jpg" class="schedulePanelBgImg" alt="schedulePanel"-->
	<div class="container">

			<div class="col-md-5 col-xs-12 col-sm-5 center-info-left">
				<p class="sessionStatus">On Time</p>
				<p class="sessionInfo">Cloud Computing</p>
				<p class="sessionTime">11AM To 12.15PM</p>
			</div>
			<div class="col-md-2 col-xs-12 col-sm-2 center-info-clock">
				<div id="liveclock" class="outer_face">
					<div class="inner_face">
						<div class="hand hour"></div>
						<div class="hand minute"></div>
						<div class="hand second"></div>
					</div>
				</div>	
			</div>
			<div class="col-md-5 col-xs-12 col-sm-5 center-info-right">
				<p class="sessionStatusNext">Next</p>
				<p class="sessionInfo">Big Data</p>
				<p class="sessionTime">12.30AM To 01.00PM</p>
			</div>
			<p class="col-xs-12 text-center agenda-text">VIEW AGENDA</p>
	</div>
</section>
