<style>  
@media only screen and (max-device-width: 320px){
   
.hd-sticky{
    background-color: #f3f2f7;
    position:relative;
    height: 38px;

}}


</style>
<div header showprofile="false" icon="fa fa-group"  title1="Executive Bios" title2="{{title}}" query='query'>
   <div class="searchViewHead col-xs-12">
        <div class="searchDivHead col-xs-10 col-sm-9 col-md-10 div-padding">
            <i class="fa fa-search fonticon1"></i>
            <input type="text" placeholder="Search" ng-model="$parent.query.$" />
    </div>
    </div>
</div>

<div class="divtop">
<div ng-if="activevisits == true">
    <div class="client-rep">
    <!-- {{(clientData|filter:query).length}} -->
        <div class="heading">CLIENT REPRESENTATIVES:   </div>
            <div ng-show="(uniClient|filter:query).length==0">No Client Representatives Found</div>
            <div class="list-group">
                <div href="#" class="list-group-item" ng-repeat="clientRep in uniClient | filter:query" ng-click="collapseDiv($index,'client')">
                    <div class="representative-pic col-xs-2 col-sm-1 col-md-1">
                     <userview user-model="clientRep" view-mode="bullet-small"></userview>
                 </div>
                 <div class="representative-bios-div col-xs-8 col-sm-10 col-md-10">
                   <userview user-model="clientRep" view-mode="brief-view"></userview></br>
                   <div class="reprole">{{clientRep.role}}</div>
               </div>
               <div class="chevron-div col-xs-1 col-sm-1 col-md-1"></div>
               <div class="rep-hidden-details collapse col-xs-11 col-sm-12 col-md-12" id="client{{$index}}">
                <userview user-model="clientRep" view-mode="detial-view"></userview>
            </div>
            </div>
    </div>
</div>
<div class="client-rep">
    <!-- {{(cscData|filter:query).length}} -->
    <div class="heading">CSC REPRESENTATIVES</div>
    <div ng-show="(cscData|filter:query).length==0">No CSC Representatives Found</div>
    <div class="list-group">
        <div href="#" class="list-group-item" ng-repeat="cscRep in cscData | filter:query" ng-click="collapseDiv($index,'cscRep')">
            <div class="representative-pic col-xs-2 col-sm-1 col-md-1">
                <userview user-model="cscRep" view-mode="bullet-small"></userview>
            </div>
            <div class="representative-bios-div col-xs-8 col-sm-10 col-md-10" >
                <userview user-model="cscRep" view-mode="brief-view"></userview>
                <br>
            <span class="reprole">{{cscRep.role}}</span>
            </div>
            <div class="chevron-div col-xs-1 col-sm-1 col-md-1"></div>
            <div class="rep-hidden-details collapse col-xs-11 col-sm-12 col-md-12" id="cscRep{{$index}}">
                <userview user-model="cscRep" view-mode="detial-view"></userview>
         </div>
         </div>
 </div>
</div>
</div>

