#client-information {
    background-color:;
    padding-top: 42px;
    padding-bottom: 25px;
    /*
    .glyphicon {
        color: #888;
    }*/
}
    .company-logo-category,
    .past-events,
    .current-engagement,
    .prime-competitors {
        margin: 10px;

        background-color: #fff;
        display: block;
        padding: 10px;
        box-shadow: 2px 2px 2px #c1c1c1;
    }
    .client-rep,
    .company-logo-category,
    .past-events,
    .current-engagement,
    .prime-competitors {
        margin-bottom: 0px;
    }
    .company-logo-category {
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
    }
    .company-logo {
            border-right: 1px solid #d0d0d0;
            text-align: center;
       padding-left: 2px;

        }
           .company-logo img {
                width: 62px;
            }
        
        .client-category {
            color: #CDBA39;
            font-size: 0.9em;
            font-family: robotoRegular;
            padding: 5px;
        }
        .team-size {
            font-size: 0.9em;
            font-family: robotoRegular;
            color: #888;
            padding: 5px;
            .size-figure {
                color: #6C6C6C;
            }
     }
/*pastevents*/
      .past-events {}
        .past-events  .list-group-item {
            display: inline-block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #dddddd;
            padding: 0px;
            border-radius: 0px;
            font-family: robotoRegular;
        }
            .past-visit-date,
            .past-visit-name,
            .past-visit-details {
                padding: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .past-visit-date {
                color: #777777;
                font-weight: bold;
            }
            .past-visit-name {
                color: #444444;
                font-weight: bold;
            }
            .past-visit-details {
                font-size: 0.8em;
                border-top: 1px solid #d0d0d0;
                opacity: 0;
                transition: opacity 0.5s ease-out;
                display: none;
            }
            .past-visit-details.active {
                opacity: 1;
            }
            .past-events  .chevron-div1 {
                margin-top: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .past-visits-links {
                padding-top: 15px;
                padding-bottom: 5px;}

                .past-visits-links  a,
                 .past-visits-links a:hover {
                    color: #666666;
                    font-weight: bold;
                    font-size: 1.1em;
                    border-bottom: 1px solid #EF2525;
                    padding: 4px;
                }
                .past-visits-links  a:hover {
                    background-color: #EF2525;
                    border: none;
                    color: #fff;
                }
                .past-visits-links  a:first-child {
                    margin-right: 15px;
                }
          
         .past-events .list-group-item:first-child {
            margin-top: 5px;
        }
     

  /* current engagement*/
     .current-engagement {}
      .current-engagement .list-group-item {
            display: inline-block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #dddddd;
            padding: 0px;
            border-radius: 0px;
            font-family: robotoRegular;}
            .cur-project-name,
            .cur-project-details {
                padding: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .cur-project-details {
                font-size: 0.8em;
                border-top: 1px solid #d0d0d0;
                opacity: 0;
                transition: opacity 0.5s ease-out;
                display: none;
            }
            .cur-project-details.active {
                opacity: 1;
            }
          .current-engagement   .chevron-div1 {
                margin-top: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
       
     .current-engagement    .list-group-item:first-child {
            margin-top: 5px;
        }


  /*pre  competitors*/
     .competitors-list {
            display: -webkit-flex;
            display: -webkit-box;
            display: -moz-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
        }
           .competitors-list .img-div {
                border-left: 1px solid #d0d0d0;
                text-align: center;
                padding-left: 10px;
            }
            .competitors-list .img-div img {
                    width: 62px;
                }
            
            .img-div:first-child {
                border-left: none;
}
  