.factsheet-main-container {
  width: 100%;
  text-align: center;
  background-color: #f7f9fb;
}

.divtop{
  padding-top: 70px;
}
.factsheet-scrollable-block {
  height: auto;
  width: auto;
}
  .dropdown-menu{
        background-color: white;

      }
.factsheet-menu-block {
  width: 100%;
  background-color: #fff;
  position: fixed;
  height: 100%;
  z-index: 20;
  opacity: 0.9;
}

.factsheet-menu-content {
  position: absolute;
  bottom: 180px;
  right: 0;
}

.factsheet-top-block {
  width: 100%;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  background-color: #eae9f4;
  margin-top: 50px;
}

.factsheet-down-block {
  width: 100%;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  background-color: #eae9f4;
  margin-top: 10px;
padding-bottom: 20px;
}
.img-factsheet {
  width: 160px;
  height: 184px;
  margin-left: 5px;
  margin-right: 5px;
}

.factsheet-csc-logo {
  margin-left: 170px;
}

.imgBlock {
  display: inline-block;
}

.bottomrow {
  padding-bottom: 30px;
}

.startedBlock, .professionalsBlock, .clientsBlock, .top10Block, .largestBlock {
  display: inline-block;
  position: relative;
  color: #fff;
}

.middlerow {
  margin-bottom: -35px;
  margin-top: -35px;
}

.startedText1 {
  position: absolute;
  top: 60px;
  font-size: 20px;
  font-family: workSansBold;
  width: 100%;
  left: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.startedText2 {
  position: absolute;
  top: 80px;
  font-size: 35px;
  font-family: antonioBold;
  width: 100%;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.professionalsText1 {
  position: absolute;
  top: 60px;
  font-size: 35px;
  font-family: antonioBold;
  width: 100%;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.professionalsText2 {
  position: absolute;
  top: 100px;
  font-size: 18px;
  font-family: workSansBold;
  width: 100%;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.clients-block-text-1 {
  position: absolute;
  top: 40px;
  font-size: 24px;
  font-family: antonioBold;
  width: 100%;
  left: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.clients-block-text-2 {
  position: absolute;
  top: 100px;
  font-size: 18px;
  font-family: workSansBold;
  width: 100%;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.top10text1 {
  position: absolute;
  top: 60px;
  font-size: 24px;
  font-family: antonioBold;
  width: 100%;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.top10text2 {
  position: absolute;
  top: 100px;
  font-size: 14px;
  font-family: workSansBold;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  left: 0;
}

.largest-text-1 {
  position: absolute;
  top: 60px;
  font-size: 24px;
  font-family: antonioBold;
  width: 100%;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.largest-text-2 {
  position: absolute;
  top: 100px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: workSansBold;
  width: 100%;
  left: 0;
}

.factsheet-second-block {
  margin-top: 20px;
}

.indiaMapBlock {
  display: inline-block;
  position: relative;
  font-family: robotoBold;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px #555555;
  margin-bottom: 30px;
}

.map-title {
  width: 100%;
  text-align: left;
  padding: 20px 20px;
  font-size: 22px;
  font-family: workSansMedium;
  color: #555555;
  margin-top: 0;
  margin-bottom: 0;
}

.indiaMap {
  width: 550px;
  height: 600px;
}

.loc1 {
  left: 170px;
  position: absolute;
  top: 155px;
}

.loc2 {
  left: 140px;
  position: absolute;
  top: 290px;
}

.loc3 {
  left: 85px;
  position: absolute;
  top: 300px;
}

.loc4 {
  left: 85px;
  position: absolute;
  top: 360px;
}

.loc5 {
  left: 176px;
  position: absolute;
  top: 414px;
}

.loc6 {
  bottom: 64px;
  left: 170px;
  position: absolute;
}

.loc7 {
  bottom: 69px;
  left: 212px;
  position: absolute;
}



.marker {
  width: 15px;
  height: 24px;
  color: red;

}

.markerText1 {
  font-family: workSansMedium;
  font-weight: bold;
  bottom: -1px;
  left: -2px;
  position: absolute;
 color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.markerText2, .markerText4, .markerText5 {
   font-family: workSansMedium;
  font-weight: bold;
  bottom: -2px;
  position: absolute;

    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.markerText3 {
   font-family: workSansMedium;
  font-weight: bold;
  bottom: -7px;
  left: -21px;
  position: absolute;
 color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.markerText6 {
   font-family: workSansMedium;
  font-weight: bold;
  bottom: -10px;
  position: absolute;
  right: 5px;
   color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.markerText7 {
   font-family: workSansMedium;
  font-weight: bold;
  bottom: -10px;
  left: -2px;
  position: absolute;
     color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.menuBtn {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 30px;
  bottom: 30px;
  z-index: 50;
}

.backDiv {
  background-color: #eae9f4;
  opacity: 0.9;
  padding: 0;
  position: fixed;
  text-align: left;
  top: 0;
  z-index: 1;
}

.backIcon {
  margin: 20px 20px 10px 20px;
  width: 40px;
  height: 28px;
}
.factsheet-fifth-block{
  padding-top: 125px;
}
.factsheet-menu-item {
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 18px;
  font-family: workSansMedium;
  color: #555555;
  margin-top: 0;
  margin-bottom: 0;
}
/* rewards less */
#industries {
  background-color: #F4ECE9;
}

#industries .heading,
#rewards-recognition .heading,
#certifications .heading {
  color: #555555;
  font-size: 16px;
  padding: 5px;
  margin-top: 0;
  font-family: workSansMedium;
  text-align: left;
}

#industries .row div {
  text-align: center;
  color: #7E685B;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#industries .row div label {
  font-weight: 100;
  padding-top: 10px;
  font-family: workSansSemiBold;
}

#industries .row div img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

#rewards-recognition {
  background-color: #F5EAD4;
}

#rewards-recognition .row .reward-set div {
  height: 85px;
  text-align: left;
}

#rewards-recognition img {
  width: 120px;
}

#rewards-recognition .reward-set img {
  width: 72px;
  display: block;
}

#rewards-recognition label {
  color: #8E6D25;
  font-size: 12px;
  font-family: workSansBold;
  padding-top: 5px;
  text-align: left;
}

.reward-badge-container {
  text-align: center;
}

#certifications {
  background-color: #F3E9F4;
}

#certifications .row div {
  text-align: center;
}

#certifications .row div img {
  width: 100px;
  padding: 10px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}/* journey so far */

    .factsheet-third-block {
        width: 100%;
        text-align: center;
        background-color: #ebf1e5;
        padding-bottom: 20px;
    }
    .ftb-journey-block {
        position: relative;
        height: 300px;
    }
    .ftb-year-class {
        position: absolute;
        left: 24%;
        font-size: 30px;
        font-family: antonioBold;
        color: #b4d191;
    }
    .ftb-slice-class {
        position: absolute;
        height: 310px;
        width: 20px;
        left: 29%;
    }
    .ftb-third-block {
        position: absolute;
        height: 170px;
        width: 145px;
        top: 9%;
        left: 32%;
    }
    .ftb-image1Class {
        height: 170px;
        width: 145px;
        padding-bottom: 30px;
    }
    .ftb-text-1 {
        position: absolute;
        top: 25%;
        left: 26%;
        font-size: 30px;
        font-family: workSansBold;
        color: #fff;
    }
    .ftb-text-2 {
        position: absolute;
        top: 43%;
        left: 17%;
        font-size: 17px;
        font-family: workSansSemiBold;
        color: #fff;
    }
    .ftb-second-block {
        position: absolute;
        height: 200px;
        width: 200px;
        top: 25%;
        left: 39%;
    }
    .ftb-circle-class {
        height: 200px;
        width: 200px;
    }
        .ftb-circle-class-circle {
            stroke: none;
            fill: #88ba41;
        }
    
    .ftb-title-text {
        position: absolute;
        width: 52%;
        top: 30%;
        left: 19%;
        font-size: 16px;
        font-family: workSansSemiBold;
        color: #fff;
    }
    .ftb-title-class {
        position: absolute;
        top: 98%;
        left: 32%;
        font-size: 16px;
        font-family: workSansLight;
        color: #3f561e;
    }


@media only screen and (max-device-width: 1024px) {
   
        .ftb-year-class {
            left: 17%;
        }
        .ftb-slice-class {
            left: 26%;
        }
        .ftb-text-1 {
            left: 26%;
        }
        .ftb-text-2 {
            left: 16%;
        }
        .ftb-title-text {
            left: 29%;
        }
        .ftb-title-class {
            left: 32%;
        }
    
}

@media only screen and (max-device-width: 760px) {

        .ftb-year-class {
            left: 6%;
        }
        .ftb-slice-class {
            left: 22%;
        }
        .ftb-second-block {
            top: 29%;
            left: 45%;
        }
        .ftb-text-1 {
            left: 24%;
        }
        .ftb-text-2 {
            left: 12%;
        }
        .ftb-title-text {
            left: 23%;
        }
        .ftb-title-class {
            left: 32%;
        }
    
}


@media only screen and (max-device-width: 320px){ 
  .ftb-year-class {
            left: 2%;
        }
        .ftb-slice-class {
            left: 20%;
        }
        .ftb-second-block {
            left: 37%;
        }
        .ftb-text-1 {
            left: 22%;
        }
        .ftb-text-2 {
            left: 13%;
        }
        .ftb-third-block {
            left: 29%;
        }
        .ftb-title-text {
            top: 36%;
            left: 21%;
        }
        .ftb-title-class {
            left: 38%;
        }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  .img-factsheet {
    width: 75px;
    height: 89px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .factsheet-csc-logo {
    margin-left: 100px;
  }

  .map-title {
    font-size: 16px;
  }

  .middlerow {
    margin-top: -20px;
    margin-bottom: -20px;
  }

  .startedText1 {
    font-size: 10px;
    top: 15px;
  }

  .startedText2 {
    font-size: 19px;
    top: 45px;
  }

  .professionalsText1 {
    font-size: 19px;
    top: 15px;
  }

  .professionalsText2 {
    font-size: 10px;
    top: 45px;
    word-break: break-all;
  }

  .clients-block-text1 {
    font-size: 19px;
    top: 40px;
  }

  .clients-block-text-2 {
    font-size: 10px;
    top: 20px;
  }

  .top10text1 {
    font-size: 19px;
    top: 15px;
  }

  .top10text2 {
    font-size: 8.4px;
    padding-left: 5px;
    padding-right: 5px;
    top: 35px;
  }

  .largest-text-1 {
    font-size: 13.2px;
    top: 20px;
  }

  .largest-text-2 {
    font-size: 8px;
    padding-left: 15px;
    padding-right: 15px;
    top: 45px;
  }

  .indiaMapBlock {
    font-size: 12px;
  }

  .indiaMap {
    width: 275px;
    height: 300px;
  }

  .loc1 {
    left: 85px;
    top: 75px;
  }

  .loc2 {
    left: 65px;
    top: 135px;
  }

  .loc3 {
    left: 40px;
    top: 138px;
  }

  .loc4 {
    left: 38px;
    top: 173px;
  }

  .loc5 {
    left: 90px;
    top: 200px;
  }

  .loc6 {
    bottom: 33px;
    left: 84px;
  }

  .loc7 {
    bottom: 35px;
    left: 101px;
  }
    .ftb-year-class {
            left: 10%;
        }
        .ftb-slice-class {
            left: 20%;
        }
        .ftb-second-block {
            left: 37%;
        }
        .ftb-text-1 {
            left: 22%;
        }
        .ftb-text-2 {
            left: 13%;
        }
        .ftb-third-block {
            left: 29%;
        }
        .ftb-title-text {
            top: 36%;
            left: 21%;
        }
        .ftb-title-class {
            left: 38%;
        }
}
@media only screen and (min-device-width: 485px)and (max-device-width: 768px) {

  .backIcon {
    width: 25px;
    height: 20px;
  }

  .img-factsheet {
    width: 133px;
    height: 154px;
  }

  .factsheet-csc-logo {
    margin-left: 150px;
  }

  .middlerow {
    margin-top: -27px;
    margin-bottom: -27px;
  }

  .startedText1 {
    top: 45px;
    font-size: 11px;
  }

  .startedText2 {
    top: 70px;
    font-size: 24px;
  }

  .professionalsText1 {
    top: 45px;
    font-size: 24px;
  }

  .professionalsText2 {
    font-size: 11px;
    top: 80px;
  }

  .clients-block-text-1 {
    font-size: 24px;
    top: 45px;
  }

  .clients-block-text-2 {
    font-size: 11px;
    top: 80px;
  }

  .top10text1 {
    font-size: 24px;
    top: 45px;
  }

  .top10text2 {
    font-size: 11px;
    padding-left: 12px;
    padding-right: 12px;
    top: 80px;
  }

  .largest-text-1 {
    font-size: 24px;
    top: 45px;
  }

  .largest-text-2 {
    top: 80px;
    font-size: 11px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .indiaMapBlock {
    font-size: 14px;
  }

  .map-title {
    font-size: 18px;
  }

  .indiaMap {
    width: 385px;
    height: 420px;
  }

  .marker {
    width: 15px;
    height: 24px;
  }

  .loc1 {
    left: 120px;
    top: 105px;
  }

  .loc2 {
    left: 95px;
    top: 200px;
  }

  .loc3 {
    left: 59px;
    top: 205px;
  }

  .loc4 {
    left: 56px;
    top: 245px;
  }

  .loc5 {
    left: 127px;
    top: 287px;
  }

  .loc6 {
    bottom: 44px;
    left: 118px;
  }

  .loc7 {
    bottom: 47px;
    left: 148px;
  }

  .menuBtn {
    width: 45px;
    height: 45px;
  }
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  #rewards-recognition .reward-set img {
    width: 85px;
  }

  #industries .row div img {
    width: 75px;
  }

  #industries .row div {
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1439px) {
  #rewards-recognition img {
    width: 150px;
  }

  #rewards-recognition .row .reward-set div {
    height: 100px;
  }

  #rewards-recognition .reward-set img {
    width: 100px;
  }

  #industries .row div img {
    width: 75px;
  }

  #industries .row div {
    font-size: 12px;
  }
}
/* facts journey */
.factsheet-third-block {
  width: 100%;
  text-align: center;
  background-color: #ebf1e5;
  padding-bottom: 20px;
}

.ftb-journey-block {
  position: relative;
  height: 300px;
}


.ftb-slice-class {
  position: absolute;
  height: 310px;
  width: 20px;
  left: 29%;
}

.ftb-third-block {
  position: absolute;
  height: 170px;
  width: 145px;
  top: 9%;
  left: 32%;
}

.ftb-image1Class {
  height: 170px;
  width: 145px;
  padding-bottom: 30px;
}

.ftb-text-1 {
  position: absolute;
  top: 25%;
  left: 26%;
  font-size: 30px;
  font-family: workSansBold;
  color: #fff;
}

.ftb-text-2 {
  position: absolute;
  top: 43%;
  left: 17%;
  font-size: 17px;
  font-family: workSansSemiBold;
  color: #fff;
}

.ftb-second-block {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 25%;
  left: 39%;
}

.ftb-circle-class {
  height: 200px;
  width: 200px;
  .ftb-circle-class-circle {
    stroke: none;
    fill: #88ba41;
  }
}

.ftb-title-text {
  position: absolute;
  width: 52%;
  top: 30%;
  left: 19%;
  font-size: 16px;
  font-family: workSansSemiBold;
  color: #fff;
}

