
.cvm-gallery-header {
  /*opacity: 0.8;*/
  
  text-align: center;
  padding-top: 80px;
}
.cvm-gallery-header .headerTitle {
  margin: 0;
  height: 33%;
  font-family: workSansSemiBold;
  letter-spacing: 5px;
  padding-top: 10px;

}
.cvm-gallery-footer {
  margin-top: 140px;
  padding: 0 20px 20px 20px;
  font-family: workSansRegular;
  height: 33%;

  h2 {
    font-size: 30px;
  }
}
.header-temp-div {
  height: 33%;
  font-family: workSansExtraLight;
  font-size: 40px;

  .sec1 {
    width: 45px;
    height: 45px;
    margin-top: -15px;
  }

  .sec3 {
    color: #afbbc5;
  }

  .sec5 {
    font-size: 24px;
  }

  .sec6 {
    font-size: 24px;
    color: #90a6b5;
  }
}

.header-precipitation-div {
  height: 33%;
  font-family: workSansRegular;

  .sec1 {
    font-size: 22px;
  }

  .sec2 {
    font-size: 36px;
    font-family: workSansLight;
    color: #cfdce4;
  }

  .sec2 .text2 {
    color: #7c96a7;
  }
}
h4{
  padding-top: 0px;
}
.desc{
  font-family:robotoRegular ;
  font-size: 12px;
  padding: 0px 20px;
  text-decoration: justify;
}
.quickfacts{
  font-family: robotoRegular ;
  font-size: 14px;
  padding: 0px 20px;
}

.banner img {
  padding: 0px 40px;
width:100%;
height: 350px;
}

.factheader{
   
  text-align: center;
   margin: 0;
  height: 33%;
  font-family: workSansSemiBold;
  letter-spacing: 5px;
  padding-top: 0px;
}

@media only screen and (max-width: 570px) {

  .carousel-indicators li {
    width: 60px;
    height: 60px;

  }

  .carousel-indicators .active {
    width: 60px;
    height: 60px;
  }

  .cvm-gallery-footer {
    margin-top: 100px;

    h2 {
      font-size: 22px;
    }
  }

  .cvm-gallery-header .headerTitle {
    font-size: 30px;
  }

  .locDesc p {
    font-size: 15px;
  }

  .header-temp-div {
    font-size: 34px;

    .sec1 {
      width: 35px;
      height: 35px;
      margin-top: -10px;
    }

    .sec5, .sec6 {
      font-size: 18px;
    }
  }

  .header-precipitation-div {
    .sec1 {
      font-size: 18px;
    }
    .sec2 {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .carousel-indicators {
    padding-top: 10px;
  }

  .carousel-indicators li {
    width: 48px;
    height: 48px;
  }

  .carousel-indicators .active {
    width: 48px;
    height: 48px;
  }

  .cvm-gallery-footer {
    margin-top: 70px;

    h2 {
      font-size: 20px;
    }
  }

  .cvm-gallery-header .headerTitle {
    font-size: 28px;
  }

  .locDesc p {
    font-size: 13px;
  }

  .header-temp-div {
    font-size: 30px;
    .sec5, .sec6 {
      font-size: 16px;
    }
  }

  .header-precipitation-div {
    .sec1 {
      font-size: 13px;
    }
    .sec2 {
      font-size: 24px;
    }
  }
}