#session-details-page {
    background-color: #eeeeee;
}
.header{margin-top: 50px;
position: relative;}

.header {
    background-color: #fff;
    position: relative;
    width: 100%;
    top: 0;
   
    text-align: center;
    box-shadow: 2px 2px 5px #676767;
    z-index: 1;
}
.time-session-name-div {

    color: #850057;
    font-size: 10px;
    display: inline-block;
    width: 100%;
    padding-top: 50px;}

    .session-time {
      color: #850057;
       float: left;
       text-align: right;
       width: 40%;
       padding-right: 5px;
       font-family: workSansRegular;
   }

   .session-name {
        color: #850057;
       float: left;
       text-align: left;
       font-family: workSansBold;
       letter-spacing: 2px;
   }

   .venue-feedback-div {
       font-size: 0.8em;
       color: #777;
       font-family: robotoMedium;
       display: inline-block;
       width: 100%;
       text-align: center;
       padding-right: 150px;
   }
   .session-venue {
    /*float: left;*/
    text-align: center;
    width: auto;
    /*padding-right: 15px;*/
}
.feedback-button {
    float: left;
    text-align:center;
    img {
        width: 10px;
    }
}
.session-contents {
    margin-top: 0px;
}



.session-description-div,
.session-presenter,
.session-participants {
 margin: 10px;
 background-color: #fff;
 display: inline-block;
  width: 99%;
 box-shadow: 2px 2px 2px #c1c1c1;
 padding-left: 20px;
}
.session-description {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: robotoRegular;
    font-size: 1.0em;
}
.session-heading {

    color: #ef2525;
    font-family: workSansLight;
    font-size: 1.0em;
    padding-bottom: 5px;
}


@media only screen and (max-device-width: 320px){
  .client-rep {
    padding: 5px; 
  }
}