
.agenda-parent-div {
  /*position: relative;*/
  color: #000;
 
  /*height: 100%;*/
  overflow-y: hidden; 
  padding-top: 20px;

  }

.scroll
{
  width:100%;
}

.agenda-header-div ul {
  
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 2px;
  
}


  

  .day-agenda-header{
    background: linear-gradient(#87075A, #9B3678);
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
    font-family: robotoCondensedBold;
    font-size: 24px;
    text-align: center;
  }

  

  .feedback-link{
    text-decoration: underline;
    margin-left: 50px;
    color: #969696;
    -moz-text-decoration-color: #d6d6d6; /* Code for Firefox */
    text-decoration-color: #d6d6d6;

        }
  .day-agenda-header-img{
    width: 25px;
    height: 30px;
  }
  .session-img{
    width: 25px;
    height: 20px;
  }


  .expand-session {
    float: right;
  }
  .schday{
    font-size: 10px;
    font-weight: normal;
  }

  .agenda-session-overview {
    padding-left: 50px;
  }

  .agenda-session-block {
    border-left: 7px solid #fff;
    /*padding-top: 20px;*/
  }

  .agenda-block-sub-div {
    border-left: 1px solid #000;
    margin-left: 20px;
    padding: 10px 0;
    border-bottom: 1px solid purple;
  }

  .session-status-img {
    width: 50px;
    height: 50px;
    margin-left: -19px;
  }
  #session1 {
    background-color: #F3E8EC;
    border-left: 7px solid #850157;
  }

  .agenda-session-time {
    font-family: antonioBold;
    font-size: 36px;
    color: #87075A;
  }

  .agenda-session-name {
    font-family: workSansLight;
    font-size: 36px;
    color: #87075A;
  }
  .agenda-session-loc {
    color: #999999;
    font-family: workSansMedium;
    font-size: 20px;
  }


          .agenda-session-feedback-div {
            background-color: #f8f8f8;
            margin-left: 0px;
            padding: 0 38px;
            margin-top: -8px;
            /*box-shadow: 0 18px 20px -5px #c5c5c5 inset;   */
            box-shadow: 0 8px 3px -8px #c5c5c5 inset, 0 8px 3px -8px #c5c5c5 inset;
            display: none;
        }
        .agenda-session-feedback--visible {
            display: block;
        }
        .agenda-session-feedback-block {
            border-left: 1px dashed #cccccc;
            margin-left: -1px;
        }
        #feedback-section {
            font-size: 15px;}

            .feedback-form {
                padding: 15px 30px 25px 30px;
                box-shadow: 0 8px 3px -8px #c5c5c5 inset, 0 8px 3px -8px #c5c5c5 inset;
            }
        .feedback-triangle{
              
               height: 12.5px;
              margin-top: 35px;
              margin-left: -70px;
               position: absolute;
              
                width: 21px;

        }
@media screen and (min-width: 1000px) {
  
  .agenda-list  li{
      display: inline;
      margin-right: 100px;
    }
  
 /*.inactivetab{  
 color:  grey;
    font-size: 0.8em;
    font-family: workSansBold;
    color: @futureAgendaSessionNameColor;
  }*/
  .agenda-list a {  
 color:  #87075A;
    font-size: 1em;
    font-family: workSansBold;
    color: @futureAgendaSessionNameColor;
  }
  .schday{
    font-size: 10px;
    font-family:  workSansMedium;
  }

.agenda-list a:focus .schday{
 
 display: none;

}


/* selected link */
.agenda-list a:focus {

  border-bottom: 3px solid purple;
font-size: 1.6em;
height: 35px;
vertical-align: top;



}


   
}
@media screen and (max-width: 940px) {

  .agenda-list  li{
      display: inline;
      margin-right: 50px;
    }
  

  .agenda-list a {  
    font-size: 1em;
    font-family: workSansBold;
    color: @futureAgendaSessionNameColor;
  }

.agenda-list a:focus .schday{
 
 display: none;

}
 .schday{
    font-size: 10px;
    font-family:  workSansMedium;
  }


/* selected link */
.agenda-list a:focus {

  border-bottom: 3px solid purple;
font-size: 1.6em;
height: 35px;
vertical-align: top;



}
   
}

@media screen and (max-width: 600px) {
 
  .agenda-list  li{
      display: inline;
      margin-right: 30px;
     
    }
  

  .agenda-list a {  
    font-size: 1em;
    font-family: workSansBold;
    color: @futureAgendaSessionNameColor;
  }

.agenda-list a:focus .schday{
 
 display: none;

}
 .schday{
    font-size: 10px;
    font-family:  workSansMedium;
  }


/* selected link */
.agenda-list a:focus {

  border-bottom: 3px solid purple;
font-size: 1.6em;
height: 35px;
vertical-align: top;



}

   


 