#session-details-page {
    background-color: #eeeeee;
}
.prtcptpic{
    height:95px;
    width: 100px;
}
.prestrpic{
  height:90px;
  width: 100px;  
}
.heading{
    color: #ef2525;
    font-family: workSansLight;
    font-size: 1.0em;
    padding-bottom: 5px;
}
.session-heading {

    color: #ef2525;
    font-family: workSansLight;
    font-size: 1.0em;
    padding-bottom: 5px;
}
.reach-presenter {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-top: 5px;
}
.reach-presenter-text {
    align-self: center;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 12px;
    color: #8a8a8a;
}
.phone,
.email {
    margin-left: 3px;
    align-self: center;
}
.phone {
    .sprite(@phone-icon-20px);
}
.email {
    .sprite(@mail-icon-20px);
}
.tele-link {
    margin-left: 5px;
    margin-right: 10px;
}

.session-image img {
    width: 100%;
    height: 100%;
}
.presenter-pic img,
.participant-pic img {
    width: 60px;
}
.list-group-item:first-child {
    margin-top: -10px;
}
.list-group-item {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #dddddd;
    padding: 0px;
    border-radius: 0px;
    width: 100%;
}
.participant-bios-div {
    padding-left: 30px;
    padding-top: 20px;
}
.participant-pic {
    padding-top: 10px;
    padding-bottom: 10px;
}

.session-description-div,
.session-presenter,
.session-participants {
 margin: 10px;
 background-color: #fff;
 display: inline-block;

 box-shadow: 2px 2px 2px #c1c1c1;
}
.session-presenter,
.session-participants {
   margin-top: 0;
}
.session-participants {
    display: block;
}
.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px #676767;
    z-index: 1;
}
.time-session-name-div {

    color: #850057;
    font-size: 0.8em;
    display: inline-block;
    width: 100%;
    padding-top: 50px;}

    .session-time {
            color: #850057;
       float: left;
       text-align: right;
       width: 40%;
       padding-right: 5px;
       font-family: workSansRegular;
   }

   .session-name {
        color: #850057;
       float: left;
       text-align: left;
       font-family: workSansBold;
       letter-spacing: 2px;
   }

   .venue-feedback-div {
       font-size: 0.8em;
       color: #777;
       font-family: robotoMedium;
       display: inline-block;
       width: 100%;
       text-align: center;
   }
   .session-venue {
    float: left;
    text-align:right;
    width: 65%;
    padding-right: 15px;
}
.feedback-button {
    float: left;
    text-align:center;
    img {
        width: 10px;
    }
}
.session-contents {
    margin-top: 80px;
}
.presenter-pic,
.participant-pic {
    padding: 0px;
}
.session-description {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: robotoRegular;
    font-size: 0.8em;
}
.share {
    padding-top: 5px;
    border-top: 1px solid #d0d0d0;
    float: right;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    color: #767676;
    font-family: robotoRegular;
    font-size: 0.8em;
    padding-right: 5px;
    div {
        align-self: center;
    }
    .share-icon-img {
        .sprite(@share-icon-20px);
        margin-right: 4px;
    }
}
.presenter-bios-div {
    padding-left: 25px;
    padding-right: 0;
}
.presenter-name,
.participant-name {
    font-family: robotoBold;
    color: #676767;
}
.presenter-designation,
.participant-designation {
    font-family: robotoBold;
    color: #8a8a8a;
    font-size: 0.8em;
    margin-bottom: 12px;
}
.presenter-bios {
    font-family: robotoRegular;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}


@media (min-width: 375px) {
    #session-details-page {}
    .presenter-bios-div,
    .list-group-item .participant-bios-div {
        padding-left: 15px;
    }

}

@media (min-width: 411px) {
    #session-details-page {
        font-size: 18px;}
        .session-description-div,
        .session-presenter,
        .session-participants {
            margin: 12px;
            margin-top: 6px;
            margin-bottom: 6px;
        }
        .session-description-div {
            margin-top: 28px;
        }
        
    }

    @media (min-width: 600px) {
        #session-details-page {
            font-size: 25px;}
            .header {}
            .venue-feedback-div {}
            .session-venue {
                width: 59%;
                img {
                    width: 15px;
                }
            }
            .feedback-button img {
                width: 20px;
            }

            .time-session-name-div {}
            .session-time {
                width: 43%;
            }


            .session-contents {
                margin-top: 120px;
            }
            .list-group-item .participant-pic {
                padding-top: 17px;
                padding-bottom: 17px;
            }
            .session-description-div,
            .session-presenter,
            .session-participants {
                margin: 15px;
                margin-top: 8px;
                margin-bottom: 8px;
                padding: 15px;
            }
            .session-description-div {
                margin-top: 15px;
            }
            .presenter-bios-div,
            .list-group-item .participant-bios-div {
                padding-left: 45px;
            }
            .presenter-pic img,
            .participant-pic img {
                width: 85px;
            }

        }

        @media (min-width: 800px) and (max-width: 801px) {
            #session-details-page {
                font-size: 32px;}
                .session-description-div {
                    margin-top: 45px;
                }

            }

            @media (min-width: 992px) {
                #session-details-page {}
                .presenter-bios-div,
                .list-group-item .participant-bios-div {
                    padding-left: 25px;
                }
                .header {}
                .venue-feedback-div {}
                .session-venue {
                    width: 55%;
                    img {
                        width: 15px;
                    }
                }
                .feedback-button img {
                    width: 20px;
                }
                
                .time-session-name-div {
                    .session-time {
                        width: 43%;
                    }
                }

                .reach-presenter {}
                .email {
                    .sprite(@mail-icon-25px);
                }
                .phone {
                    .sprite(@phone-icon-25px);
                }


            }

            @media (min-width: 1200px) {
                #session-details-page {
                    font-size: 32px;}
                    .header .time-session-name-div .session-time {
                        width: 49.5%;
                    }
                    .session-description-div {
                        margin-top: 0px;
                    }

                }

                @media only screen and (min-device-width: 1280px) and (max-device-width: 1439px) {
                    #session-details-page {}
                    .header .time-session-name-div .session-time {
                        width: 43.5%;
                    }

                }