/*#session-details-page {
    background-color: #eeeeee;
}*/
.header{
margin-top: 50px;
position: relative;
}

.header {
  background-color: #fff;
  position: relative;
  width: 98%;
  top: 0;

  text-align: center;
  box-shadow: 2px 2px 5px #676767;
  z-index: 1;
}
.time-session-name-div {

    color: #850057;
    font-size: 10px;
    display: inline-block;
    width: 100%;
}

.session-time {
     color: #850057;
     float: left;
     text-align: right;
     width: 40%;
     padding-right: 5px;
     font-size: 15px;
     font-family: workSansRegular;
}

.session-name {
    color: #850057;
   float: left;
   text-align: left;
   font-family: workSansBold;
    font-size: 15px;
   letter-spacing: 2px;
}

.venue-feedback-div {
   font-size: 0.8em;
   color: #777;
   font-family: robotoMedium;
   display: inline-block;
   width: 100%;
   text-align: center;
}
 .session-venue {
  float: left;
  text-align:right;
  width: 65%;
  font-size: 15px;
  padding-right: 15px;
}
.feedback-button {
    float: left;
    text-align:center;
    img {
        width: 10px;
    }
}
.session-contents {
    margin-top: 0px;
}



.session-description-div, .session-participants, .session-presenter
 {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    background-color: #fff;
    display: inline-block;
    width: 99%;
    box-shadow: 2px 2px 2px 1px #c1c1c1;
    margin-left: 20px;
}

.session-description {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: robotoRegular;
    font-size: 1.0em;
}
.session-heading {

    color: purple;
    font-family: workSansLight;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 5px;
}

@media screen and (max-width: 320px){
  .divtop{
    padding-top: 150px;
  }

  .session-description-div, .session-presenter,.session-presenter
  {
    margin-left: 5px;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .session-description-div, .session-presenter,.session-presenter
  {
    margin-left: 5px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .session-description-div, .session-presenter,.session-presenter
  {
    margin-left: 7px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .session-description-div, .session-presenter,.session-presenter
  {
    margin-left: 10px;
  }

}