
.agenda-parent-div {
  /*position: relative;*/
  color: #000;

  /*height: 100%;*/
  overflow-y: hidden;
  padding-top: 2px;

  }
.scroll-outer {
  overflow-x:hidden;
}

.agenda-list a{
  color: black;
}

  .agenda-block-sub-div-cancel {
    background-color: #d3d3d3;
    border-left: 1px solid #000;
    margin-left: 20px;
    padding: 10px 0;
    border-bottom: 1px solid red; }
  
  .feed{
    display: none;


  }
.agenda-cancel-se{
      background: rgba(0, 0, 0, 0.5);}
.scroll-inner{
 
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: -15px;
  padding-bottom: 10px;
}
 ul {

    -webkit-padding-start: 10px;
}
.sessionfeedback{
  background-color: #eeeeee;
}

.scroll
{
  width:100%;
}
.agendatab{
  background-color: #bdbdbd;
  font-size: 1.4em !important;
}
.agenda-list a.active{
    border-bottom: 3px solid red;
    font-size: 1.3em;
    height: 30px;
    vertical-align: top;
}
.agenda-list a.active .schday{

 display: none;

}
.agenda-list a:focus .schday{

 display: none;

}
 .schday{
    font-size: 10px;
    font-family:  workSansMedium;
  }

.agenda-list a:focus {

  border-bottom: 3px solid red;
    font-size: 1.3em;
    height: 30px;
    vertical-align: top;
    color: black;
  }

.agenda-header-div ul {

-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 2px;

}
.day-agenda-header{
    background: linear-gradient(#545454, #939393);
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
    font-family: robotoCondensedBold;
    font-size: 20px;
    text-align: center;
}
.cancel{
  display: none;
}
  .feedback-link{
    text-decoration: underline;
    margin-left: 50px;
    color: red;
		font-size: 14px;
    -moz-text-decoration-color: #d6d6d6; /* Code for Firefox */
    text-decoration-color: #d6d6d6;

  }
  .day-agenda-header-img{
    width: 25px;
    height: 30px;
  }
  .session-img{
    width: 25px;
    height: 20px;
  }


  .expand-session {
    float: right;
  }
  .schday{
    font-size: 10px;
    font-weight: normal;
  }

  .agenda-session-overview {
    padding-left: 50px;
  }

  .agenda-session-block {
    border-left: 7px solid #fff;
    /*padding-top: 20px;*/
  }

  .agenda-block-sub-div {
    border-left: 1px solid #000;
    margin-left: 20px;
    padding: 10px 0;
    border-bottom: 1px solid purple;
  }

  .session-status-img {
    color: black;
    width: 48px;
    
    font-size: 26px;
    margin-left: -10px;
  }
  #session1 {
    background-color: #F3E8EC;
    border-left: 7px solid #850157;
  }

  .agenda-session-time {
    font-family: workSansMedium;
    font-size: 14px;
    color: black;
  }

  .agenda-session-name a {
    font-family: workSansMedium;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
  .agenda-session-loc {
    color: black;
    font-family: workSansMedium;
    font-size: 12px;
  }
  .agenda-session-overview a{
    color: black;
  }
.agenda-session-feedback-div {
    background-color: #f8f8f8;
    margin-left: 0px;
    padding: 0 0px;
    margin-top: -8px;
    /*box-shadow: 0 18px 20px -5px #c5c5c5 inset;   */
    box-shadow: 0 8px 3px -8px #c5c5c5 inset, 0 8px 3px -8px #c5c5c5 inset;
    display: none;
  }
  .agenda-session-feedback--visible {
      display: block;
  }
  .agenda-session-feedback-block {
      border-left: 1px dashed #cccccc;
      margin-left: -1px;
  }
  #feedback-section {
    font-size: 15px;
  }

 .feedback-form {
    padding: 15px 30px 25px 30px;
    box-shadow: 0 8px 3px -8px #c5c5c5 inset, 0 8px 3px -8px #c5c5c5 inset;
  }
  .feedback-triangle{

     height: 22.5px;
    margin-top: 35px;
    margin-left: -70px;
     position: absolute;
    color: grey;
    font-size: 20px;
      width: 21px;

  }

  .feedback-link {
        text-decoration: underline;
        margin-left: 50px;
        color: #969696;
        -moz-text-decoration-color: #d6d6d6;
        /* Code for Firefox */
        text-decoration-color: #d6d6d6;
        display: inline-block;
        cursor: pointer;
        position: relative;}
        .glyphicon-triangle-bottom {
            font-size: 0.7em;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        .rotate-arrow {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
            top: -1px;
        }
        .feedback-triangle {
            bottom: -22px;
            height: 10.5px;
            position: absolute;
            right: 50%;
            width: 21px;
            z-index: 2;
            display: none;
        }

.sel-tab{
  
	font-size: 1.6em !important;
   border-bottom: 3px solid purple !important;
   
    height: 35px !important;
    vertical-align: top;
}

h6{
  visibility: hidden;
}
.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a8a8a8;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #a8a8a8;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #a8a8a8;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #a8a8a8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
 .rangestyle{
  display:inline-block !important; 
  vertical-align:middle !important;
  width: 60% !important;

 }
 .xsbutn{
  width:60px;
 }
 .mdbutn{
  width:90px;
 }
 .modal-header{
    font-family: workSansMedium;
    font-size: 16px;
    color: black;
    font-weight: bold;
    background-color: black;
    color: white;
 }

@media screen and (max-width: 320px){
    .agenda-list  li{
      display: inline;
      margin-right: 45px;
    }
   .mwidth{
  width: 300px;
}

}
@media only screen and (min-device-width: 321px) and (max-device-width: 480px) {

  .agenda-session-name a {
    font-family: workSansMedium;
    font-size: 12px;
     color: black;
    font-weight: bold;
    padding-left: 10px;
  }
  .agenda-session-overview {
    padding-left: 10px;
  }

  .session-status-img {
    width: 20px;
    height: 20px;
    margin-left: -10px;
  }

    .agenda-list  li{
      display: inline;
      margin-right: 35px;

    }
       .mwidth{
  width: 340px;

}
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {

        .agenda-list  li{
        display: inline;
        margin-right: 50px;
    }
          .mwidth{
  width: 700px;

}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .agenda-list  li{
      display: inline;
      margin-right: 60px;
    }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {

        .agenda-list  li{
      display: inline;
      margin-right: 70px;
    }
}
@media only screen and (min-device-width: 1440px) and (max-device-width: 1600px) {

        .agenda-list  li{
      display: inline;
      margin-right: 70px;
    }
}

