.noty-icon{
  font-size: 24px;
  
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px;  /* -1 * image height / 2 */
  display: block;     
}
a,
a:focus,
a:hover {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

#menu .row div,
/*.session-overview .row div,*/
#menu .row div a div {
  display: block;
  text-align: center;
}
div#profile-details {
  padding-top: 60px;
  background: url("/public/uploads/images/f.jpg") no-repeat;
  background-size: 100% 100%;
}

div#profile-details .profile-pic,
div#profile-details .profile-name,
div#profile-details .profile-desc,
div#profile-details .profile-location {
  color: #fff;
  display: block;
  text-align: center;
  padding-bottom: 10px;
  font-family: workSansBold;
  text-shadow: 1px 1px #444444;
}

div#profile-details .profile-location {
  font-family: robotoBold;
}

div#profile-details .profile-name {
  font-size: 1.3125em;
}

div#profile-details .profile-desc {
  font-size: 0.875em;
}

div#profile-details .profile-location {
  padding-bottom: 15px;
  font-size: 0.75em;
}

div#profile-details .profile-location img {
  width: 15px;
  padding-right: 5px;
  display: inline-block;
}
.on-time {
  font-family: robotoCondensedBold;
  color: #9ed352;
  font-size: 0.75em;
}

.second-span {
  font-family: robotoBlack;
  color: #fff;
  font-size: 0.8125em;
}

.third-span {
  font-family: workSansBold;
  color: #efefef;
  font-size: 0.625em;
}

.next {
  font-family: robotoCondensedBold;
  color: #d3d3d3;
  font-size: 0.75em;
}
.dayLike{
  font-size:15px;
  color:#fff;
}
.day,
.loc {
  color: #fff;
  font-size: 0.75em;
  display: block;
  font-family: antonioLight;
}

.day {
  color: #8FBC8F;
}
.date{
  color: #fff;
  font-size: 0.75em;
  display: block;
  font-family: workSansMedium; 
}
.time{
  color: #fff;
  font-size: 0.75em;
  display: block;
  font-family: workSansMedium;
}
.temp{
  color: #fff;
  font-size:13px;
  display: block;
  font-family: workSansMedium;
}
#scrollBox {
  overflow-x: relative;
  overflow-y: hidden;
  -ms-overflow-x: relative;
  -ms-overflow-y: hidden;
  white-space: nowrap;
}
#scrollBox > div {
  display: inline-block;
  margin-right: 5px;
}
#scrollBox > div fieldset {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
  height: 180px;
  width: 300px;
}

.profile-pic img {
  width: 75px;
  height: 75px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}

#profile-details .notifications {
  top: 7px;
  right: 35px;
  position: absolute;
  padding-right: 14px;
  padding-top: 8px;
}

#profile-details .notifications a {
  position: ;
}

#profile-details .notifications .image{
  width: 30px;
  padding-right: 5px;
}

#menu .row div {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.85em;
  letter-spacing: 2px;
}

#menu .row {
  padding-top: 15px;
}

span.menuName {
  padding-top: 15px;
}

.menu-circle-icon {
  width: 75px;
  height: 75px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 50px;
  margin: 0 auto;
}

.factsheet {
  background: url("") #96859F no-repeat 50% 50%;
  background-size: 45px;
}
.factsheet-icon:before{
 font-family: FontAwesome;
 content:"\f201";
 color: white;
 font-size: 40px;

}

.factsheet-text {
  color: #54475A;
  padding-top: 13px;
  font-family: workSansBold;
}

.spoc {
  background: url("") #850057 no-repeat 50% 50%;
  background-size: 45px;
}
.spoc-icon:before{
  font-family:FontAwesome;
  content:"\f095";
  color: white;
  font-size: 40px;
}

.spoc-text {
  color: #4E1C3D;
  padding-top: 13px;
  font-family: workSansBold;
}

.feedback {
  background: url("") #C4BB5B no-repeat 50% 50%;
  background-size: 45px;
}
.feedback-icon:before{
  font-family: FontAwesome;
  content:"\f0e6";
  color: white;
  font-size: 40px;

}

.feedback-text {
  color: #545025;
  padding-top: 13px;
  font-family: workSansBold;
}

.exec-bio {
  background: url('') #003F60 no-repeat 50% 50%;
  background-size: 45px;
}
.exec-icon:before{
  font-family: FontAwesome;
  content:"\f0c0";
  color: white;
  font-size: 40px;
}
.exec-bio-text {
  color: #1F3F50;
  padding-top: 13px;
  font-family: workSansBold;
}

.past-visits {
  background: url("") #588BA3 no-repeat 50% 50%;
  background-size: 45px;
}
.visit-icon:before{
  font-family: FontAwesome;
  content:"\f073";
  color: white;
  font-size: 40px;
}
.agenda{
  background: url("") #A2915D no-repeat 50% 50%;
  background-size: 45px;
}
.agenda-icon:before{
  font-family: FontAwesome;
  content:"\f03a";
  color: white;
  font-size: 40px;
}
.past-visits-text {
  color: #204353;
  padding-top: 13px;
  font-family: workSansBold;
}

.load {  
  text-align: center;
  overflow:hidden;
  height: 58px; 
  margin-bottom:32px;
}

.profile-location u {
  text-decoration: inherit;
  border-bottom: dotted 1px #fff;
  padding-bottom: 2px;
}

.scroll-outer {
  overflow-x:hidden;
  margin-left: auto ;
  margin-right: auto ;
}

.scroll-inner{
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: -40px;
  padding-bottom: 6px;
  margin-left: auto ;
  margin-right: auto ;
}


@media only screen and (min-device-width: 290px)and (max-device-width: 320px){
  div#profile-details {
    padding-top: 60px;
    background: url("../img/bg/header.jpg") no-repeat;
    background-size: 150%;
  }
  #scrollBox > div fieldset {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    height: 180px;
    width:95px;
  }
  .exec-icon:before{
    font-size: 25px;
  }
  .feedback-icon:before{
    font-size: 25px;
  }
  .factsheet-icon:before{
    font-size: 25px;
  }
  .spoc-icon:before{
    font-size: 25px;
  }
  .visit-icon:before{
    font-size: 25px;
  }
  .agenda-icon:before{
    font-size: 25px;
  }
  .scroll-inner{
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: -16px;
    padding-bottom: 8px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  #scrollBox > div fieldset {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    height: 180px;
    width:110px;
  }
  div#profile-details {
    padding-top: 60px;
    background: url("../img/bg/header.jpg") no-repeat;
    background-size: 150%;
  }
  .exec-icon:before{
    font-size: 27px;
  }
  .feedback-icon:before{
    font-size: 27px;
  }
  .factsheet-icon:before{
    font-size: 27px;
  }
  .spoc-icon:before{
    font-size: 27px;
  }
  .visit-icon:before{
    font-size: 27px;
  }
  .agenda-icon:before{
    font-size: 27px;
  }

  div#profile-details .profile-name {
    font-size: 1.125em;
  }

  div#profile-details .profile-desc {
    font-size: 0.875em;
  }

  div#profile-details .profile-location {
    font-size: 0.75em;
  }

  .menu-circle-icon {
    width: 50px;
    height: 50px;
  }
  #menu .row {
    padding-top: 0px;
  }

  .factsheet,
  .spoc,
  .agenda,
  .feedback,
  .exec-bio,
  .past-visits {
    background-size: 36px;
  }

  .scroll-inner {
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: -13px;
    padding-bottom: 6px;
  }
}

/*media querries */

@media only screen and (min-device-width: 375px) and (max-device-width: 484px) {
  #scrollBox > div fieldset {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    height: 180px;
    width:130px;
    margin-right: 15px;
  }
  div#profile-details {
    padding-top: 60px;
    background: url("../img/bg/header.jpg") no-repeat;
    background-size: 130%;
  }
  .exec-icon:before{
    font-size: 29px;
  }
  .feedback-icon:before{
    font-size: 29px;
  }
  .factsheet-icon:before{
    font-size: 29px;
  }
  .spoc-icon:before{
    font-size: 29px;
  }
  .visit-icon:before{
    font-size: 29px;
  }
  .agenda-icon:before{
    font-size: 29px;
  }
  .menu-circle-icon {
    width: 55px;
    height: 55px;
  }

  .factsheet,
  .spoc,
  .agenda,
  .feedback,
  .exec-bio,
  .past-visits {
    background-size: 36px;
  }
  .scroll-inner{
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: -9px;
    padding-bottom: 6px;
  }
}

@media only screen and (min-device-width: 485px) and (max-device-width: 768px) {
  #scrollBox > div fieldset {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    height: 180px;
    width: 200px;
  }
  .menu-circle-icon {
    width: 65px;
    height: 65px;
  }

  .factsheet,
  .spoc,
  .agenda,
  .feedback,
  .exec-bio,
  .past-visits {
    background-size: 36px;
  }
  .exec-icon:before{
    font-size: 30px;
  }
  .feedback-icon:before{
    font-size: 30px;
  }
  .factsheet-icon:before{
    font-size: 30px;
  }
  .spoc-icon:before{
    font-size: 30px;
  }
  .visit-icon:before{
    font-size: 30px;
  }
  .agenda-icon:before{
    font-size: 30px;
  }

  .scroll-inner {
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: -13px;
    padding-bottom: 6px;
  }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .clock-container{
    height: 40px;
    padding-top: 10px;

  }
  #scrollBox > div fieldset {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    height: 180px;
    width:250px;
    margin-right: 25px;
  }
  .profile-details{
    padding-top: 400px;
  }
  .exec-icon:before{
    font-size: 29px;
  }
  .feedback-icon:before{
    font-size: 29px;
  }
  .factsheet-icon:before{
    font-size: 29px;
  }
  .spoc-icon:before{
    font-size: 29px;
  }
  .visit-icon:before{
    font-size: 29px;
  }
  .agenda-icon:before{
    font-size: 29px;
  }
  #menu{
    margin-top: 30px;}
    #menu .row div {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 0.85em;
      letter-spacing: 2px;
    }
    .menu-circle-icon {
      width: 80px;
      height: 80px;
    }
    .scroll-inner{
      overflow-x: scroll;
      white-space: nowrap;
      margin-bottom: -15px;
      padding-bottom: 5px;
    }


  }



  @media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    #scrollBox > div fieldset {
      background: rgba(0, 0, 0, 0.5);
      padding: 5px;
      text-align: center;
      height: 250px;
      width: 450px;
      margin-right: 50px;
      font-size: 40px;
    }

    div#profile-details .profile-location img {
      width: 18px;
    }

    .scroll-inner{
      margin-bottom: -50px;
    }
  }



