	.close{
		width: 20px;
	}

		.lo{
	    width: 10%;
	    height: 10%;
	    padding-right: 20px;
	    border-right: 1px solid black;
	}
	.welnote{
		overflow: hidden;
	}
	.richtext1{
    height: 500px;

    overflow-y: scroll;
      margin:5px -400px 5px 5px;
  padding-right:400px;
}
.lo1{
			width: 20%;
			height: 30px;
			padding-right: 20px;
		}
.content{
    width: 96%;
    text-align: justify;
    padding-left: 4px;
    padding-right:  4px;
}
      .richtext{
      	
      	width:850px; 
      	padding-left:15px;
      }
	.image1{
    height:300px;
    width: 800px;
     }
	hr{
		color: red;
		background-color: red;
		border-color: red;
		margin-left: 20px;
		margin-left: 20px;
	}
	
	.btn-default {
		color: #333;
		background-color: #fff;
		border-color: red;
		border-width: 1px;
	}
	.panelpdmd{
		padding-left: 70px;
	}
	.userpic{
		width:60px;
		height:55px;
	}
	.text{
		text-align: justify;
		padding-left: 20px;
		padding-right: 20px; 
		font-size: 20px;
		font-family: robotoLight;
		padding-top: 0px;
}


	#welcome{
 		object-fit: initial;
 		width: 820px;
 		height: 300px;
 		padding-left: 20px;
 	}

 	.scrollcontent{
    height:100px;
  overflow-y: scroll; }
   
	
	button{
		background-color: #fff;
		margin-left: 550px;

		border-color: red;
		border-width: 1px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.profile{
		padding-left: 20px;
	}
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
			.richtext1{
    height: 345px;
    position: relative;
    overflow-y: scroll;
}



.lo1{
			width: 34%;
			height: 30px;
			padding-right: 20px;
		}

		.content{
    width: 95%;
    text-align: justify;
   padding-left: 10px;
   padding-right: 10px;
}
		#welcome{
 		object-fit: initial;
 		width: 95%;
 		height: 250px;
 		padding-left: 10px;
 	}
		 	.modal-body {
		    position: relative;
		    padding: 0px;
		}
		button{
			background-color: #fff;
			margin-left: 120px;

			border-color: red;
			border-width: 1px;
			padding-left: 10px;
			padding-right: 10px;
		}
       .lo{
		    width: 20%;
		    height: 20%;
		    padding-right: 10px;
		    border-right: 1px solid black;
		}
		
			.headwel{
			padding-top: 20px;
			padding-left: 20px;
		}
	.image1{
    height:200px;
    width: 95%;
    margin-left: 10px;
 	margin-right: 10px;
     }
	

}

@media only screen and (max-device-width: 320px) and (max-device-height: 480px){

	    #videoModal{
width: 95%;
height: 460px;
}
		#welcome{
 		
 		width: 280px;
 		height: 250px;
 		margin-left: 2px;
 		margin-right: 2px;
 	}

 	.lo1{
			width: 34%;
			height: 26px;
			padding-right: 20px;
		}
 	.image1{
    height:220px;
    width: 240px;
 
 	margin-right: 10px;
     }

     		.richtext1{
    height: 240px;

    overflow-y: scroll;
}
 	
	.headwel{
		padding-top: 20px;
		padding-left: 20px;
	}
	.lo{
		    width: 20%;
		    height: 20%;
		    padding-right: 10px;
		    border-right: 1px solid black;
		}

}

	@media only screen and (min-device-width: 400px) and (max-device-width: 480px) {
		.richtext1{
			height:400px;
		}

	}
@media only screen and (min-device-width: 485px) and (max-device-width: 768px) {
			.content{
    width: 95%;
    text-align: justify;
   padding-left: 10px;
   padding-right: 10px;
}
		#welcome{
 		object-fit: initial;
 		width: 95%;
 		height: 300px;
 		padding-left: 20px;
 	}
		button{
			background-color: #fff;
			margin-left: 120px;

			border-color: red;
			border-width: 1px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.headerwel{
			padding-left: 40%;
		}
	.headwel{
		padding-top: 20px;
		padding-left: 20px;
	}
	.lo{
		    width: 20%;
		    height: 20%;
		    padding-right: 10px;
		    border-right: 1px solid black;
		}
		.lo1{
			width: 34%;
			height: 26px;
			padding-right: 20px;
		}
 	.image1{
    height:300px;
    width: 95%;
    margin-left: 10px;
 	margin-right: 10px;
     }
   

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
			.content{
    width: 95%;
    text-align: justify;
   padding-left: 10px;
   padding-right: 10px;
}
.lo1{
			width: 40%;
			height: 36px;
			padding-right: 20px;
		}
			#welcome{
 		object-fit: initial;
 		width: 95%;
 		height: 400px;
 		padding-left: 20px;
 	}
		button{
			background-color: #fff;
			margin-left: 120px;

			border-color: red;
			border-width: 1px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.headerwel{
			padding-left: 40%;
		}
		      #videoModal{
padding-top: 2%;
padding-bottom: 10%;
}
	.headwel{
		padding-top: 20px;
		padding-left: 20px;
	}
	.lo{
		    width: 20%;
		    height: 20%;
		    padding-right: 10px;
		    border-right: 1px solid black;
		}
 	.image1{
    height:300px;
    width: 95%;
    margin-left: 10px;
 	margin-right: 10px;
     }
  
 
}
 

@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {

		.richtext1{
    height: 250px;

    overflow-y: scroll;
}
			.content{
    width: 95%;
    text-align: justify;
   padding-left: 10px;
   padding-right: 10px;
}
			#welcome{
 		object-fit: initial;
 		width: 95%;
 		height: 300px;
 		padding-left: 20px;
 	}
		button{
			background-color: #fff;
			margin-left: 120px;

			border-color: red;
			border-width: 1px;
			padding-left: 10px;
			padding-right: 10px;
		}

		.headerwel{
			padding-left: 40%;
		}

  	.headwel{
		padding-top: 20px;
		padding-left: 20px;
	}
	.lo{
		    width: 10%;
		    height: 10%;
		    padding-right: 10px;
		    border-right: 1px solid black;
		}
		.lo1{
			width: 28%;
			height: 26px;
			padding-right: 20px;
		}
 	.image1{
    height:300px;
    width: 95%;
    margin-left: 10px;
 	margin-right: 10px;
     }
  
       
}