<div id="hamBurgerMenu">
    <button type="button" class="menuButton" ng-click="openMenu()"></button>
    <div class="" id="menuList" ng-show="expanded">
        <div class="closeMenu"><img src="assets/rem/close-btn-magenta.png" ng-click="openMenu()"></div>
				<div class="profilePic"><img src="{{user.avatar}}"></div>
				<div class="profileName">{{user.name.first}} {{user.name.last}}</div>
				<div class="profileDesg">{{user.jobTitle}}, {{user.organization}}</div>
				<div class="profileLoc"><img src="assets/img/ic/loc.png">You are at <u>CSC India, Bangalore</u></div>
        <ul class="ulNavBar">
            <li class="active">
                <a href="#/cscHome" class="homeMenu"><img src="assets/img/ic/home.png">Home</a>
            </li>
            <li>
                <a href="#" class="viewAgendaMenu"><img src="assets/img/ic/agenda.png">View Agenda</a>
            </li>
            <li>
                <a href="#/cscFactsheet" class="factsMenu"><img src="assets/img/ic/facts.png">Factsheets</a>
            </li>
            <li>
                <a href="#" class="contactMenu"><img src="assets/img/ic/contact.png">Contact SPOC</a>
            </li>
            <li>
                <a href="#" class="feedbackMenu"><img src="assets/img/ic/feedbk.png">Feedback</a>
            </li>
            <li>
                <a href="#" class="execMenu"><img src="assets/img/ic/group.png">Executive BIO'S</a>
            </li>
            <li>
                <a href="#/visits" class="pastVisitsMenu"><img src="assets/img/ic/cals.png">Past Visits</a>
            </li>
            <li>
                <a href="#" class="settingsMenu"><img src="assets/img/ic/setting.png">Settings</a>
            </li>
            <li>
                <a href="#" class="logoutMenu"><img src="assets/logout.png">Logout</a>
            </li>
        </ul>
    </div>
</div>
