        <div style="margin-left:36cm">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fa fa-th-large"></i>
            <span class="caret"></span></button>
            <ul class="dropdown-menu" >
              <li><a href="#/visits/list">List</a></li>
              <li><a href="#/visits/panels">Detail</a></li>
              <li><a href="#/visits/calendar">Calendar</a></li>
            </ul>
          </div>
      </div>