    <div class="col-xs-4">
      <a class="btn btn-default btn-sm pull-right" href="#/visits/add">Add New Visit</a>
    </div>
      <div class="col-xs-3">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fa fa-th-large"></i>
            <span class="caret"></span></button>
            <ul class="dropdown-menu" >
              <li><a href="#/visits/list">List</a></li>
              <li><a href="#/visits/panels">Detail</a></li>
              <li><a href="#/visits/calendar">Calendar</a></li>
            </ul>
          </div>
      </div> 