<div class="container">
  <div class="page-header">
    Keynotes Management
    <div class="sub-header">Manage the list of KeyNotes in the panels</div>
  </div>

  <div class="container">
    
		<!--div class="panel-heading">keynotes panels view</div-->
      <!--div class="searchpad"-->

        <div class="row">
          <div class="col-xs-5">
           <input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
            <!-- <i class="glyphicon glyphicon-search form-control-feedback"></i> -->
          </div>
         <div ng-include src="'/public/mods/keynotes/partials/sortSearch.html'"></div>
        </div>
        
        <div class="pnbdr panel panel-primary">
        <div ng-repeat="keynote in keynotesList | filter: search |orderBy:orderByField:reverseSort">
          <div class="row">
		
      		  <div class="pn-bodypad">
      			  <div class="col-xs-11">
      				  <div class="panel panel-info">
      					  <div class="panel-heading pn-bodyhdr" pull-left>
      						  <span>{{keynote.title}}</span>
                    <div class="pull-right">
                      <a class="table-btn" href="#/keynotes/{{keynote._id}}/show"><span class="glyphicon glyphicon-eye-open" /></a>
                      <a class="table-btn" href="#/keynotes/{{keynote._id}}/edit"><span class="glyphicon glyphicon-edit" /></a>
                      <a class="table-btn" ng-click="delete(keynote)" confirm-dialog header-text="Delete Keynote" content="Are you sure you want to delete the keynote with keynote title <b>{{keynote.title}} ? </b>" 
                        yes-text="Ok" no-text="Cancel"><span class="glyphicon glyphicon-trash" /></a>
                    </div>
          				</div>

    					      <div class="panel-body">
                      <div class="pull-left">
                        <img src="/public/assets/images/avatar.jpg" class="img-circle" width="65" height="60">
                      </div>

                      <div class="pn-inrbodypad">
                        <div class="text-highlight"><div userdisplay view-mode="nameonly" user-id="keynote.noteBy"></div></div>
                        <div class="pull-right">{{keynote.createOn | date:'dd-MM-yyyy'}}</div>
                        <div class="text-xs"><div ng-repeat="tags in keynote.tags track by $index"> {{keynote.tags}}</div> </div>
                        <div class="text-big-noraml"><p ng-bind-html="keynote.desc"></p></div>
                      </div>
				            </div>
			          </div>
		          </div>
		        </div>
		      </div>
	      </div>
      </div>
      <!--/div-->

  </div>
</div>



