

 <div class="row"> 
    <div class="col-sm-1"></div>
      <div class="col-md-8">

 <!-- page header/subheader -->

    <div class="page-header">
      Keynotes Management - Add
      <div class="sub-header">Add new keynote
      </div>
    </div>

   <!-- keynotes pageheader input--> 
    <div class="data-form">
      <form name="keynotesForm" id="keynotesForm" class="form-vertical" novalidate
              ng-model-options="{updateOn:'default blur',debounce:{'default':500,'blur':0}}">

            <!-- keynotes title input-->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" id="title" name="title"
                       ng-model="keynotes.title" required ng-minlength="5" ng-maxlength="20"
                       floating-validation/>
            </div>

         
    
           <!-- keynotes description input-->        
            
            <div class="form-group">
                <textarea type="text" class="form-control" placeholder="description" id="description" name="description"
                       ng-model="keynotes.desc" required ng-minlength="5"
                       floating-validation/>
            </div>

          
            
          <!-- keynotes note input-->
            
            <div class="form-group">
   
              <div text-angular 
                    ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],['p', 'quote'],
                                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent','insertLink']]"
                         ng-model="keynotes.noteText" name="note" placeholder="note" required />
            </div>
            </div>
            
             <!-- keynotes tags input-->      
            <div class="form-group">
                <tags-input ng-model="keynotes.tags"></tags-input>
                
            </div>

           
    <!-- keynotes speaker input--> 

            <div class="form-group">
                <input type="text" class="form-control" placeholder="keynotes speaker" id="speaker" name="title"
                       ng-model="keynotes.speaker"  ng-minlength="1" ng-maxlength="75" ng-blur="getUser()" required
                       />
            </div>
     <!-- keynotes speaker input--> 
            <label>user:</label>
            <div class="form-group" ng-class="{ 'has-error': inputctrl.speaker.$touched && inputctrl.speaker.$invalid }">
               
                <div class="col-md-4">

                    <div user type="picker" user-model="noteByUser" user-id="noteById" user-email="noteByEmail" ></div>

                </div>
            </div>
                
                
       




          <br>
          <br>
          <br>
          <br>
          <div class="form-group">
              <div class="pull-left">
                <button type="submit" class="btn btn-success" 
                  ng-click="save()" ng-disabled="keynotesForm.$invalid">Submit
                </button>
                <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>
           
                 
           
        </form>
    </div>
</div>
