<div class="container">
  <div class="page-header">
    Keynotes Management
    <div class="sub-header">Manage the list of KeyNotes in the panels
    </div>
  </div>


<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">keynotes panels system</div><div class="searchpad">
<div class="form-inline has-feedback filter-header">
    <input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
    <!-- <i class="glyphicon glyphicon-search form-control-feedback"></i> -->
    <button class="btn btn-default btn-sm" ng-click="hideFilter=!hideFilter">Advanced Search</button></div>
		 <div ng-repeat="keynote in keynotesList | filter: search |orderBy:orderByField:reverseSort">
		<div class="row">
		
		  <div class="pn-bodypad">
			<div class="col-xs-11">
				<div class="panel panel-info">
					<div class="panel-heading pn-bodyhdr" pull-left>
						<span>Title:{{keynote.title}}</span><div class="pull-right"><a class="table-btn" href="#/{{keynote._id}}/show"><span class="glyphicon glyphicon-eye-open" /></a>
        <a class="table-btn" href="#/{{keynote._id}}/edit"><span class="glyphicon glyphicon-edit" /></a>
        <a class="table-btn" ng-click="delete(keynote)"><span class="glyphicon glyphicon-trash" /></a></div>
					</div>

					<div class="panel-body">

                            <div class="pull-left">
            <img src="/public/assets/images/avatar.jpg" class="img-circle" width="65" height="60">
                        </div>
            <div class="pn-inrbodypad">
            
              <div class="text-highlight">speaker:{{keynote.noteBy}}</div>
              <div class="pull-right">created on:{{keynote.createOn}}</div>
              <div class="text-xs"><div ng-repeat="tags in keynote.tags track by $index"--> tags:{{tags}}</div></div>
              <div class="text-big-noraml">desc:{{keynote.desc}}</div>
          
              </div>

				</div>
			</div>
		  </div>
		</div>
		</div>
	</div>
</div>



