<style>


.testClass{
  
    
    animation: background-fade 10s forwards;
    -webkit-animation: background-fade 10s forwards;
    -moz-animation: background-fade 10s forwards;
}

@-webkit-keyframes background-fade {
    80% {
        background-color:#66d9ff;
    }
    100% {
        background-color:;
    }
}
@-moz-keyframes background-fade {
    80% {
        background-color:#66d9ff;
    }
    100% {
        background-color:;
    }
}
@keyframes background-fade {
  
    80% {
        background-color:#66d9ff;
    }
    100% {
        background-color:;
    }
}
</style>

<!-- Grid filter -->
<div class="container">
  <div class="form-inline has-feedback filter-header">
  <div class="row">
    <div class="col-xs-5">
      <input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
      <button class="btn btn-default btn-sm" ng-click="hideFilter=!hideFilter">Advanced Search</button>
    </div>
    <div class="col-xs-4">
      <a class="btn btn-default btn-sm pull-right" href="#/facts/add">Add New fact</a>
    </div>
    <div ng-include src="'/public/mods/facts/partials/sortSearch.html'"></div>
  </div> 
</div><!-- Grid filter ends -->

<table class="table table-striped table-condensed table-responsive table-hover">
  <thead class="data-grid-header">
    <!-- table header -->
    <tr>
      <th>
        <span class="fa fa-th-large fa-lg"></span>&nbsp;&nbsp;
        <a href="" ng-click="orderByField='title'; reverseSort = !reverseSort">Title</a>
      </th>
      <th>
        <span class="fa fa-user fa-lg"></span>&nbsp;&nbsp;Editor Name
        <!-- <a href="" ng-click="orderByField='editedBy'; reverseSort = !reverseSort">Editor Name</a> -->
      </th>
      <th>
        <span class="fa fa-list-alt fa-lg"></span>&nbsp;&nbsp;
        <a href="" ng-click="orderByField='description'; reverseSort = !reverseSort">Description</a>
      </th>
      <th class="hidden-xs">
        <span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Created Date
        <!-- <a href="" ng-click="orderByField='createOn'; reverseSort = !reverseSort">Created Date</a> -->
      </th>
      <th></th>
    </tr>

    <!-- table filter -->
    <tr ng-hide="hideFilter">
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.title"></span></th>
      <th></th>
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.description"></span></th>
      <th></th>
      <th></th>
    </tr>

  </thead>

  <tbody class="data-grid-data">
    <tr ng-repeat="fact in factsList | filter: search |orderBy:orderByField:reverseSort"  ng-class="{ testClass: $last }">
      <td>{{fact.title}}</td>
      <td><div userdisplay view-mode="nameonly" user-id="fact.editedBy"></div></td>
      <td><p ng-bind-html="fact.description"></p></td>
      <td>{{fact.createOn | date:'dd-MM-yyyy'}}</td>
      <td>
        <!-- <a class="table-btn" href="#/facts/{{fact._id}}/show"><span class="glyphicon glyphicon-eye-open" /></a> -->
        <a class="table-btn" href="#/facts/{{fact._id}}/edit" tooltips tooltip-template="Edit Fact"><span class="fa fa-edit fa-lg" /></a>
        <a class="table-btn" ng-click="delete(fact)" confirm-dialog header-text="Delete Fact" content="Are you sure you want to delete the fact with fact title <b>{{fact.title}} ? </b>" 
        yes-text="Ok" no-text="Cancel"><span class="fa fa-trash fa-lg" tooltips tooltip-template="Delete Fact"/></a>
        <a class="table-btn" ng-click="copy(fact)" tooltips tooltip-template="Copy Fact"><span class="fa fa-files-o fa-lg" /></a>
      </td>
    </tr>
  </tbody>
</table>
</div>