
                  <angucomplete-alt ng-if="userType == 'employee'"
                  id="ex15"
                  placeholder="User"
                  pause="500"
                  selected-object="selectedUser"
                  remote-url="/api/v1/secure/admin/users/find/find?query="
                  remote-url-data-field="items"
                  title-field="firstName,lastName"
                  description-field="email"
                  minlength="3"
                  image-field="avatar"
                  input-class="form-control form-control-small"
                  match-class="highlight"
                  template-url="/my-custom-template333.html"
                  initial-value="userModel.email"
                  input-changed="inputChanged"></angucomplete-alt>

                  <angucomplete-alt ng-if="userType == 'employeeCustomer'"
                  id="ex15"
                  placeholder="User"
                  pause="500"
                  selected-object="selectedUser"
                  remote-url="/api/v1/secure/admin/users/find/find?query="
                  remote-url-data-field="items1"
                  title-field="firstName,lastName"
                  description-field="email"
                  minlength="3"
                  image-field="avatar"
                  input-class="form-control form-control-small"
                  match-class="highlight"
                  template-url="/my-custom-template333.html"
                  initial-value="userModel.email"
                  input-changed="inputChanged"></angucomplete-alt>

                  <div class="large-padded-row">

  <div class="padded-row">
    <script type="text/ng-template" id="/my-custom-template333.html">
      <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
        <input ng-model="searchStr"
        class="md-block"
        ng-disabled="disableInput"
        type="text"
        placeholder="{{placeholder}}"
        ng-focus="onFocusHandler()"
        class="{{inputClass}}"
        ng-focus="resetHideResults()"
        ng-blur="hideResults($event)"
        autocapitalize="off"
        autocorrect="off"
        autocomplete="off"
        ng-change="inputChangeHandler(searchStr)"/>
        <div class="angucomplete-dropdown" ng-show="showDropdown">
          <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
          <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
          <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
            <div ng-if="imageField" class="angucomplete-image-holder">
              <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
              <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
            </div>
            <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
            <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
            <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
            <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
          </div>
        </div>
      </div>
    </script>
  </div>
</div>
                
<div ng-if="userEmail=='' && (moduleType=='sessions'||moduleType=='keynotes')">
{{notNull=="true";""}}
</div>
<br>
<ANY ng-switch="showFlag">
  <ANY ng-switch-when="user">
      <div ng-include = "getTemplate()">
</div>
  </ANY>

  <ANY ng-switch-when="noUser">
    <div class="text-danger" style="width:300px;!important;">
      {{message}}
    </div>
  </ANY>

  <ANY ng-switch-default>
    <div class="text-info" style="width:180px;!important;">
		</div>
	</ANY>
</ANY>
