<md-dialog ng-cloak>
<form name="itemAddForm">
  <md-toolbar>
  <div class="md-toolbar-tools">
    <h2>Add Feedback Items</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="canceldialog(item)" ng-disabled="itemAddForm.$valid">
    <md-icon <i class="fa fa-times" aria-label="Close dialog"></i></md-icon>
  </md-button>
</div>
</md-toolbar>
<fieldset ng-disabled="isSaving">
  <md-dialog-content>
  <table class="table boldtable table-responsive table-bordered table-hover">
    <tbody class="data-grid-data">
      <tr>
        <td>
          Query
          <div>
            <textarea ng-model="item.query" required rows="5" cols="60"></textarea>
          </div>
        </td>
      </tr>
      <tr>
        <td>          
          Mode
          <div>
            <select name="type" ng-model="item.mode" required ng-dropdown>
              <option ng-option value="freetext">Freetext</option>
              <option ng-option value="single-choice">Single Choice</option>
              <option ng-option value="multi-choice">Multiple Choice</option> 
              <option ng-option value="star-rating">Star Rating</option> 
            </select>
            <div id="freetext" ng-if="item.mode == 'freetext'" style="display: inline">
            </div>

            <div id="singlechoice" ng-if="item.mode == 'single-choice'" style="display: inline">
              Choice              
              <label><input ng-model="item.choices" ng-list required></label>    
            </div>

            <div id="multiplechoice" ng-if="item.mode == 'multi-choice'" style="display: inline">
              Choice
              <label><input ng-model="item.choices" ng-list required></label> 
            </div>

            <div id="starrating" ng-if="item.mode == 'star-rating'" style="display: inline">
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</md-dialog-content>  
<!--   <md-dialog-actions layout="row">
    
    <md-button class="md-primary md-raised" ng-click="addItem(item)">
    add items
    </md-button>
    <md-button class="btn btn-danger" ng-click="canceldialog(item)" >
    cancel
    </md-button>
  </md-dialog-actions> -->
  <md-dialog-actions layout="row" class="pull-left">
  <div class="pull-left">
    <button type="submit" class="btn btn-success"
    ng-click="addItem(item)" ng-disabled="itemAddForm.$invalid">Add Items</button>
    <button type="reset" class="btn btn-warning" ng-click="canceldialog(item)" ng-disabled="itemAddForm.$valid">Cancel</button>
  </div>
</md-dialog-actions>
</fieldset>
</form>
</md-dialog>
