/* Default view */
.view{
  position: absolute;
  top: 100px;
  width: 100%;
  transition: 300ms;
}

/* First animation*/
.first .view.ng-enter{
  left: -100%;
}

.first .view.ng-enter.ng-enter-active{
  left: 0%;
}

.first .view.ng-leave{
  left: 0%;
}

.first .view.ng-leave.ng-leave-active{
  left: 100%;
}

/* Second animation*/
.second .view.ng-enter{
  left: 100%;
}

.second .view.ng-enter.ng-enter-active{
  left: 0%;
}

.second .view.ng-leave{
  left: 0%;
}

.second .view.ng-leave.ng-leave-active{
  left: -100%;
}

/* Third animation*/
.third .view.ng-enter{
  top: 100%;
}

.third .view.ng-enter.ng-enter-active{
  top: 0%;
}

.third .view.ng-leave{
  top: 0%;
}

.third .view.ng-leave.ng-leave-active{
  top: -100%;
}

/* Third animation*/
.welcome .view.ng-enter{
  opacity: 0;
}
