/*Ham Burger Menu Styles*/
#hamBurgerMenu .homeMenu img,
#hamBurgerMenu .viewAgendaMenu img,
#hamBurgerMenu .factsMenu img,
#hamBurgerMenu .contactMenu img,
#hamBurgerMenu .feedbackMenu img,
#hamBurgerMenu .execMenu img,
#hamBurgerMenu .pastVisitsMenu img,
#hamBurgerMenu .settingsMenu img,
#hamBurgerMenu .logoutMenu img {
	width: 20px;
	display: inline-block;
	margin-right: 15px;
}

.menuButton {
    position: fixed;
    float: left;
    margin-right: 15px;
    padding: 14px;
    margin-top: 65px;
    margin-bottom: 8px;
    background: url('hamburger_icon.png') no-repeat;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 20px;
    background-size: 22px;
    z-index: 1;
}

.ulNavBar {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
#menuList{
	position: fixed;
    z-index: 1;
    background: white;
    width: 85%;
    padding-bottom: 5px;
}
.ulNavBar a{
	display: block;
	padding: 12px;
	padding-left: 14px;
	color: #2a2a2a;
    font-family: robotoLight;
    font-size: 1.1em;
}
.ulNavBar li{
	border-bottom: 1px solid #ddd;
}
.closeMenu{
	float: right;
}
.closeMenu img{
	width: 10px;
    margin: 10px;
}
.menuProfilePic,
.menuProfileName{
	text-align: center;
	padding: 20px;
	background-color: #f3f2f7;
	font-family: workSansRegular;
	font-size: 1.3em;
	color: #606060;
}
.menuProfilePic{
	padding-bottom: 7px;
}
.menuProfileName{
	padding-top: 7px;
}
.menuProfilePic img{
	width: 70px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
    #hamBurgerMenu .homeMenu img,
    #hamBurgerMenu .viewAgendaMenu img,
    #hamBurgerMenu .factsMenu img,
    #hamBurgerMenu .contactMenu img,
    #hamBurgerMenu .feedbackMenu img,
    #hamBurgerMenu .execMenu img,
    #hamBurgerMenu .pastVisitsMenu img,
    #hamBurgerMenu .settingsMenu img,
    #hamBurgerMenu .logoutMenu img {
        width: 16px;
    }
    .ulNavBar a {
        padding: 8px;
        font-size: 0.9em;
    }
}
