<input type="text" name="user" id="user" 
  placeholder="User" ng-blur="getUser()" ng-model="data.input" ng-minlength="1" ng-maxlength="75" required>

<!-- Can show: {{showFlag}}
<div ng-hide="!showUser" class="container" style="width:300px;!important;">
  <div class="pull-left"> 
    <img height="40" width="40" src="/public/assets/images/avatar.jpg" />
  </div>
  <div class="pull-right">
  <br>
    <div class="text-highlight">{{data.user.name.first}} {{data.user.name.last}}</div>
    <div class="text-xsmall">{{data.user.email}}</div>
    <div class="text-xsmall">{{data.user.jobTitle}}<br/>{{data.user.organization}} </div>
  </div>
</div>

<div ng-hide="hideFilter" class="container" style="width:300px;!important;">
	{{message}}
</div> -->

<ANY ng-switch="showFlag">
  <ANY ng-switch-when="user">
  	<div class="container" style="width:180px;!important;">
		  <div class="pull-left"> 
		    <img height="40" width="40" src="/public/assets/images/avatar.jpg" />
		  </div>
		  <div class="pull-right">
		    <div class="text-highlight">{{data.user.name.first}} {{data.user.name.last}}</div>
		    <div class="text-xsmall">{{data.user.email}}</div>
		    <div class="text-xsmall">{{data.user.jobTitle}}<br/>{{data.user.organization}} </div>
		  </div>
		</div>
  </ANY>

  <ANY ng-switch-when="noUser">
	  <div class="container" style="width:180px;!important;">
			User not found!!!
		</div>
  </ANY>

  <ANY ng-switch-default>
    <div class="container" style="width:180px;!important;">
			Default panel
		</div>
	</ANY>
</ANY>