<div class="container">
    <div class="page-header">
      Account Management - Add
      <div class="sub-header">Add new Account
      </div>
  </div>

  <div class="container data-form">

    <form class="form-horizontal" id="clientsForm" name="clientsForm" novalidate>


        <!-- Account name input-->
        <div class="form-group" ng-class="{ 'has-error': clientsForm.name.$touched && clientsForm.name.$invalid }"><br>
            <label class="col-md-4 control-label">Name &nbsp; &nbsp;  :</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" name="name" id="name" 
                    placeholder="Account Name" class="form-title form-control" 
                    ng-model="clients.name" ng-minlength="1" ng-maxlength="75" required>

                    <div class="help-block" ng-messages="clientsForm.name.$error" ng-if="clientsForm.name.$touched">
                        <div ng-messages-include="/public/mods/partials/messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Vertical type input-->
        <div class="form-group" ng-class="{ 'has-error': clientsForm.vertical.$touched && clientsForm.vertical.$invalid }"><br>
            <label class="col-md-4 control-label">Vertical &nbsp; &nbsp;  :</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" name="vertical" id="vertical" 
                    placeholder="Vertical Type" class="form-title form-control" 
                    ng-model="clients.vertical" ng-minlength="1" ng-maxlength="75" required>

                    <div class="help-block" ng-messages="clientsForm.vertical.$error" ng-if="clientsForm.vertical.$touched">
                        <div ng-messages-include="/public/mods/partials/messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Profile Type input-->
        <div class="form-group" ng-class="{ 'has-error': clientsForm.profile.$touched && clientsForm.profile.$invalid }"><br>
            <label class="col-md-4 control-label">Profile &nbsp; &nbsp;  :</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" name="profile" id="profile" 
                    placeholder="Profile Title" class="form-title form-control" 
                    ng-model="clients.profile" ng-minlength="1" ng-maxlength="75" required>

                    <div class="help-block" ng-messages="clientsForm.profile.$error" ng-if="clientsForm.profile.$touched">
                        <div ng-messages-include="/public/mods/partials/messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- competitors Type input-->
        <div class="form-group" ng-class="{ 'has-error': clientsForm.competitors.$touched && clientsForm.competitors.$invalid }"><br>
            <label class="col-md-4 control-label">Competitors &nbsp; &nbsp;  :</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" name="competitors" id="competitors" 
                    placeholder="Competitors Names" class="form-title form-control" 
                    ng-model="clients.competitors" ng-minlength="1" ng-maxlength="75" ng-list required>

                    <div class="help-block" ng-messages="clientsForm.competitors.$error" ng-if="clientsForm.competitors.$touched">
                        <div ng-messages-include="/public/mods/partials/messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- regions Type input-->
        <div class="form-group" ng-class="{ 'has-error': clientsForm.regions.$touched && clientsForm.regions.$invalid }"><br>
            <label class="col-md-4 control-label">Regions &nbsp; &nbsp;  :</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" name="regions" id="regions" 
                    placeholder="Regions places" class="form-title form-control" 
                    ng-model="clients.regions" ng-minlength="1" ng-maxlength="75" ng-list required>

                    <div class="help-block" ng-messages="clientsForm.regions.$error" ng-if="clientsForm.regions.$touched">
                        <div ng-messages-include="/public/mods/partials/messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- offerings Type input-->
        <div class="form-group" ng-class="{ 'has-error': clientsForm.offerings.$touched && clientsForm.offerings.$invalid }"><br>
            <label class="col-md-4 control-label">Offerings &nbsp; &nbsp;  :</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" name="offerings" id="offerings" 
                    placeholder="Offering Titles" class="form-title form-control" 
                    ng-model="clients.offerings" ng-minlength="1" ng-maxlength="75" ng-list required>

                    <div class="help-block" ng-messages="clientsForm.offerings.$error" ng-if="clientsForm.offerings.$touched">
                        <div ng-messages-include="/public/mods/partials/messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <!-- clients description input--> 
        <div class="form-group" ng-class="{ 'has-error': clientsForm.cscPersonnel.$touched && clientsForm.cscPersonnel.$invalid }">
            <label class="col-md-4 control-label">CSC Personnel &nbsp;&nbsp; :</label>  
            <div class="col-md-4">
                <div user type="picker" user-model="salesExecUser" user-id="salesExecId" user-email="salesExecEmail" placeholder="Sales Executive name" ></div>
                <!--<div user type="picker" user-model="noteByUser" user-id="noteById" user-email="noteByEmail" ></div>-->
            </div>
        </div>
        <br>
        <!-- netPromoterScore Type input-->
        <div class="form-group" ng-class="{ 'has-error': clientsForm.netPromoterScore.$touched && clientsForm.netPromoterScore.$invalid }"><br>
            <label class="col-md-4 control-label">Net Promoter Score &nbsp; &nbsp;  :</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" name="netPromoterScore" id="netPromoterScore" 
                    placeholder="Net Promoter Score" class="form-title form-control" 
                    ng-model="clients.netPromoterScore" ng-minlength="1" ng-maxlength="75" required>

                    <div class="help-block" ng-messages="clientsForm.netPromoterScore.$error" ng-if="clientsForm.netPromoterScore.$touched">
                        <div ng-messages-include="/public/mods/partials/messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button type="submit" class="btn btn-success" 
            ng-disabled="clientsForm.$invalid" ng-click="save()">Submit
        </button>
        <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
</form>
</div>