
<div class="container">
 <!-- page header/subheader -->

 <div ng-if="mode=='add'" class="page-header">
  Account Management - Add
  <div class="sub-header">Add new client information before scheduling a visit...
  </div>
</div>

<div ng-if="mode=='edit'" class="page-header">
  Account Management - Edit
  <div class="sub-header">Edit {{clients.name}} information
  </div>
</div>

<!-- Client-Account pageheader input-->


<div class="data-form">
  <form name="clientsForm" id="clientsForm" class="form-vertical" novalidate>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <!-- Parent Customer name input-->
        <md-input-container class="md-block">
        <label>Parent Account Name </label>
        <input md-maxlength="30" minlength="5" required name="name" ng-model="clients.name">
        <div ng-messages="clientsForm.title.$error" ng-show="clientsForm.title.$touched || !clientsForm.title.$pristine">
         <div class="messagenotify">
          <div ng-messages-include="/public/mods/partials/messages.html"></div>
          <div ng-message="md-maxlength">The name  has to be less than 30 characters long.</div>
          <div ng-message="minlength">The name should contain minimum 5 characters.</div></div></div>
        </md-input-container>
      </div>
      <div class="col-xs-4">


        <!-- Child Customer name input-->
        <md-input-container class="md-block">
        <label>Child Account Name </label>
        <input md-maxlength="30" minlength="5" required name="name" ng-model="clients.subName">
        <div ng-messages="clientsForm.title.$error" ng-show="clientsForm.title.$touched || !clientsForm.title.$pristine">
         <div class="messagenotify">
          <div ng-messages-include="/public/mods/partials/messages.html"></div>
          <div ng-message="md-maxlength">The Child Customer  name  has to be less than 30 characters long.</div>
          <div ng-message="minlength">The  Child Customer name should contain minimum 5 characters.</div></div></div>
        </md-input-container>
      </div>
    </div>

    <div>
      <label>Region &nbsp;&nbsp; </label>
      <select
      ng-model="clients.regions"
      ng-options="data for data in regions">
    </select>
  </div>
  <br>


  <div class ="row">
    <div class="col-xs-5">
      <!-- SFDC Id Type input-->
      <md-input-container class="md-block">
      <label>SFDC Id</label>
      <input md-maxlength="40" minlength="3" required name="SFDCId" ng-model="clients.SFDCId">
      <div ng-messages="clientsForm.SFDCId.$error" ng-show="clientsForm.SFDCId.$touched || !clientsForm.SFDCId.$pristine">
       <div class="messagenotify">
        <div ng-messages-include="/public/mods/partials/messages.html"></div>
        <div ng-message="md-maxlength">The SFDC Id  has to be less than 30 characters long.</div>
        <div ng-message="minlength">The SFDC Id should contain minimum 5 characters.</div></div></div>
      </md-input-container>
    </div>

    <div class="col-xs-5">

      <!-- Industry Type input-->
      <md-input-container class="md-block">
      <label>Industry</label>
      <input md-maxlength="100" minlength="5" required name="industry" ng-model="clients.industry">
      <div ng-messages="clientsForm.industry.$error" ng-show="clientsForm.industry.$touched || !clientsForm.industry.$pristine">
       <div class="messagenotify">
        <div ng-messages-include="/public/mods/partials/messages.html"></div>
        <div ng-message="md-maxlength">The Industry  has to be less than 30 characters long.</div>
        <div ng-message="minlength">The Industry should contain minimum 5 characters.</div></div></div>
      </md-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4">
    <img ng-if="showAvatar == false" ng-src="/public/assets/g/imgs/avatar.jpg" width="122" height="122" 
    />
    <img ng-if="showAvatar == true" ng-src="{{avatar}}" class="img-rectangle avatar-original pic" width="122" height="122"
    style="background-size:cover;"/></div>

    <div class="col--4"> <md-button class="md-primary md-raised" 
     ng-click="addClientLogo($event)">
     Add Logo
   </md-button></div>
 </div>
 <!-- Button -->
 <div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-success"
    ng-disabled="clientsForm.$invalid" ng-click="save()">Submit</button>
    <button type="reset" class="btn btn-warning" ng-click="cancel()" confirm-dialog header-text="Cancel Form Submission" content="Are you sure you want to cancel The submission of this form ?"
    yes-text="Ok" no-text="Cancel">Cancel</button>
  </div>
</div>
</div>
</form>
</div>
</div>

<!-- 
    <table class="table boldtable table-responsive table-bordered table-hover" width="100"><tr>
      <th>Child Account Name</th>
      <th></th></tr>
      <tbody class="data-grid-data">
        <tr>
         <td><input name="clientChildname" ng-model="clientChildname" class="form-control">
         </td>
         <td><a class="table-btn" ng-click="addchildClient(clientChildname);clientChildname = null"><span class="fa fa-plus fa-lg" /></a></td>

       </tr>
       <tr ng-repeat="childClient in childClients | filter: search |orderBy:orderByField:reverseSort">
        <td>{{childClient.clientChildname}}</td>
        <td><a class="table-btn" ng-click="removechildClient($index,childClients)"><span class="fa fa-trash fa-lg" /></a>
          <a ng-if="mode=='edit'" class="table-btn" ng-click="editchildClient($index,childClient)"><span class="fa fa-edit fa-lg" /></a>
        </td>
      </tr>

    </tbody>
  </table>
  <div ng-if="err" class="error text-danger">{{err}}</div> -->
  <!-- Profile editor-->
<!-- <div class="field">
 <label ng-show="clients.profile" class="show-hide">Profile</label><br>
 <div class="form-group">
  <text-angular
  ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],['p', 'quote'],
  ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent','insertLink']]"
  ng-model="clients.profile" name="profile" placeholder="Describe profile" required /></text-angular>
</div> -->
<!--   <md-input-container >
  <label>Net Promoter Score</label>
  <input required name="netPromoterScore" ng-model="clients.netPromoterScore"> -->
<!--   <div ng-messages="clientsForm.netPromoterScore.$error" ng-show="clientsForm.netPromoterScore.$touched || !clientsForm.netPromoterScore.$pristine">
   <div class="messagenotify">
    <div ng-messages-include="/public/mods/partials/messages.html"></div>
    <div ng-message="md-maxlength">The netPromoterScore  has to be less than 30 characters long.</div>
    <div ng-message="minlength">The netPromoterScore should contain minimum 3 characters.</div></div></div> -->
    <!--   </md-input-container> -->
    <!-- CSC Personnel input-->
    <!--salesExec-CSCPersonnel-->
<!-- <div class="row">
  <div class="form-group col-xs-4">
    <md-input-container class="md-block">
    <div class="form-group" ng-class="{ 'has-error': clientsForm.salesExecUser.$touched && clientsForm.salesExecUser.$invalid }">
      <label>Sales Executive &nbsp;&nbsp; :</label>
      <div user type="picker" user-model="salesExecUser" user-id="salesExecId" view-type="small" user-email="salesExecEmail" switch-mode="mode" user-type="employee"></div>
    </div>
  </md-input-container></div> -->
  <!--accountGM-CSCPersonnel-->
  <!-- <div class="form-group col-xs-4">
  <md-input-container class="md-block">
  <div class="form-group" ng-class="{ 'has-error': clientsForm.accountGMUser.$touched && clientsForm.accountGMUser.$invalid }">
    <label>Account General Manager &nbsp;&nbsp; :</label>
    <div user type="picker" user-model="accountGMUser" user-id="accountGMId" view-type="small" user-email="accountGMEmail" switch-mode="mode" user-type="employee"></div>
  </div>
</md-input-container></div> -->
<!--industryExec-CSCPersonnel-->
 <!-- <div class="form-group col-xs-4">
<md-input-container class="md-block">
<div class="form-group" ng-class="{ 'has-error': clientsForm.industryExecUser.$touched && clientsForm.industryExecUser.$invalid }">
  <label>Industry Executive &nbsp;&nbsp; :</label>
  <div user type="picker" user-model="industryExecUser" user-id="industryExecId" view-type="small" user-email="industryExecEmail" switch-mode="mode" user-type="employee"></div>
</div>
</md-input-container>
</div>
</div> -->
<!-- globalDelivery-CSCPersonnel -->
 <!-- <div class="row">
  <div class="form-group col-xs-6">
<md-input-container class="md-block">
<div class="form-group" ng-class="{ 'has-error': clientsForm.globalDeliveryUser.$touched && clientsForm.globalDeliveryUser.$invalid }">
  <label >Global Delivery &nbsp;&nbsp; :</label>
  <div user type="picker" user-model="globalDeliveryUser" user-id="globalDeliveryId" view-type="small" user-email="globalDeliveryEmail" switch-mode="mode" user-type="employee"></div>
</div>
</md-input-container></div> -->

<!-- cre-CSCPersonnel -->
<!--  <div class="form-group col-xs-6">
<md-input-container class="md-block">
<div class="form-group" ng-class="{ 'has-error': clientsForm.creUser.$touched && clientsForm.creUser.$invalid }">
  <label>CRE &nbsp;&nbsp; :</label>
  <div user type="picker" user-model="creUser" user-id="creId" view-type="small" user-email="creEmail" switch-mode="mode" user-type="employee"></div>
</div>
</div>
</md-input-container></div></div> -->
