<div class="row"> 
  <div class="col-sm-1"></div>
  <div class="col-md-8">
    <div class="logo">
    </div>
    <div class="page-header">
      Client Account Management - List
      <div class="sub-header">Managing CSC Accounts
      </div>
    </div>
    <div class="form-inline has-feedback filter-header">
      <input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
      <button class="btn btn-default btn-sm" ng-click="hideFilter=!hideFilter">Advanced Search</button>
    </div>
    <table class="table table-striped table-condensed table-bordered table-responsive table-hover">
      <thead class="data-grid-header">
        <tr>
          <th>
            <span class="glyphicon glyphicon-user"></span>
            <a href="" ng-click="orderByField='Name'; reverseSort = !reverseSort">Name</a>
          </th>

          <th>
            <span class="glyphicon"></span>
            <a href="" ng-click="orderByField='vertical'; reverseSort = !reverseSort">Vertical</a>
          </th>
          <th>
            <span class="glyphicon"></span>
            <a href="" ng-click="orderByField='profile'; reverseSort = !reverseSort">Profile</a>
          </th>         
          <th>
            <span class="glyphicon"></span>
            <a href="" ng-click="orderByField='competitors'; reverseSort = !reverseSort">Competitors</a>
          </th>
          <th>
            <span class="glyphicon"></span>
            <a href="" ng-click="orderByField='regions'; reverseSort = !reverseSort">Regions</a>
          </th>
          <th>
            <span class="glyphicon"></span>
            <a href="" ng-click="orderByField='offerings'; reverseSort = !reverseSort">Offerings</a>
          </th>
          <th>
            <span class="glyphicon"></span>
            <a href="" ng-click="orderByField='cscPersonnel'; reverseSort = !reverseSort">CSC Personnel</a>
          </th>
          <th>
            <span class="glyphicon"></span>
            <a href="" ng-click="orderByField='netPromoterScore'; reverseSort = !reverseSort">Net Promoter Score</a>
          </th>
        </tr>
      </thead>
      <tbody class="data-grid-data">
        <tr>
          <th><input type="text" ng-model="clients.name"></th>
          <th><input type="text" ng-model="clients.vertical"></th>
          <th><input type="text" ng-model="clients.profile"></th>
          <th><input type="text" ng-model="clients.competitors" ng-list required></th>
          <th><input type="text" ng-model="clients.regions" ng-list required></th>
          <th><input type="text" ng-model="clients.offerings" ng-list required></th>
          <th>Sales Exec:<input type="text" ng-model="clients.cscPersonnel.salesExec"></th>
          <th><input type="text" ng-model="clients.netPromoterScore"></th>
          <th><button class="btn btn-primary" ng-click="addclients()">Add clients</button></th>
          <th><button class="btn btn-info" ng-click="update()">Update</button>
            <button class="btn btn-info" ng-click="deselect()">Clear</button></th>
          </tr>
          <tr ng-repeat="clients in clientsList | filter: search |orderBy:orderByField:reverseSort">
            <td>{{clients.name}}</td>
            <td>{{clients.vertical}}</td>
            <td>{{clients.profile}}</td>
            <td><div ng-repeat="competitors in clients.competitors track by $index">{{competitors}}</td>
            <td><div ng-repeat="regions in clients.regions track by $index">{{regions}}</td>
            <td> <div ng-repeat="offerings in clients.offerings track by $index">{{offerings}}</div></td>
            <td>{{clients.cscPersonnel.salesExec}}</td>
            <td>{{clients.netPromoterScore}}</td>
            <td><button class="btn btn-danger" ng-click="remove(clients._id)">Remove</button></td>
            <td><button class="btn btn-warning" ng-click="edit(clients._id)">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
