.cd-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.cd {

  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  width: 300px;
  min-height: 100px;
  color: #333333;
  background: #ffffff;
  border: 0.5px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 auto;
  z-index: 1000;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
       -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
         -o-transition: opacity 0.5s ease-in;
            transition: opacity 0.5s ease-in;
}

.cd.load {
  opacity: 1;
}

.cd > .cd-header {
  width: 100%;
  height: 40px;
  background: #f6f7f8;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cd > .cd-header > h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0 0 10px;
  display: block;
  float: left;
  position: relative;
}

.cd > .cd-header > i.close {
  font-size: 18px;
  position: absolute;
  top: 12px;
  right: 10px;
  color: #bfc3ca;
  cursor: pointer;
}

.cd > .cd-header > i.close:hover {
  color: #333;
}

.cd > .cd-content {
  background: #fff;
  display: inline-block;
  width: 100%;
}

.cd > .cd-content > span {
  display: block;
  margin: 10px;
  padding: 0 0 5px 0;
  font-size: 14px;
  border-bottom: 1px solid #dcdee4;
}

.cd > .cd-actions {
  display: inline-block;
  background: #fff;
  float: right;
  margin: 0 10px 10px 0;
}

.cd > .cd-actions > button {
  margin-left: 5px;
  float: left;
  border: 1px solid #fff;
  background: #f1f1f1;
  color: #333;
  border-radius: 3px;
  padding: 5px 20px;
  cursor: pointer;
}  