
<br><link rel="stylesheet" href="/public/assets/m/css/userview.css">
<style>

/*header styles*/

.tb-big {
    height: 125px;

    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-size: 1.1em;
    box-shadow: 2px 2px 5px #676767;

    font-family: robotoRegular;
}

.tb-small {
    height: 48px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-size: 1.1em;
    box-shadow: 2px 2px 5px #676767;
    font-family: robotoRegular;
}
.divtop{
    padding-top: 60px;
}
 .client-rep {
        margin-top: 0px;
        margin-bottom: 0px;
    }

</style>

 
<div header showprofile="false" icon="fa fa-line-chart" title1="Contact Details" title2="visit title">

     <div class="pull-right">

                <div class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-th-large fonticon1"></i>
                    <span class="caret"></span>
                </div>

                <ul class="dropdown-menu">
                    <li><a href"#">Hyderabad</a></li>
                    <li><a href"#">Banglore</a></li>
                    <li><a href"#">Noida</a></li>
                </ul>

            </div>


    </div>
<div class="divtop">
  <div class="header">CONTACT DETAILS</div>
  <div class="client-rep">
  	<div class="heading">LOCATION : {{contactList[0].location}}</div>
  	
  	<div class="list-group">
  		<div href="#" class="list-group-item" ng-repeat="contact in contactList" ng-click="collapseDiv($index,'client')">

  			  <div class="representative-pic col-xs-1 col-sm-1 col-md-1">
  					<userview user-id="contact.user" user-model view-mode="bullet-small"></userview>

  				</div>
  			   <div class="representative-bios-div col-xs-10 col-sm-10 col-md-10">
  					<userview user-id="contact.user" user-model view-mode="brief-view"></userview>
              {{contact.type}}
            </div>
  				  <div class="chevron-div col-xs-2 col-sm-1 col-md-1"></div>
                <div class="rep-hidden-details collapse col-xs-12 col-sm-12 col-md-12" id="client{{$index}}">
             <userview user-id="contact.user" user-model view-mode="detial-view"></userview>
                </div>


  				 
  				</div>  			
  			</div>
  		</div>
  	</div>
  </div>
