<div header showprofile="false" icon="fa fa-phone" title1="Key Contacts" title2="{{title}} Visit to CSC India" query='query'>
 <div class="searchViewHead  col-xs-12">
   <div class="searchDivHead col-xs-12 col-sm-8 col-md-12 div-padding">
    <i class="fa fa-search fonticon1"></i>
    <input type="text" placeholder="Search" value="" name="search" id="search" ng-model="$parent.query.$">
    <div class="pull-right">
        <div class="btn dropdown-toggle" type="button" data-toggle="dropdown">
            LOCATION
            <span class="caret"></span>
        </div>
        <ul class="dropdown-menu">
            <div ng-repeat="city in cities">
                <li><a href="#/contacts/{{city}}">{{city}}</a></li>
                <li class="divider"></li>
            </div>
        </ul>
     </div>
    </div>
  </div>
</div>

<div class="divtop"></div>
<div id="spoc-page" ng-if="activevisits == true">
    <div ng-if="anchor!=null" class="spoc-details-container">

        <div class="heading1">CONTACT YOUR VISIT MANAGER</div>
        
        <div class="list-group" filter-list="$parent.query.$">
            <div class="spoc-pic col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <img class="img-circle spocpicture" ng-src="{{anchor.avatar}}">
            </div>
            <div class="spoc-bios-div col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <div class="spoc-name">{{anchor.name.prefix}} {{anchor.name.first}} {{anchor.name.middle}} {{anchor.name.last}} {{anchor.name.suffix}}
                </div>
                <div class="spoc-designation">{{anchor.jobTitle}}</div>{{anchor.type}}
                <div class="spoc-bios">{{anchor.summary}}</div>
                <div class="reach-spoc-phone">
                    <div class="number">{{anchor.contactNo[0].contactNumber}}</div>
                    <a class="col-xs-6 col-sm-6 col-md-6 call-text" ng-href="tel: {{anchor.contactNo[0].contactNumber}}">CALL</a>
                    <a class="col-xs-6 col-sm-6 col-md-6 message-text" ng-href="sms: {{anchor.contactNo[0].contactNumber}}">MESSAGE</a>
                </div>
                <div class="reach-spoc-email">
                    <div class="number">{{anchor.email}}</div>
                    <a class="email-text" ng-href="mailto: {{anchor.email}}">EMAIL</a>
                </div><br>
                <div><i class="fa fa-book fa-lg" aria-hidden="true"></i>
                    <a ng-href="{{fileUrl}}" download="{{anchor.name.first}}.vcf">Active Address Book</a>
                </div>

            </div>
<br>
        </div>

<br>
               <div ng-if="contactList[0]!=null" class="heading1">CONTACT YOUR LOCATION SPOC FOR {{contactList[0].location}}</div>
        <div ng-show="(contactList |filter:query).length==0">No contact Found</div>
        <div class="list-group">
         <div class="spoc-details" class="list-group-item" ng-repeat="spoc in contactList | filter:query">
            <div class="spoc-pic col-xs-1 col-sm-1 col-md-1">
                <img class="img-circle spocpicture" ng-src="{{spoc.avatar}}">
            </div>
            <div class="spoc-bios-div col-xs-11 col-sm-11 col-md-11">
                <div class="spoc-name"><span>{{spoc.firstName}}</span> <span>{{spoc.lastName}}</span></div>
                <div class="spoc-designation">{{spoc.jobTitle}}</div>{{spoc.type}}
                <div class="spoc-bios">{{spoc.summary}}</div>
                <div class="reach-spoc-phone">
                    <div class="number">{{spoc.contactNo}}</div>
                    <a class="col-xs-6 col-sm-6 col-md-6 call-text" ng-href="tel: {{spoc.contactNo}}">CALL</a>
                    <a class="col-xs-6 col-sm-6 col-md-6 message-text" ng-href="sms: {{spoc.contactNo}}">MESSAGE</a>
                </div>
                <div class="reach-spoc-email">
                    <div class="number">{{spoc.email}}</div>
                    <a class="email-text" ng-href="mailto: {{spoc.email}}">EMAIL</a>
                </div>
                  <div><i class="fa fa-book fa-lg" aria-hidden="true"></i>
                    <a ng-href="{{fileDataUrl[$index]}}" download="{{spoc.name}}.vcf">Active Address Book</a>
                </div>
            </div>
         
         </div>
        </div>
    </div>
</div>

<div ng-show="activevisits != true">
<br>
No active visits available in the database<br/>
Please contact the Visit Portal Admin
</div>
</div>