
<style>

.tb-big {
    height: 150px;

    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-size: 1.1em;
    box-shadow: 2px 2px 5px #676767;

    font-family: robotoRegular;
}

.tb-small {
    height: 65px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-size: 1.1em;
    box-shadow: 2px 2px 5px #676767;
    font-family: robotoRegular;
}
.divtop{
	padding-top: 153px;
}

</style>
<div header showprofile="false" icon="fa fa-phone" title1="mycontacts page" title2="contacts">  
   <div class="searchView col-xs-12">
	         <div class="searchDiv col-xs-10 col-sm-9 col-md-10 div-padding">
	                <i class="fa fa-search fonticon1"></i>
	                <input type="text" placeholder="Search" value="" name="search" id="search">

	        
							<div class="pull-right">

								<div class="btn dropdown-toggle" type="button" data-toggle="dropdown">
									<i class="fa fa-th-large fonticon1"></i>
									<span class="caret"></span>
								</div>
								<ul class="dropdown-menu">
									<li><a href ng-click="setTimeline('past')">Past</a></li>
									<li><a href ng-click="setTimeline('last-week')">Last Week</a></li>
									<li><a href ng-click="setTimeline('this-week')">This Week</a></li>
									<li><a href ng-click="setTimeline('today')">Today</a></li>
									<li><a href ng-click="setTimeline('next-week')">Next Week</a></li>
									<li><a href ng-click="setTimeline('further')">Future</a></li>
								</ul>
							</div>

	         
	          </div>
	</div>
</div>
<!--div scroll>

		<div id="header_nav" ng-class="navClass">

				<div class="hd-prime">
						<div class="my-visit-header col-xs-12 col-sm-12 col-md-12">
								<div class="my-visit-sub-header col-xs-12 col-sm-12 col-md-12">
										<div class="profile-details-div">
												<span id="menu-toggle">
													 <i class="fa fa-bars"></i>
												</span>
												&nbsp;&nbsp;
												<img class="img-circle visitpic" src="{{user.avatar}}">
												<div class="profile-overview">
														<h1>{{user.name.first}} {{user.name.last}}</h1>
														<p>{{user.jobTitle}}, {{user.organization}}</p>
												</div>
										</div>
								</div>
					 </div>
				</div>
				<div class="hd-sec">
						<a id="menu-toggle" href="#menu-toggle">
								<i class="fa fa-bars"></i>
						</a>
						&nbsp;&nbsp;Contacts
				</div>
				<div class="hd-sticky">
				<div class="searchView col-xs-12">
				 <div class="searchDiv col-xs-10 col-sm-9 col-md-10 div-padding">
								<i class="fa fa-search fonticon1"></i>
								<input type="text" placeholder="Search" value="" name="search" id="search">

						<!-- <div class="sortBy col-xs-2 col-sm-3 col-md-2 div-padding pull-right" ng-click="showSortDropDown()">
								<div class="sort-by-wrapper">
										<i class="fa fa-th-large fonticon1"></i>
										<img src="/public/assets/m/rem/list-by-icon-down-arrow.png" class="drop-down-img" ng-if="!IsVisible">
										<img src="/public/assets/m/rem/list-by-icon-up-arrow.png" class="drop-down-img" ng-if="IsVisible">
								</div>
						</div>
						<div class="sortByDropDown" ng-show="IsVisible">
								<ul class="list-group">
										<li class="sort-by-drop-down list-group-item " ng-click="sortByCategory()">All</li>
										<li class="sort-by-drop-down list-group-item" ng-click="sortByCategory()">Today</li>
										<li class="sort-by-drop-down list-group-item" ng-click="sortByCategory()">Past Month</li>
										<li class="sort-by-drop-down list-group-item" ng-click="sortByCategory()">This Month</li>
										<li class="sort-by-drop-down list-group-item" ng-click="sortByCategory()">Next Month</li>
								</ul>
						</div> -->

						<!--div class="pull-right">

							<div class="btn dropdown-toggle" type="button" data-toggle="dropdown">
								<i class="fa fa-th-large fonticon1"></i>
								<span class="caret"></span>
							</div>
							<ul class="dropdown-menu">
								<li><a href ng-click="setTimeline('past')">Chennai</a></li>
								<li><a href ng-click="setTimeline('last-week')">Hyderabad</a></li>
								<li><a href ng-click="setTimeline('this-week')">Noida</a></li>
								<li><a href ng-click="setTimeline('today')">Bangalore</a></li>
								<li><a href ng-click="setTimeline('next-week')">Indore</a></li>
								<li><a href ng-click="setTimeline('further')">Mumbai</a></li>
							</ul>
						</div>

				 </div>
		</div>
		 </div>
		</div>
	</div-->

<div class="divtop">Contacts - Hyderabad</div>


    <div id="spoc-page">
    <div class="spoc-details-container">
        <div class="heading1">CONTACT YOUR SPOC</div>
        <div class="spoc-details" ng-repeat="spoc in spoc_details">
            <div class="spoc-pic col-xs-2 col-sm-2 col-md-2">
                <img class="img-circle spocpicture" ng-src="{{spoc.picture}}">
            </div>
            <div class="spoc-bios-div col-xs-10 col-sm-10 col-md-10">
                <div class="spoc-name">{{spoc.name}}</div>
                <div class="spoc-designation">{{spoc.designation}}</div>
                <div class="spoc-bios">{{spoc.bio}}</div>
                <div class="reach-spoc-phone" ng-repeat="phone in spoc.telephone">
                    <div class="number">{{phone}}</div>
                    <a class="col-xs-6 col-sm-6 col-md-6 call-text" ng-href="tel: {{phone}}">CALL</a>
                    <a class="col-xs-6 col-sm-6 col-md-6 message-text" ng-href="sms: {{phone}}">MESSAGE</a>
                </div>
                <div class="reach-spoc-email">
                    <div class="email">{{spoc.email}}</div>
                    <a class="email-text" ng-href="mailto: {{spoc.email}}">EMAIL</a>
                </div>
                <div class="download-contact glyphicon glyphicon-paperclip">
                    <div class="download-text">Download Contact</div>
                </div>
            </div>
        </div>
    </div></div>
    <br><br>
    <br>to test scrolling<br>
From today's featured article
Jumping Flash! is a platform video game co-developed by Exact and Ultra and published by Sony Computer Entertainment. The first instalment in the Jumping Flash! series, it was released in April 1995 for the PlayStation in Japan and later the same year in Europe and North America; it was re-released through the PlayStation Network store on PlayStation 3 and PlayStation Portable in 2007. Presented in a first-person perspective, the game follows a robotic rabbit named Robbit as he searches for missing jet pods that have been scattered by the game's antagonist character, the astrophysicist Baron Aloha. The game has been described as an early showcase for 3D graphics in console gaming. Generally well received by critics, who praised its graphics and unique gameplay, it was later overshadowed by 3D platformers of the fifth console generation. It was described as the third-most underrated video game of all time by Matt Casamassina of IGN in 2007,
<br><br>
<br><br><br>and holds the Guinness World Record as the "First platform video game in true 3D". (Full article...)


</div>
<script>
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#page").toggleClass("toggled");
	});
</script>
