<form name="BOD-form" id="BOD-form" class="form-vertical" >

        <!-- <b>Business Opportunity Details</b><br> -->
        <table class="table boldtable table-responsive table-bordered table-hover" width="100"> 
          <thead class="data-grid-header">
            <tr>
              <th>&nbsp;&nbsp;TCV</th>
              <th>&nbsp;&nbsp;Duration</th>
              <th>&nbsp;&nbsp;Offering/Portfolio Size</th>
              <th>&nbsp;&nbsp;Team Size</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="data-grid-data">
            <tr>
              <td><input type="text" placeholder="TCV" ng-model="bodDef.tcvName" class="form-control"></td>
              <td><input type="text" placeholder="Duration" ng-model="bodDef.duration" class="form-control" ></td>
              <td>
                <select name="type" ng-model="bodDef.offerings" class="form-control" ng-dropdown >
                  <option ng-option value="welcome"> Big Data & Analytics</option>
                  <option ng-option value="digitalApp"> GBS - Digital Application</option>
                  <option ng-option value="GBScons"> GBS – Consulting</option>
                  <option ng-option value="GBSis"> GBS – IS & S</option>
                  <option ng-option value="GIS"> GIS </option>
                  <option ng-option value="other"> Other </option>
                </select>
              </td>
              <td><input type="text" name = "teamSize" placeholder="Team Size" ng-model="bodDef.teamSize" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" class="form-control"> <span  ng-show="BOD-form.teamSize.$error.pattern">Team Size should be a number !</span></td>
              
              <!-- <td><a class="btn btn-primary" ng-click="addkeynote(keynoteDef)" ng-disabled="keynoteForm.$invalid || autoFailkey">Add Keynote</a></td> -->
              <td><a class="table-btn" ng-click="addBod(bodDef)" ><span class="fa fa-plus fa-lg" /></a></td>
            
            </tr>
            <tr ng-repeat="bodDef in bods">
             <td>{{bodDef.tcvName}}</td>
             <td>{{bodDef.duration}}</td>
             <td>{{bodDef.offerings}}</td>
             <td>{{bodDef.teamSize}}</td>
             <td> <a class="table-btn" ng-click="removeBod($index)"><span class="fa fa-trash fa-lg" /></a> </td>
          </tr>
        </tbody>
      </table>
    </form>
    <div ng-if="err" class="error text-danger">{{err}}</div>