<md-dialog aria-label="Mango (Fruit)" ng-cloak>
<form>
	<md-toolbar>
	<div class="md-toolbar-tools">
		Cancel Visit
		<span flex></span>
		<md-button class="md-icon-button" ng-click="canceldialogvMan()">
		<md-icon <i class="fa fa-times" aria-label="Close dialog"></i></md-icon>
	</md-button>
</div>
</md-toolbar>
<md-dialog-content>
<br>
<md-dialog-actions>
<div class="row">
	<div class="col-lg-12 col-md-12">
<!-- <ul> -->
	<div class="well error text-danger" ng-show="cancelReasonNote">
		{{errcancelReason}}
		<div class=" pull-right closeicon">
			<a class="table-btn" ng-click="closecancelReasonNote()"><li class="fa fa-times fa-lg" /></a>
		</div>
	</div>
<!-- </ul> -->
<br>

<!-- <ul> -->
	<b>Provide the reasons for canceling the Visit:<br></b>
	<md-input-container class="md-block">
	<text-angular
	ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],['p', 'quote'],
	['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent','insertLink']]"
	ng-model="cancelReason" name="cancelReason" />
</text-angular>
</md-input-container>
<!-- </ul> -->
</div>
</div>
</md-dialog-actions>
<md-button class="md-primary md-raised pull-right" ng-click="cancelVisit(cancelReason)">
OK
</md-button>
<md-button class="md-warn md-raised pull-right" ng-click="canceldialogvMan()">
Cancel
</md-button>
</form>
</md-dialog>