
<div ng-controller="visitsControllerMain">
<!-- page header/subheader -->
<div ng-if="mode=='add'" class="page-header">
  Visit Planner - Add New Visit
  <div class="sub-header">Highlevel planning for the visit
  </div>
</div>

<div ng-if="mode=='edit'" class="page-header">
  Visit Planner - Edit Visit
  <div class="sub-header">Edit {{visits.title}}
  </div>
</div>

<div class= "page-toolbar">
  <div class="pull-right">
<!--     <a href="mailto:"><i class="fa fa-envelope fa-lg"></i></a>&nbsp;email&nbsp;
    <a href="#"> <i class="fa fa-thumbs-o-up fa-lg"></i></a>&nbsp;follow&nbsp;
    <a href="#/session"><i class="fa fa-calendar fa-lg"></i></a>&nbsp;schedule&nbsp; -->
    
</div>
</div><br>