<div ng-controller="visitsControllerMain">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> <b>Send Notifications</b></h3>
		</div>
		<div class = "panel-subheader pull-right">
		</div>
		<div class="panel-body">
			<div class="well"><label>Client Notifications:</label><br>
				To send notifications to all clients please click below button.
				<button type="submit" class="btn btn-info pull-right" ng-click="clientEmail()" >First Notifications</button>
			</div>

			<div class="well"><label>Invitiee Notifications:</label><br>
				To send notifications to all Invitiees please click below button.
				<button type="submit" class="btn btn-info pull-right" ng-click="inviteEmail()">Second Notifications</button>

			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> <b>List of visits</b></h3>
		</div>
		<div class = "panel-subheader pull-right">
		</div>
		<div class="panel-body">
			If Notifications are send as required, please click <b>List</b> to go back to list of all visits. <br>
			<div class="pull-right"> 	<button type="submit" class="btn btn-success"
				ng-click="closeNotification()">List</button></div>
			</div>
		</div>

	</div>