<div ng-controller="visitsControllerMain">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> <b>Send Notifications</b></h3>
		</div>
		<div class = "panel-subheader pull-right">
		</div>
		<div class="panel-body">
			<div class="well"><label>Client Notifications:</label><br>
				To send notifications to all clients please click below button.
				<button type="submit" class="btn btn-info pull-right" ng-click="clientEmail()" >First Notifications</button>
			</div>

			<div class="well"><label>Invitiee Notifications:</label><br>
				To send notifications to all Invitiees please click below button.
				<button type="submit" class="btn btn-info pull-right" ng-click="inviteEmail()">Second Notifications</button>

			</div>
		</div>
	</div>
	<div class="panel panel-default" ng-if='!closeTab'>
		<div class="panel-heading">
			<h3 class="panel-title"> <b>Close the visit</b></h3>
		</div>
		<div class = "panel-subheader pull-left"><!-- <b>Close Status:</b> -->
		</div>
		<div class="panel-body">
			This close represents the closing of visit and only Admin can edit further.
			Please make sure all the data is filled/sent as required.
			<br>
			<div class="pull-right"><button type="submit" class="btn btn-danger"
				ng-click="closeVisit(status)" confirm-dialog header-text="Close" content="Are you sure you want to Close the visit</b>" yes-text="Ok" no-text="Cancel">Close</button></div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"> <b>List of visits</b></h3>
			</div>
			<div class = "panel-subheader pull-right">
			</div>
			<div class="panel-body">
				Please click <b>List</b> to go back to list of all visits. <br>
				<div class="pull-right"> 	<button type="submit" class="btn btn-success"
					ng-click="closeNotification()">List</button></div>
				</div>
			</div>

		</div>