<!--schedules-->
<br>
<form name="scheduleForm" id="scheduleForm" class="form-vertical" novalidate>
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2"></div>
    <div class="col-sm-5 col-md-5 col-lg-5 col-xs-5">
      <div class="well" ng-show="closeNoteTipSch">
        Note: Atleast One Visit schedule needs to be added.
        <div class=" pull-right closeicon">
          <a class="table-btn" ng-click="closeNoteTipST()"><li class="fa fa-times fa-lg" /></a>
        </div>
      </div>
    </div>
  </div>
<!-- <div ng-if="subdis" class="error text-info">Note: Please dont forget to fill Visit schedul details.</div> -->

<br>
  <table class="table boldtable table-responsive table-bordered table-hover" width="100">
    <thead class="data-grid-header">
      <tr>
        <th><span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Start Date</th>
        <th><span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;End Date</th>
        <th><span class="fa fa-globe fa-lg"></span>&nbsp;&nbsp;Location</th>
        <!-- <th ng-if="visitGrid"><span class="fa fa-map-marker fa-lg"></span>&nbsp;&nbsp;Meeting Place</th> -->
        <th></th>
      </tr>
    </thead>
    <tbody class="data-grid-data">
      <tr>
       <td><input type="text" placeholder="Start Date" ng-model="schedule.startDate" class="form-control" ui-date novalidate></td>
       <td><input type="text" name="endDate" placeholder="End Date" ng-model="schedule.endDate" class="form-control" ui-date novalidate></td>
       <td><select
         ng-model="schedule.location"
         ng-options="data for data in location" class="form-control">
       </select>
     </td>
     <!-- <td ng-if="visitGrid"><input type="text" placeholder="Meeting Place" class="form-control" ng-model="schedule.meetingPlace"></td> -->
     <td><a class="table-btn" ng-click="addSchedule(schedule)" ng-disabled="scheduleForm.$invalid || stdate"><span class="fa fa-plus fa-lg" /></a></td>
   </tr>

    <tr ng-repeat="schedule in schedules | filter: search |orderBy:orderByField:reverseSort">
    <td>{{schedule.startDate | date:"dd MMM yyyy"}}</td>
    <!--td ng-show="editScheduleRow[$index]">
      <input type="text" placeholder="Start Date" ng-model="schedule.startDate" class="form-control" ui-date novalidate>
    </td-->

    <td>{{schedule.endDate | date:"dd MMM yyyy"}}</td>
    <!--td ng-show="editScheduleRow[$index]">
      <input type="text" name="endDate" placeholder="End Date" ng-model="schedule.endDate" class="form-control" ui-date novalidate>
    </td-->

    <td>{{schedule.location}}</td>
    <!--td ng-show="editScheduleRow[$index]">
      <select
         ng-model="schedule.location"
         ng-options="data for data in location" ng-selected="location" class="form-control">
       </select>
    </td-->

    <!-- <td ng-if="visitGrid">{{schedule.meetingPlace}}</td> -->{{stdate= true;""}}
    <td>
      <a class="table-btn" ng-click="removeSchedule($index,schedules)"><span class="fa fa-trash fa-lg" /></a>
      <!--a class="table-btn" ng-click="editSchedule($index,schedule)"><span class="fa fa-edit fa-lg" /></a-->
    </td>
    <!--td ng-show="editScheduleRow[$index]">
      <a class="table-btn" ng-click="updateSchedule($index,schedule)" ng-disabled="scheduleForm.$invalid || stdate"><span class="glyphicon glyphicon-ok"/></a>
      <a class="table-btn" ng-click="cancelSchedule($index)"><span class="glyphicon glyphicon-remove"/></a>
    </td-->

  </tr>
</tbody>
</table>
</form>
<div ng-if="err" class="error text-danger">{{err}}</div>