<!--schedules-->
<br>
<form name="scheduleForm" id="scheduleForm" class="form-vertical" novalidate>

  <table class="table boldtable table-responsive table-bordered table-hover" width="100">
    <thead class="data-grid-header">
      <tr>
        <th><span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Start Date</th>
        <th><span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;End Date</th>
        <th><span class="fa fa-globe fa-lg"></span>&nbsp;&nbsp;Location</th>
        <th ng-if="tab"><span class="fa fa-globe fa-lg"></span>&nbsp;&nbsp;Meeting Place</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="data-grid-data">
      <tr>
       <td><input type="text" placeholder="Start Date" ng-model="schedule.startDate" class="form-control" ui-date novalidate ></td>
       <td><input type="text" name="endDate" placeholder="End Date" ng-model="schedule.endDate" class="form-control" ui-date novalidate >
        
        </td>
        <td><select
         ng-model="schedule.location"
         ng-options="data for data in location" class="form-control">
       </select>
     </td>
     <td ng-if="tab"><input type="text" placeholder="Meeting Place" class="form-control" ng-model="schedule.meetingPlace"></td>
     <td><a class="table-btn" ng-click="addSchedule(schedule)"><span class="fa fa-plus fa-lg" /></a></td>

   </tr>
   <tr ng-repeat="schedule in schedules | filter: search |orderBy:orderByField:reverseSort">
    <td>{{schedule.startDate | date:"dd MMM yyyy"}}</td>
    <td>{{schedule.endDate | date:"dd MMM yyyy"}}</td>
    <td>{{schedule.location}}</td>
    <td ng-if="tab">{{schedule.meetingPlace}}</td>
    <td><a class="table-btn" ng-click="removeSchedule($index)"><span class="fa fa-trash fa-lg" /></a>
      <a ng-if="mode=='edit'" class="table-btn" ng-click="editSchedule($index,schedule)"><span class="fa fa-edit fa-lg" /></a>
    </td>
  </tr>
</tbody>
</table>
</form>
