<!--schedules-->
<br>
<table class="table boldtable table-responsive table-bordered table-hover" width="100">
  <thead class="data-grid-header">
    <tr>
      <th><span class="fa fa-calendar"></span>&nbsp;&nbsp;Start Date</th>
      <th><span class="fa fa-calendar"></span>&nbsp;&nbsp;End Date</th>
      <th><span class="fa fa-globe"></span>&nbsp;&nbsp;Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="data-grid-data">
    <tr>
     <td><input type="text" placeholder="Start Date" ng-model="schedule.startDate" ui-date novalidate></td>
     <td><input type="text" placeholder="End Date" ng-model="schedule.endDate" ui-date novalidate></td>
     <td><select
       ng-model="schedule.location"
       ng-options="data for data in location">
     </select>
     <!-- <pre>selected: {{schedule.location}}</pre> -->
   </td>
   <td><button class="btn btn-primary" ng-click="addSchedule(schedule)">Add Schedule</button></td>

 </tr>
 <tr ng-repeat="schedule in schedules | filter: search |orderBy:orderByField:reverseSort">
  <td>{{schedule.startDate | date:"dd MMM yyyy"}}</td>
  <td>{{schedule.endDate | date:"dd MMM yyyy"}}</td>
  <td>{{schedule.location}}</td>
  <td><a class="table-btn" ng-click="removeSchedule($index)"><span class="fa fa-trash" /></a>
    <a class="table-btn" ng-click="editSchedule($index,schedule)"><span class="fa fa-edit" /></a>
  </td>
</tr>
</tbody>
</table>
