<table>
	<tr>
		<td>          
			<div>
				<select name="sessionmode" ng-model="sessionId" ng-dropdown ng-change="haschange()">
					<option value=""></option>
					<option ng-repeat="ty in sessiondbId" value="{{ty._id}}" 
					ng-if = "ty.session.type != 'lunch' && ty.session.type != 'breakfast' && ty.session.type != 'dinner' && ty.session.type != 'tea-break' ">
					{{ty.session.title}}
				</option>
			</select>
			<select name="mode" ng-model="view.mode" ng-if="sessionId" ng-dropdown>
				<option value=""></option>
				<option ng-option value="personSession">By Person</option>
				<option ng-option value="questionSession">By Question</option>
			</select>
			<div id="person" ng-if="view.mode == 'personSession'" style="display: inline">
				<label ng-init="sessionFeedbackbyPerson(visitid,sessionId)"/>
			</div>
			<div id="question" ng-if="view.mode == 'questionSession'" style="display: inline">
				<label ng-init="sessionFeedbackbyQuestion(visitid,sessionId)"/>
			</div>
		</div>
	</td>
	<td>
	</tr>
</table>
<br>
<div class="panel panel-default" ng-if="view.mode == 'personSession'" col-xs-6>
	<div class="panel-heading">

		<div class="row">
			<div class="col-sm-6 col-xs-6 col-md-6">
				<h3 class="panel-title"> <b>Owner</b></h3>
				<br>
				<div class="panel panel-default">
					<div class="panel-body ">

						<div class="pull-left" ng-if="view.mode == 'personSession'">
							<img ng-src="{{userModel.avatar}}"  class="img-circle userpiclg"> </div>
							<div class="panelpdlg">

								<div class="text-highlight">{{userModel.name.first}} {{userModel.name.last}}</div>
								<div class="text-xsmall">{{userModel.email}}</div>
								<div class="text-xsmall">{{userModel.jobTitle}} {{userModel.organization}}</div>
								<div class="text-desc">{{userModel.summary}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-xs-6 col-md-6">
					<h3 class="panel-title"> <b>Supporter</b></h3>
					<br>
					<div class="panel panel-default">
						<div class="panel-body ">

							<div class="pull-left" ng-if="view.mode == 'personSession'">
								<img ng-src="{{userModel1.avatar}}"  class="img-circle userpiclg"> </div>
								<div class="panelpdlg">

									<div class="text-highlight">{{userModel1.name.first}} {{userModel1.name.last}}</div>
									<div class="text-xsmall">{{userModel1.email}}</div>
									<div class="text-xsmall">{{userModel1.jobTitle}} {{userModel1.organization}}</div>
									<div class="text-desc">{{userModel1.summary}}</div>
								</div>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
{{mode= "large";""}}
<!-- {{mode}} -->

	<div class="panel panel-default" ng-if="view.mode == 'personSession'" col-xs-6>
		<div class="panel-heading">
			
			<div class="row">
				<div class="col-sm-12 col-xs-12 col-md-12">
					<h3 class="panel-title"> <b>Description</b></h3>
					<br>
					<h4><richtext class="text" body-text="description">
                  </richtext></h4>
				</div>		
			</div>
		</div>
	</div>

	<div class="panel panel-default" ng-if="view.mode == 'questionSession'" col-xs-6>
		<div class="panel-heading">

			<div class="row">
				<div class="col-sm-6 col-xs-6 col-md-6">
					<h3 class="panel-title"> <b>Owner</b></h3>
					<br>
					<div class="panel panel-default">
						<div class="panel-body ">

							<div class="pull-left" ng-if="view.mode == 'questionSession'">
								<img ng-src="{{userModel2.avatar}}"  class="img-circle userpiclg"> </div>
								<div class="panelpdlg">

								<div class="text-highlight">{{userModel2.name.first}} {{userModel2.name.last}}</div>
									<div class="text-xsmall">{{userModel2.email}}</div>
									<div class="text-xsmall">{{userModel2.jobTitle}} {{userModel2.organization}}</div>
									<div class="text-desc">{{userModel2.summary}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-xs-6 col-md-6">
						<h3 class="panel-title"> <b>Supporter</b></h3>
						<br>
						<div class="panel panel-default">
							<div class="panel-body ">

								<div class="pull-left" ng-if="view.mode == 'questionSession'">
									<img ng-src="{{userModel3.avatar}}"  class="img-circle userpiclg"> </div>
									<div class="panelpdlg">

										<div class="text-highlight">{{userModel3.name.first}} {{userModel3.name.last}}</div>
										<div class="text-xsmall">{{userModel3.email}}</div>
										<div class="text-xsmall">{{userModel3.jobTitle}} {{userModel3.organization}}</div>
										<div class="text-desc">{{userModel3.summary}}</div>
									</div>
								</div>
							</div>
						</div>			
					</div>
				</div>
			</div>

	<div class="panel panel-default" ng-if="view.mode == 'questionSession'" col-xs-6>
		<div class="panel-heading">
			
			<div class="row">
				<div class="col-sm-12 col-xs-12 col-md-12">
					<h3 class="panel-title"> <b>Description</b></h3>
					<br>
					<h4><richtext class="text" body-text="description">
                  </richtext></h4>
				</div>		
			</div>
		</div>
	</div>
<div class="panel panel-default" ng-if="view.mode == 'personSession'">
	<div class="panel-heading">
		<h3 class="panel-title"> <b>{{sessiontitle}}</b></h3>
	</div>

	<div ng-repeat="feedbackModel in feedbackSamplelist track by $index">
		
		<div ng-if="view.mode == 'personSession'">

			<div class = "panel-subheader">
				<br>
				&nbsp;&nbsp;&nbsp;<userdisplay view-mode="mode" user-id="feedbackModel.providedBy"/>
			</div>
			<div class="panel-body">
				<div style="pointer-events: none;">
					<div  ng-repeat="(index,item) in feedbackModel.item">
						{{item.query}}

						<form>
							<div ng-if="item.mode == 'star-rating'">           
								<label>
									<ng-rate-it ng-model="feedbackModel.item[index].answer"></ng-rate-it>
								</label>
								<br>
							</div>
						</form>

						<form>
							<div  ng-if="item.mode == 'freetext'">  					
								<textarea ng-model="feedbackModel.item[index].answer" rows="3" cols="35"></textarea>
							</div>
						</form>

						<form>
							<div  ng-if="item.mode == 'single-choice'">  					
								<label class="radio-inline" ng-repeat="choice in item.choices">
									<input type="radio" name="choice" ng-model="feedbackModel.item[index].answer" value="{{choice}}"/>
									{{choice}}  	

								</label>
							</div>
						</form>

						<form>
							<div ng-if="item.mode == 'multi-choice'">  					
								<b>Answer :</b>
								{{feedbackModel.item[index].answer}}
							</div>
						</form>

						<br>
					</div>
				</div>
			</div>

		</div>
		<hr>
	</div>	
	</div>

	<div class="panel panel-default" ng-if="view.mode == 'questionSession'">
		<div class="panel-heading">
			<h3 class="panel-title"> <b>{{sessiontitle}}</b></h3>
		</div>
		<div ng-repeat="questionPerItems in questionsToFilter() | filter:filterQuestions" 
		ng-if="view.mode == 'questionSession'">
		<b><h4>&nbsp;&nbsp;&nbsp;{{questionPerItems.query}}</h4></b>

		<li ng-repeat="item in arrayItem | filter:{query: questionPerItems.query}" 
		style="margin-left: 1cm">
			<userdisplay view-mode="designation" user-id="item.providedBy"/>
			 responded : {{item.answer}}</li>
		<hr>		        
		</div>
	</div>