<style>
.tabs  span{
  display: inline;
  margin-right: 10px;
}


.tabs a {  
    text-decoration: none;
    font-size: 34px;
    font-family: workSansBold;

}
.tabs a:focus {
    padding-bottom: 11px;
    border-bottom: 3px solid #6495ce;
    font-size: 45px;

    vertical-align: center;
}
</style>
<br><br>



<!-- page header/subheader -->
<div class="page-header">
  Visit Planner - Add New Visit
  <div class="sub-header">Highlevel planning for the visit
  </div>
</div>
<div class= "page-toolbar">
  <div class="pull-right">
    <a href="#"><i class="fa fa-envelope fa-lg"></i></a>&nbsp;email&nbsp;
    <a href="#"> <i class="fa fa-thumbs-o-up fa-lg"></i></a>&nbsp;follow&nbsp;
    <a href="#/session"><i class="fa fa-calendar fa-lg"></i></a>&nbsp;schedule&nbsp;
  </div>
</div><br>







<div class="tabs">
    <a href ng-click="onClickTab(tab)">{{tab.title}}</a>&nbsp;&nbsp;
    <span ng-repeat="tab in tabs">
        <a href ng-click="onClickTab(tab)">{{tab.title}}</a>&nbsp;&nbsp;
    </span>
</div>

            <div ng-include="currentTab"></div>

    <script type="text/ng-template" id="one.tpl.html">
        <div id="viewOne">
            <h1>View One</h1>
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc.</p>
        </div>
    </script>
    
    <script type="text/ng-template" id="two.tpl.html">
        <div id="viewTwo">
            <h1>View Two</h1>
            <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
        </div>
    </script>

        <script type="text/ng-template" id="three.tpl.html">
        <div id="viewThree">
            <h1>View Three</h1>
            <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
        </div>
    </script>