

<div class="row"> 
  <div class="col-sm-1"></div>
  <div class="col-md-8">

   <!-- page header/subheader -->

   <div class="page-header">
    visits Management - Add
    <div class="sub-header">Add new visit           
      <a class="table-btn" href="#"><span class="glyphicon glyphicon-envelope" /></a>
        <a class="table-btn" href="#"><span class="glyphicon glyphicon-hand-up" /></a>
        <a class="table-btn" href="#/session"><span class="glyphicon glyphicon-calendar" /></a>
    </div>
  </div>

  <!-- visits pageheader input--> 
  <div class="data-form">
    <form name="visitsForm" id="visitsForm" class="form-vertical" novalidate
    ng-model-options="{updateOn:'default blur',debounce:{'default':500,'blur':0}}">

    <!-- visits title input-->
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" id="title" name="title"
      ng-model="visits.title" required ng-minlength="3" ng-maxlength="50"
      floating-validation/>
    </div>
    
    <!-- visits client input-->
    <div class="form-group">
      <input type="text" class="form-control" placeholder="client" id="client" name="client"
      ng-model="visits.client" required ng-minlength="5" ng-maxlength="50"
      floating-validation/>
    </div>
   
    <!-- visits agenda -->
    <div class="form-group">
      <text-angular 
      ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],['p', 'quote'],
      ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent','insertLink']]"
      ng-model="visits.agenda" name="note" placeholder="Agenda of visit." required /></text-angular>
    </div>

    <!-- visits edited By input--> 
    <div class="form-group" ng-class="{ 'has-error': clientsForm.anchorUser.$touched && clientsForm.agmUser.$invalid }">
      <label class="col-md-4 control-label">AGM &nbsp;&nbsp; :</label>  
      <div class="col-md-4">
        <div user type="picker" user-model="agmUser" user-id="agmId" user-email="agmEmail" ></div>
      </div>
    </div>
    <br>
    <br>
    <br>

    <!-- visits anchor By input--> 
    <div class="form-group" ng-class="{ 'has-error': clientsForm.anchorUser.$touched && clientsForm.anchorUser.$invalid }">
      <label class="col-md-4 control-label">Anchor &nbsp;&nbsp; :</label>  
      <div class="col-md-4">
        <div user type="picker" user-model="anchorUser" user-id="anchorId" user-email="anchorEmail" ></div>
      </div>
    </div>
    <br>
    <br>
    <br>

    <!--visit Schedule-->
    <div ng-include src="'/public/mods/visits/scheduleViewAdd.html'"></div>
    <br>
    <!--visitors in the vist-->
    <div ng-include src="'/public/mods/visits/visitorsViewAdd.html'"></div>

    <!--vist Interest interest. businessType visitType objective-->
  
    <!-- visits businessType-->
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Business Type" id="businessType" name="businessType"
      ng-model="visits.interest.businessType" required ng-minlength="5" ng-maxlength="50"
      floating-validation/>
    </div>
   
   <!-- visits visitType-->
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Visit Type" id="visitType" name="visitType"
      ng-model="visits.interest.visitType" required ng-minlength="5" ng-maxlength="50"
      floating-validation/>
    </div>
   
    <!-- visits objective -->
    <div class="form-group">
      <text-angular 
      ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear'],['p', 'quote'],
      ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent','insertLink']]"
      ng-model="visits.interest.objective" name="objective" placeholder="Intrest Objective of visit." required /></text-angular>
    </div>

    <!-- visits status input-->
    <div class="form-group" ng-class="{ 'has-error': clientsForm.status.$touched && clientsForm.status.$invalid }">
      <input type="text" class="form-control" id="status" name="status"
      ng-model="visits.status" required ng-minlength="5" ng-maxlength="50"
      floating-validation/>
    </div> 

    <!-- visits createBy --> 
    <div class="form-group" ng-class="{ 'has-error': clientsForm.createByUser.$touched && clientsForm.createByUser.$invalid }">
      <label class="col-md-4 control-label">Created By &nbsp;&nbsp; :</label>  
      <div class="col-md-4">
        <div user type="picker" user-model="createByUser" user-id="createById" user-email="createByEmail" ></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    
    <!--buttons-->
    <div class="form-group">
      <div class="pull-left">
        <button type="submit" class="btn btn-success" 
        ng-click="save()" ng-disabled="visitsForm.$invalid">Submit
      </button>
      <button type="reset" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </div>

</form>
</div>
</div>
</div>
