<!-- {{feedbackDatalist}} -->
<!-- {{visitorList}}
{{fbackList}} -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
<div class="row"> 
	<div class="col-sm-1"></div>
	<div class="col-md-8">

		<!-- page header/subheader -->

		<div class="page-header">
			Feedback Mode
			<div class="sub-header">Select View Mode
			</div>
		</div>

<table>

<tr>
<td>          
	Mode
	<div>
	<select name="mode" ng-model="view.mode" ng-dropdown>
			<option ng-option value="person">By Person</option>
			<option ng-option value="question">By Question</option>
	</select>
		<div id="person" ng-if="view.mode == 'person'" style="display: inline">
		<!-- {{userData._id}} -->
			<label ng-init="feedbackbyPerson(visitid)"/>
		</div>
		<div id="question" ng-if="view.mode == 'question'" style="display: inline">
			<label ng-init="feedbackbyQuestion(visitid)"/>
		</div>
	</div>
</td>
<td>
</tr>
</table>

<table>
<tr ng-repeat="feedbackModel in feedbackDatalist">
<td>
<div style="pointer-events: none;">
	<div class="text-highlight"><div userdisplay view-mode="nameonly" user-id="feedbackModel.providedBy"></div></div>
	<div  ng-repeat="(index,item) in feedbackModel.item">
		{{item.query}}

		<form>
			<div ng-if="item.mode == 'star-rating'">           
				<label>
					<ng-rate-it ng-model="feedbackModel.item[index].answer"></ng-rate-it>
				</label>
				<br>
			</div>
		</form>

		<form>
			<div  ng-if="item.mode == 'freetext'">  					
				<textarea ng-model="feedbackModel.item[index].answer" rows="3" cols="35"></textarea>
			</div>
		</form>

		<form>
			<div  ng-if="item.mode == 'single-choice'">  					
				<label class="radio-inline" ng-repeat="choice in item.choices">
					<input type="radio" name="choice" ng-model="feedbackModel.item[index].answer" value="{{choice}}"/>
					{{choice}}  	

				</label>
			</div>
		</form>

		<form>
			<div ng-if="item.mode == 'multi-choice'">  					
				<label class="checkbox-inline" ng-repeat="choice in item.choices">
					<input type="checkbox" name="choice" ng-checked="selection.indexOf(choice) > -1" ng-click="toggleSelection(choice,index)"/>
					{{choice}}
				</label>
				<br>
				{{feedbackModel.item[index].answer}}
			</div>
		</form>

		<br>
	</div>

</div>
</td>
<hr>
</tr>
</table>

<table>
			<!--<tr ng-repeat-start="aData in arrayAnswer track by $index">
			<td>
			{{aData[$index].query}}
			<!-- {{arrayAnswer[$index]}} 
			</td>
			<tr ng-repeat-end>
			<td>{{aData}}</td>
			</tr>
<!-- 			<tr ng-repeat="fbModel in feedbacks">
				<td>{{fbModel.providedBy}}</td>
			</tr> 
		
			</tr>-->

<!-- 			<div ng-repeat="aAnswer in arrayAnswer"> 
			<div ng-if=aAnswer.query==arrayQuery[$index]/>
			{{arrayQuery[$index]}}
			{{aAnswer.answer}}
			</div>
			</div> -->

</table>
<!--  <li ng-repeat="employment in Employments">
      <div ng-repeat="user in Users" ng-if="user.id === employment.user_id" >
        {{user.name}}:{{employment.title}}
      </div>
    </li> -->
    <!-- {{arrayQuery}} -->
<!--     {{arrayAnswer}}
	<div ng-repeat="answer in arrayAnswer" | unique:>
		
	</div> -->

<div ng-repeat="questionPerItems in questionsToFilter() | filter:filterQuestions">
        <b>{{questionPerItems.query}}</b>

        <li ng-repeat="item in arrayItem | filter:{query: questionPerItems.query}">{{item.answer}}</li>        
    </div>


</div>
</div>