<!--visitors-->
<b>visitors</b><br>
<table class="table boldtable table-responsive table-bordered table-hover" width="100"> 
  <thead class="data-grid-header">
    <tr>
      <th><span  class="glyphicon glyphicon-user"></span>Visitor Email-Id</th>
      <th><span  class="glyphicon"></span>Influence</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="data-grid-data">
    <tr>
      <td>    
        <div user type="picker" user-model="visitorDef.visitorUser" user-id="visitorDef.visitorId" user-email="visitorDef.visitor" >
        </div>
      </td>
      <td><input type="text" placeholder="Influence" ng-model="visitorDef.influence"></td>
      <td><button class="btn btn-primary" ng-click="addvisitor(visitorDef)">Add visitor</button></td>
    </tr>
    <tr ng-repeat="visitorDef in visitors | filter: search |orderBy:orderByField:reverseSort">
      <td>{{visitorDef.visitor}}</td>
      <td>{{visitorDef.influence}}</td>
      <td>
        <a class="table-btn" ng-click="removevisitor($index)"><span class="glyphicon glyphicon-trash" /></a>
        <a class="table-btn" ng-click="editvisitor($index,visitorDef)"><span class="glyphicon glyphicon-edit" /></a>

      </td>
    </tr>
  </tbody>
</table>
