<div ng-controller="visitsControllerMain">

  <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
  <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;"></div>

  <!--Basic Information TAB ONE-->
  <md-tab label="Visit Details" ng-if="agendaTab">
  <md-content class="md-padding">
  <div ng-include src="'/public/mods/visits/agendaTab.html'"></div>
  </md-content>
  </md-tab>

  <!--Add Visitors TAB TWO-->
  <md-tab label="Add Visitors" ng-if="visitorsTab" md-active="agendaSave">
  <md-content class="md-padding">
  <div ng-include src="'/public/mods/visits/visitorsTab.html'"></div>
  </md-content>
  </md-tab>

  <!--Add Schedules TAB THREE
  <md-tab label="Session">
  <md-content class="md-padding">
  <!-- <div ng-include src="'/lol.html'"></div> -->
  <!-- <h3><i>Work in progress..</i></h3>
  </md-content>
  </md-tab> -->

  <!--Add Finalize TAB PAGE FOUR-->
  <md-tab label="Planning" ng-if="finalizeTab" md-active="visitorSave">
  <md-content class="md-padding">
  <div ng-include src="'/public/mods/visits/finalizeTab.html'"></div>
  </md-content>
  </md-tab>

  <!--Add notifications TAB PAGE FIVE-->
  <md-tab label="Finalize" ng-if="notifyTab" md-active="finalizeSave">
  <md-content class="md-padding">
  <div ng-include src="'/public/mods/visits/notificationsTab.html'"></div>
  </md-content>
  </md-tab>
  <!--Add Close Visit TAB PAGE SIX-->
  <md-tab label="Visit complete" ng-if="closeTab" md-active="closeSave">
  <md-content class="md-padding">
  <div ng-include src="'/public/mods/visits/closeTab.html'"></div>
  </md-content>
  </md-tab>

</md-tabs><!--end of tabs-->
</md-content><!--end of content-->
</div>
