<div id="hamburger-menu">
    <button type="button" class="menu-button" ng-click="openMenu()"></button>
    <div class="" id="menu-list" ng-show="expanded">
        <div class="close-menu"><img src="assets/rem/close-btn-magenta.png" ng-click="openMenu()"></div>
                <div class="menu-profile-pic"><img src="{{user.avatar}}"></div>
                <div class="menu-profile-name">{{user.name.first}} {{user.name.last}}</div>
        <ul class="ul-nav-bar">
            <li class="active">
                <a href="#/cscHome" class="home-menu"><img src="assets/img/ic/home.png">Home</a>
            </li>
            <li>
                <a href="#" class="view-agenda-menu"><img src="assets/img/ic/agenda.png">View Agenda</a>
            </li>
            <li>
                <a href="#/facts" class="facts-menu"><img src="assets/img/ic/facts1.png">Factsheets</a>
            </li>
            <li>
                <a href="#/contacts" class="contact-menu"><img src="assets/img/ic/contct1.png">Contact SPOC</a>
            </li>
            <li>
                <a href="#/feedback" class="feedback-menu"><img src="assets/img/ic/fb.png">Feedback</a>
            </li>
            <li>
                <a href="#" class="exec-menu"><img src="assets/img/ic/grp.png">Executive BIO'S</a>
            </li>
            <li>
                <a href="#" class="past-visits-menu"><img src="assets/img/ic/cals1.png">Past Visits</a>
            </li>
            <li>
                <a href="#" class="settings-menu"><img src="assets/img/ic/setting.png">Settings</a>
            </li>
            <li>
                <a href="#" class="logout-menu"><img src="assets/img/ic/logout.png">Logout</a>
            </li>
        </ul>
    </div>
</div>
