

<style>

    .tb-big {
        height: 125px;

        background-color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        font-size: 1.1em;
        box-shadow: 2px 2px 5px #676767;

        font-family: robotoRegular;
    }

    .tb-small {
        height: 48px;
        background-color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        font-size: 1.1em;
        box-shadow: 2px 2px 5px #676767;
        font-family: robotoRegular;
    }
    .divtop{
        padding-top: 92px;
    }
    input.star {
       display: none;
   }
   label.star {
    float: right;
    color: #F3C227;
    font-size: 1.6em;
    padding-right: 5px;
}
.title2 {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}
.hd-prime{
   height: 88px;
}
input.star:checked ~ label.star:before {
    content: '\f005';
    color: #F3C227;
}
input[type=checkbox] {
    margin-right: 5px;
    margin-top: 0px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 19px;
    cursor: pointer;
    outline: none;
    background: url('/public/assets/m/img/ic/checkbox-sprite.png') no-repeat;
    background-position: 0px 0px;
    background-size: 36px;
}
input[type=checkbox]:checked {
    background: url('/public/assets/m/img/ic/checkbox-sprite.png') no-repeat;
    background-position: -18px 0px;
    background-size: 36px;
}

progress{
    width: 100%;
    height: 5px;
    margin: 2px;

}
progress {background-color: #8fa6c8 !important;}

progress::-moz-progress-bar {background-color: #8fa6c8 !important;}

progress::-webkit-progress-value {background-color: #8fa6c8 !important;}

.head h1{

    font-size: 16px;
}
     

</style>


<div header class="head" showprofile="false" icon="fa fa-line-chart" title1="Visit Feedback" title2="feedback for  visit">
    Visit Feedback
</div>
<br>
<br>
<div class="divtop"  ng-if="finalFeedback == true && status == 'finalize'">
<div ng-if="feedbackSamplelist[0]._id==undefined">
<div class="sessionfeedback">
<div feedback feedback-id="overallFeedbackTmpl" visit-id="visitId" session-id="sessionId" feedback-model type="visit"></div>
</div>
</div>
<div ng-if="feedbackSamplelist[0]._id!=undefined">
<div class="sessionfeedback">
<div feedback feedback-id="overallFeedbackTmpl" visit-id="visitId" session-id="sessionId" feedback-model type="visit" 
 fbid="feedbackSamplelist[0]._id"></div>
</div>
</div>
</div>
<div class="divtop" ng-if="finalFeedback!= true">
<br>
<br>
Thank you for Visiting the Overall Feedback page</b><br/>
                Feedback capture form will be available at the end of the visit<br/>
                Will appreciate your patience 
</div>
 <div  ng-if="status != 'finalize'">
<br>
<br>
<br>
<br>
<br>
<br>
No active visits available in the database<br/>
Please contact the Visit Portal Admin
</div> 
<!-- <div class="divtop">  
    <div id="overall-feedback-page">
   
        <div class="scrollable-content">

            <div class="corousel">
                <div class="corousel-inner" style="width: 1496px;">
                <br>
                <br>

                {{form_id}}
                form-{{order}}
                    <form  id="form-order" class="form-div active" value="Increase Progress">

                        <div ng-if="items[order].mode == 'multi-choice'" class="checkbox-div">
                            <div class="checkbox-text">{{items[order].query}}</div>
                            <div class="checkbox-input">
                                <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6" 
                                ng-repeat="choice in items[order].choices">
                                <input type="checkbox" name="choice" 
                                value="{{choice}}" name="choice" ng-checked="selection.indexOf(choice) > -1" ng-click="toggleSelection(choice,order)"/>&nbsp;&nbsp;{{choice}}
                                </label>
                                            </div>
                                        </div>
                                        <div ng-if="items[order].mode == 'freetext'" 
                                        class="comments-div">
                                            <div class="comments-text">{{items[order].query}}</div>
                                            <div class="comments-input">
                                                <textarea placeholder="Write here..." ng-model="items[order].answer"></textarea>
                                            </div>
                                        </div>


                                        <div ng-if="items[order].mode == 'single-choice'" class="checkbox-div">
                                        <div class="checkbox-text">{{items[order].query}}</div>
                                         <div class="checkbox-input">                  
                                           <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-repeat="choice in items[order].choices">
                                             <input type="radio" name="choice" ng-model="items[order].answer" value="{{choice}}"/>
                                             {{choice}}&nbsp;&nbsp;   
                                         </label>
                                         </div>
                                     </div>

                                     <form>
                                        <div class="star-ratings-div" 
                                        ng-if="items[order].mode == 'star-rating'"> 
                                        <div class="star-rating-text">{{items[order].query}}</div> 
                                        <div class="checkbox-input">  
                                          <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <ng-rate-it ng-model="items[order].answer"></ng-rate-it>
                                        </label>    
                                        </div>          
                                    </div>
                                    </form>


                                    </form>
                                    <form id="form-2" class="form-div">
                             
                                    </form>

                                                </div>
                                            </div>
                                        </div>

                                
                                        <div class="save-and-progress">
                                            
                                            <progress id="progress" value="{{counter}}" max="{{max}}">
              
                                                </progress>
                                            
                                            <div class="prev-and-save-buttons">
                                                <div class="prev-button disabled" ng-click="prev(order);orderDecrement();">
                                                    <div class="prev-icon"></div>PREV</div>
                                                    <div ng-if="showSaveNext == true" class="save-next-button" type="submit" ng-click="next(order);">SAVE & NEXT
                                                        <div class="next-icon"></div>
                                                    </div>
                                                    <div class="pull-right" ng-if="showSaveNext == false" type="submit" ng-click="submitAndExitForm()">SAVE & EXIT
                                                        <div class="next-icon"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->