  <link rel="stylesheet" href="/public/assets/m/css/thankyou.css">
<div  class="headerwelT">
  <br>

<img src="/public/assets/g/imgs/csclogo.png" class="lo">
                
<span class="wellc"> &nbsp;&nbsp;&nbsp;&nbsp;Thank You !
                    
 </span>
 </div>
 <br>

<div class="detailsT">
  {{url=thankyouResponse[order].attachment;""}}
  {{fileExt=url.split(".").pop();""}}

  <div ng-if="fileExt == 'mp4' || fileExt == 'mkv' || fileExt == 'avi' || fileExt == 'wmv'">
    <video id="thankyou"  controls  autoplay muted ng-src="{{url}}" 
    type="video/fileExt">
    </video>
  </div>

  <div ng-if="fileExt =='jpg' || fileExt=='png' || fileExt=='gif' || fileExt=='jpeg'">
    <img ng-src="{{url}}" class="image1" />
  </div>

  <div ng-if="fileExt =='mp3' || fileExt=='wav' || fileExt=='aac'">
    <audio id="audio"  controls  autoplay muted ng-src="{{url}}" 
    type="audio/fileExt">
    </audio>
  </div>

        
     <div class="richtextT">
       <richtext class="text" body-text="thankyouResponse[order].noteText">
       </richtext>
     </div>
  
    <hr>

    <div class="profileT">
        <div class="pull-left">
            <img ng-src="{{user.avatar}}" class="img-thumbnail userpicT"> 
        </div>
        <div class="panelpdmdT">
            <div class="text-highlight">{{user.name.first}} {{user.name.last}}</div>
            <div class="text-xsmall">{{user.email}}</div>
            <div class="text-xsmall">{{user.jobTitle}}</div>
            <div class="text-xsmall">{{user.organization}}</div>
        </div>       
    </div>

<a href="/m/main/"><button class="buttonT" type="button"  class="btn btn-default">continue1&nbsp;<i class="fa fa-angle-right"></i></button></a>
</div>




</div>