/* CSS used here will be applied after bootstrap.css */
img.pic {
  width: 122px;
  height: 122px;
}

div.avatar {
  border: 1px solid #eee;
  width: 122px;
  height: 122px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.cropArea {
  background: #E4E4E4;
  background-image: url("/public/assets/images/draganddrop.png");
  background-size: 100% 100%;
  overflow: hidden;
  width:732px;
  height:405px;
} 


@media only screen and (min-width: 768px) {
  .cropArea {
    width:732px;
    height:405px;
  }
}

@media only screen and (max-width: 768px) {
  .cropArea {
    width:350px;
    height:200px;
  }
}
.dialogdemoBasicUsage #popupContainer {
  position: relative;
  padding-top: 500px; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
