   
<style></style>
<div class="wizpad">
  <form name="AccountInformation" id="agendaForm" class="form-vertical" novalidate>
    <div ng-if="error" class="error text-danger well">{{error}}</div>
    <!--panel-one-->
    <div class="panel panel-default">
     <div class = "panel-subheader pull-right">
     </div>
     <div class="panel-body">
      <!-- visits client input <h3 class="panel-title"><b>Account Information</b></h3>-->
      <div class="row">
        <label>Parent Account Name  <span class="asterrisk">*</span></label>
        <angucomplete-alt
        id="ex14"
        placeholder="Select Client or Add Client"
        pause="500"
        selected-object="visitsSelectedClient"
        remote-url="/api/v1/secure/clients/find?query="
        remote-url-data-field="items"
        title-field="parentClient"
        minlength="3" 
        input-class="form-control form-control-small"
        match-class="highlight"
        template-url="/my-custom-template.html"
        initial-value="parentSelected"
        box-type="md"
        input-changed="parentClientChanged"
        />
        <div class="messagenotify">
          <div class="text-danger">{{errparentMsg}}</div>
        </div> 

      </div>  
      <div class="large-padded-row">

        <div class="padded-row">
          <script type="text/ng-template" id="/my-custom-template.html">
          <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
          <input ng-model="searchStr"
          class="md-block"
          ng-disabled="disableInput"
          type="text"
          placeholder="{{placeholder}}"
          ng-focus="onFocusHandler()"
          class="{{inputClass}}"
          ng-focus="resetHideResults()"
          ng-blur="hideResults($event)"
          autocapitalize="off"
          autocorrect="off"
          autocomplete="off"
          ng-change="inputChangeHandler(searchStr)"/>
          <div class="angucomplete-dropdown" ng-show="showDropdown">
          <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
          <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
          <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
          <div ng-if="imageField" class="angucomplete-image-holder">
          <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
          <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
          </div>
          <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
          <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
          <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
          <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
          </div>
          <div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { parentClient: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
          <div class="angucomplete-title">Add New Client '{{ searchStr }}'</div>
          </div>
          </div>
          </div>
          </script>
        </div>
      </div>
      {{visits.clientName=visitsSelectedClient.originalObject.parentClient;""}}

      <br>
      <!-- visits agenda-->
      <div class="row">
        <label>Child Account Name <span class="asterrisk">*</span></label>
        <angucomplete-alt
        id="ex14"
        placeholder="Select Child Client or Add Client"
        pause="500"
        selected-object="visitsSelectedchildClient"
        remote-url="/api/v1/secure/clients/find?query={{visits.clientName}}&subQuery="
        remote-url-data-field="items1"
        title-field="childClient"
        minlength="3" 
        input-class="form-control form-control-small"
        match-class="highlight"
        template-url="/my-custom1-template.html"
        initial-value="childSelected"
        box-type="md"
        input-changed="childClientChanged"
        />
        <div class="messagenotify">
          <div class="text-danger">{{errchildMsg}}</div>
        </div>  
      </div> 
      <div class="large-padded-row">

        <div class="padded-row">
          <script type="text/ng-template" id="/my-custom1-template.html">
          <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
          <input ng-model="searchStr"
          class="md-block"
          ng-disabled="disableInput"
          type="text"
          placeholder="{{placeholder}}"
          ng-focus="onFocusHandler()"
          class="{{inputClass}}"
          ng-focus="resetHideResults()"
          ng-blur="hideResults($event)"
          autocapitalize="off"
          autocorrect="off"
          autocomplete="off"
          ng-change="inputChangeHandler(searchStr)"/>
          <div class="angucomplete-dropdown" ng-show="showDropdown">
          <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
          <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
          <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
          <div ng-if="imageField" class="angucomplete-image-holder">
          <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
          <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
          </div>
          <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
          <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
          <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
          <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
          </div>
          <div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { childClient: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
          <div class="angucomplete-title">Add New Child Client '{{ searchStr }}'</div>
          </div>
          </div>
          </div>
          </script>
        </div>
      </div>
      {{visits.subName=visitsSelectedchildClient.originalObject.childClient;""}}
      {{visits.industry = "null";""}}
      {{visits.sfdcid = "null"; ""}}

      <br>
      <div class="row">
        <label class="visLabel">Offerings <span class="asterrisk">*</span></label>
<!--         <multiple-autocomplete ng-model="$parent.selectedList"
        suggestions-arr="offerings">
      </multiple-autocomplete>  -->   
      <!-- {{$parent.selectedList}}      -->
      <select
      ng-model="visits.selectedList" 
      ng-options="data1 for data1 in offerings" class="form-control">
    </select>
  </div>

  
<!-- {{visits.regions}} -->
  <div class="row">
   <label>Regions <span class="asterrisk">*</span></label>
   <select
   ng-model="visits.regions" 
   ng-options="data1 for data1 in regions" class="form-control">
 </select>
</div>

</div>
</div>
<!-- {{error}} -->
<div  class="wbutton">
  <span ng-click="add(visits)">Next &nbsp;<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></span>

</div>

</form>
</div>
