   <style></style>
       <div class="wizpad">
        <form name="agendaForm" id="agendaForm" class="form-vertical" novalidate>
          <!--panel-one-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> <b>Info about the client's visit agenda...</b></h3>
            </div>
            <div class = "panel-subheader pull-right">
            </div>
            <div class="panel-body">
              <div class="row">
              
                <!-- visits title input-->
                              <!-- <input name="title" ng-model="visits.title"> -->
                 <label>Title:</label>
                <input id="name" name="name" placeholder="Title"   required type="text" ng-model="visits.title">
                </div>
                 <br>
            
                   
              <!-- visits client input-->
              <div class="row">
                <label>ClientName:</label>
                <input required name="clientname" ng-model="clientName" placeholder="Client Name" type="text" autocomplete required>
                <div ng-show="autoFail" class="error text-danger" >{{clientNotFound}}</div>
                
              </div>           
              <br>
              <!-- visits agenda-->
              <div class="row">
              <label>Agenda</label>
                <textarea class="form-control" type="text" rows="5" id="comment" placeholder="Agenda" ng-model="visits.agenda"></textarea>
              </div>           

            </div>
          </div>
          <div  class="wbutton">
          <i class="fa fa-angle-right fa-lg"  wz-next="agenda(visits,clientId,clientName)"  aria-hidden="true">&nbsp;&nbsp;Next</i>
 
          </div>

        </form>
        </div>