
<br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<form>
	First Name:  <input type="text" ng-model="visitor.name.first"><br><br>
	Middle Name: <input type="text" ng-model="visitor.name.middle"><br><br>
	last Name: <input type="text" ng-model="visitor.name.last"><br><br>
	Email: <input type="text" ng-model="emailId"><br><br>
	Designation: <input type="text" ng-model="visitor.jobTitle"><br><br>
</form>
<input type="button" class="pull-left" wz-previous="logStep();addvisitordata(visitor,emailId,influencedata)" value="Save &amp; Continue" />
<input type="button" class="pull-right" wz-previous="logStep();closeNewVisitor();" value="Cancel" /><br><br>
<!-- <input type="button" wz-next="logStep();finish();" value="FINISH" /> -->