<!--schedules-->

<div class="wizpad">
<form name="scheduleForm" id="scheduleForm" class="form-vertical" novalidate>

  <table class="table boldtable table-responsive table-bordered table-hover" width="100">
    <thead class="data-grid-header">
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="data-grid-data">
      <tr>
       <td><input type="text" placeholder="Start Date" ng-model="schedule.startDate" class="form-control" ui-date novalidate></td>
       <td><input type="text" name="endDate" placeholder="End Date" ng-model="schedule.endDate" class="form-control" ui-date novalidate></td>
       <td>
        <select id="location" name="location" onfocus="setFocusToTextBox()" placeholder="location" class="form-control">
          <option selected disabled></option>
          <option value="Chennai">Chennai</option>
          <option value="Hyderabad">Hyderabad</option>
          <option value="Bangalore">Bangalore</option>
          <option value="Noida">Noida</option>
          <option value="Vadodara">Vadodara</option>
          <option value="Indore">Indore</option>
          <option value="Mumbai">Mumbai</option>
        </select>
     </td>
     <td><a class="table-btn" ng-click="addSchedule(schedule)" ng-disabled="scheduleForm.$invalid || stdate"><span class="fa fa-plus fa-lg" /></a></td>

   </tr>
   <tr ng-repeat="schedule in schedules | filter: search |orderBy:orderByField:reverseSort">
    <td>{{schedule.startDate | date:"dd MMM yyyy"}}</td>
    <td>{{schedule.endDate | date:"dd MMM yyyy"}}</td>
    <td>{{schedule.location}}</td>
    <td><a class="table-btn" ng-click="removeSchedule($index,schedules)"><span class="fa fa-trash fa-lg" /></a>
    </td>
  </tr>
</tbody>
</table>
</form>
<div ng-if="subdis" class="error text-info">Please dont forget to fill Visit schedul details. !!!!</div>
<div ng-if="err" class="error text-danger">Please Enter valid data.!!</div>


<span class="pull-left" wz-previous="logStep();backcheck()" ><i class="fa fa-angle-left fa-lg "   aria-hidden="true"></i>&nbsp;Previous</span>
<span  class="pull-right" wz-next="logStep()">Next&nbsp;<i class="fa fa-angle-right fa-lg"  aria-hidden="true"></i></span>

<!--input type="button" class="pull-left backbut"  wz-previous="logStep();backcheck()" value="BACK" /-->


</div>
<input type="text" name="q" id="locationinput" style="border: none;
background: transparent;outline: none;color:transparent;" 
onfocus="startDictation(document.getElementById('locationinput'))" />