<style>select{
  padding: 5px;
  transition: border 0.3s;
  width: 95%;
  border: 0.3px solid black;
  outline-color: black;
}

select option{
  width: 95%;
}
.selpad{
  padding-left: 13px;}
  .selpad select{
    width: 93%;
  }
  </style>
  <div class="wizpad">
    <form name="orgkeyTakeForm" id="orgkeyTakeForm" class="form-vertical" novalidate>
      <div ng-if="error" class="error text-danger well">{{error}}</div>
      

      <!--panel-four-->
      <div class="panel panel-default">
        <div class = "panel-subheader pull-right">
        </div>
        <div class="panel-body">
          <!--billable-->
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
              <div class="form-group">
                <label class="show-hide">CSC Objective <span class="asterrisk">*</span></label>
                <textarea class="form-control" rows="5" id="comment" ng-model="visits.interest.objective"></textarea>        
              </div>

            </div></div></div>

            <!--vist Interest interest. businessType visitType objective-->

            <!-- visits businessType-->

            <label>Status</label>
            &nbsp;&nbsp;
            <input type="radio" name="status" ng-model="status" value="confirm">&nbsp; Confirm
            &nbsp;&nbsp;
            <input type="radio" name="status" ng-model="status" value="tentative"> Tentative         
          </div>
        </div>

        <label>Visit Type <span class="asterrisk">*</span></label>
        <select name="type"  ng-model="visits.interest.businessType"  ng-dropdown>
          <option ng-option  value="new">New</option>
          <option ng-option value="existing">Existing</option>
        </select>

        <!-- </div> -->
        <div class="row">
          <div class="col-xs-12">

            <!-- visits visitType-->
            <div class="form-group">
              <div id="new" ng-if="visits.interest.businessType == 'new'">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;Say more </label><br><div class="selpad">
                <select  name="type" ng-model="visits.interest.visitType" ng-dropdown>
                  <option ng-option value="dueDiligence">Due Diligence</option>
                  <option ng-option value="exploratory">Exploratory</option>
                  <option ng-option value="planning">Planning</option>
                </select>
              </div>
            </div>
            <div id="existing" ng-if="visits.interest.businessType == 'existing'">
              <label>&nbsp;&nbsp;&nbsp;&nbsp;Visit Type-Existing</label><br><div class="selpad">
              <select name="type" ng-model="visits.interest.visitType"  ng-dropdown>
                <option ng-option value="operationsReview">Operations Review</option>
                <option ng-option value="renewals">Renewals</option>
                <option ng-option value="newBusiness">New Business</option>
                <option ng-option value="strategic">Strategic</option>
              </select></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>
  <!-- {{error}} -->
  <span wz-previous="logStep()" class="pull-left"><i class="fa fa-angle-left fa-lg "   aria-hidden="true"></i>&nbsp;Previous</span>
  <span ng-click="addtwo(visits,status);" class="pull-right">Next&nbsp;<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></span>
  <br>
  <br>
</div>

