<!-- Grid filter -->
<div class="container">
  <div class="form-inline has-feedback filter-header">
  <div class="row">
    <div class="col-xs-5">
      <input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
    <!-- <i class="glyphicon glyphicon-search form-control-feedback"></i> -->
      <button class="btn btn-default btn-sm" ng-click="hideFilter=!hideFilter">Advanced Search</button>
    </div>
    <div class="col-xs-4" ng-if="!isSaving">
      <a class="btn btn-default btn-sm pull-right" href="#/feedbackTmpl/add">Add New Feedback</a>
    </div>
    <div ng-include src="'/public/mods/feedback/partials/sortSearch.html'"></div>
  </div>
</div> <!-- Grid filter ends -->

<table class="table table-striped table-condensed table-responsive table-hover">
  <thead class="data-grid-header">
    <!-- table header -->
    <tr>
      <th>
        <span class="fa fa-th-large fa-lg"></span>&nbsp;&nbsp;
        <a href="" ng-click="orderByField='title'; reverseSort = !reverseSort">Title</a>
      </th>
      <th>
        <span class="fa fa-list-alt fa-lg"></span>&nbsp;&nbsp;
        <a href="" ng-click="orderByField='type'; reverseSort = !reverseSort">Type</a>
      </th>
      <th>
        <span class="fa fa-user fa-lg"></span>&nbsp;&nbsp;Created By
        <!-- <a href="" ng-click="orderByField='createBy'; reverseSort = !reverseSort">Created By</a> -->
      </th>
      <th class="hidden-xs">
        <span class="fa fa-calendar fa-lg"></span>&nbsp;&nbsp;Created On
        <!-- <a href="" ng-click="orderByField='createOn'; reverseSort = !reverseSort">Created On</a> -->
      </th>
      <th></th>
    </tr>

    <!-- table filter -->
    <tr ng-hide="hideFilter">
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.title"></span></th>
      <th><span ng-hide="hideFilter"><input type="text" ng-model="search.type"></span></th>
      <!-- <th><span ng-hide="hideFilter"><input type="text" ng-model="search.userCreateBy"></span></th> -->
      <!-- <th><span ng-hide="hideFilter"><input type="text" ng-model="search.createOn"></span></th> -->
      <th><span ng-hide="hideFilter">&nbsp;</span></th>
      <th><span ng-hide="hideFilter">&nbsp;</span></th>
      <th><span ng-hide="hideFilter">&nbsp;</span></th>
    </tr>
   </thead>

  <tbody class="data-grid-data">
    <tr ng-repeat="feedback in feedbackList | filter: search |orderBy:orderByField:reverseSort">
      <td>{{feedback.title}}</td>
      <td>{{feedback.type}}</td>
      <td><div userdisplay view-mode="nameonly" user-id="feedback.createBy"></div></td>
      <td>{{feedback.createOn | date:'dd MMM yyyy'}}</td>
      <td>
        <a class="table-btn" ng-if="isSaving" href="#/feedbackTmpl/{{feedback._id}}/edit" tooltips tooltip-template="View Template"><span class="fa fa-eye fa-lg" /></a>
        <a class="table-btn" ng-if="!isSaving" href="#/feedbackTmpl/{{feedback._id}}/edit" tooltips tooltip-template="Edit Template"><span class="fa fa-edit fa-lg" /></a>
        <a class="table-btn" ng-click="delete(feedback)" confirm-dialog header-text="Delete Feedback" content="Are you sure you want to delete the feedback with feedback title <b>{{feedback.title}} ? </b>" 
        yes-text="Ok" no-text="Cancel"><span class="fa fa-trash fa-lg" tooltips tooltip-template="Delete Template" ng-if="!isSaving"/></a>
        <a class="table-btn" ng-click="showFeedbackTemp($event,feedback._id)" tooltips tooltip-template="View Template" ng-if="!isSaving"><span class="fa fa-comments fa-lg"/></a>
        <a class="table-btn" ng-click="copy(feedback)" tooltips tooltip-template="Copy Template" ng-if="!isSaving"><span class="fa fa-files-o fa-lg" /></a>
      </td>
    </tr>
  </tbody>
</table>
</div>