
<link href="/public/assets/m/css/font.css"/>
<div class="factsheet-main-container">
    <div class="factsheet-menu-block" ng-show="openFactsheetMenuFlag">
        <div class="factsheet-menu-content">
            <h1 class="factsheet-menu-item" ng-click="scrollToDiv('factsheet-sixth-block')">CERTIFICATIONS</h1>
            <h1 class="factsheet-menu-item">REWARDS</h1>
            <h1 class="factsheet-menu-item">INDUSTRIES</h1>
            <h1 class="factsheet-menu-item">SERVICE PORTFOLIO</h1>
            <h1 class="factsheet-menu-item">JOURNEY SO FAR</h1>
            <h1 class="factsheet-menu-item">CSC INDIA DELIVERY CENTERS</h1>
            <h1 class="factsheet-menu-item">QUICK FACTS</h1>
        </div>
    </div>

   

    <div class="factsheet-scrollable-block">
        <div class="factsheet-top-block">

            <h1 class="map-title">Quick Facts</h1>

            <div class="toprow">
                <div class="startedBlock">
                    <img src="/public/uploads/images/started.png" class="img-factsheet">
                    <span class="startedText1">STARTED IN</span>
                    <span class="startedText2">1991</span>
                </div>

                <div class="professionalsBlock">
                    <img src="/public/uploads/images/professionals.png" class="img-factsheet">
                    <span class="professionalsText1">20355</span>
                    <span class="professionalsText2">PROFFESIONALS</span>
                </div>
            </div>

            <div class="middlerow">
                <div class="imgBlock">
                    <img src="/public/assets/m/img/ic/csclogo-hexagon-size.png" class="img-factsheet factsheet-csc-logo">
                </div>

                <div class="clientsBlock">
                    <img src="/public/uploads/images/clients.png" class="img-factsheet">
                    <span class="clients-block-text-1">400+</span>
                    <span class="clients-block-text-2">CLIENTS</span>
                </div>
            </div>

            <div class="bottomrow">
                <div class="top10Block">
                    <img src="/public/uploads/images/top10.png" class="img-factsheet">
                    <span class="top10text1">TOP 10</span>
                    <span class="top10text2">EMPLOYERS IN INDIA - NASSCOM(2014)</span>
                </div>

                <div class="largestBlock">
                    <img src="/public/uploads/images/largest.png" class="img-factsheet">
                    <span class="largest-text-1">2<sup>ND</sup> LARGEST</span>
                    <span class="largest-text-2">DELIVERY BASE OF CSC</span>
                </div>
            </div>
        </div>
        <div class="factsheet-second-block">
            <h1 class="map-title">CSC India Delivery Centers</h1>

            <div class="indiaMapBlock">

                <img src="/public/assets/m/img/ic/india-map.png" alt="India Map" usemap="#indiaMap" class="indiaMap">

                <div class="loc1" ng-click="openGallery(cscIndiaLocations[0].cityName)">
                    <img src="/public/assets/m/img/ic/red-marker.png" class="marker">
                    <span class="markerText1" class="">{{cscIndiaLocations[0].cityName}}</span>
                </div>

                <div class="loc2" ng-click="openGallery(cscIndiaLocations[1].cityName)">
                    <img src="/public/assets/m/img/ic/red-marker.png" class="marker">
                    <span class="markerText2">{{cscIndiaLocations[1].cityName}}</span>
                </div>

                <div class="loc3" ng-click="openGallery(cscIndiaLocations[2].cityName)">
                    <img src="/public/assets/m/img/ic/red-marker.png" class="marker">
                    <span class="markerText3">{{cscIndiaLocations[2].cityName}}</span>
                </div>

                <div class="loc4" ng-click="openGallery(cscIndiaLocations[3].cityName)">
                    <img src="/public/assets/m/img/ic/red-marker.png" class="marker">
                    <span class="markerText4">{{cscIndiaLocations[3].cityName}}</span>
                </div>

                <div class="loc5" ng-click="openGallery(cscIndiaLocations[4].cityName)">
                    <img src="/public/assets/m/img/ic/red-marker.png" class="marker">
                    <span class="markerText5">{{cscIndiaLocations[4].cityName}}</span>
                </div>

                <div class="loc6" ng-click="openGallery(cscIndiaLocations[5].cityName)">
                    <img src="/public/assets/m/img/ic/red-marker.png" class="marker">
                    <span class="markerText6">{{cscIndiaLocations[5].cityName}}</span>
                </div>

                <div class="loc7" ng-click="openGallery(cscIndiaLocations[6].cityName)">
                    <img src="/public/assets/m/img/ic/red-marker.png" class="marker">
                    <span class="markerText7">{{cscIndiaLocations[6].cityName}}</span>
                </div>
            </div>
        </div>

        <div class="factsheet-third-block">
            <h1 class="map-title">CSC India Journey so far</h1>

            <div class="ftb-journey-block" ng-repeat="journeyImage in journeyImages">
                <label class="ftb-year-class">{{journeyImage.year}} </label>
                <img ng-src="{{journeyImage.line_slice}}" class="ftb-slice-class"/>

                <div class="ftb-second-block">
                    <svg class="ftb-circle-class">
                        <circle class="ftb-circle-class-circle" cx="90" cy="90" r="90"></circle>
                    </svg>
                    <span class="ftb-title-text">{{journeyImage.titleText}}</span>
                </div>
                <div class="ftb-third-block">
                    <img ng-src="{{journeyImage.image1}}" class="ftb-image1Class"/>
                    <span class="ftb-text-1">{{journeyImage.startedText1}}</span>
                    <span class="ftb-text-2">{{journeyImage.startedText2}}</span>
                </div>
                <label class="ftb-title-class">{{journeyImage.title}} </label>
            </div>
        </div>

        <div id="industries" class="factsheet-fourth-block">
            <h1 class="heading">Industries</h1>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/industry/insurance.png">
                    <label>INSURANCE</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/industry/banking.png">
                    <label>BANKING AND PAYMENT SERVICES</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/industry/healthcare.png">
                    <label>HEALTHCARE</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/industry/diversified.png">
                    <label>DIVERSIFIED</label>
                </div>
            </div>
        </div>
        <div id="rewards-recognition" class="factsheet-fifth-block">
            <h1 class="heading">Rewards and Recognition</h1>

            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-3 reward-badge-container">
                    <img src="/public/assets/m/img/ic/reward-badge.png">
                </div>
                <div class="reward-set col-xs-8 col-sm-9 col-md-9">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <img src="/public/uploads/images/rewards/1-global.png">
                        <label>2013 and 2012 GLOBAL SERVICES 100</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <img src="/public/uploads/images/rewards/2-nasscom.png">
                        <label>TOP 10 IT EMPLOYERS IN INDIA, 2014</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <img src="/public/uploads/images/rewards/3-amity.png">
                        <label>AMITY CSR AWARDS, 2013</label>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <img src="/public/uploads/images/rewards/4-loma.png">
                        <label>EXCELLENCE IN EDUCATION AWARD, 2012</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="certifications" class="factsheet-sixth-block">
            <h1 class="heading">Certifications</h1>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/certifications/iso-1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/certifications/iso-1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/certifications/iso-1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4">
                    <img src="/public/uploads/images/certifications/iso-1.png">
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="">
        
</div> -->

    <img src="/public/assets/m/img/ic/btn-floater-menu.png" class="menuBtn" ng-click="openFactsheetMenu()">

</div>