>
<div header showprofile="false" icon="fa fa-info-circle" title1="Factsheet" title2="Quick Facts">
<div>


            <div class="pull-right">

                <div class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-th-large fonticon1"></i>
                    <span class="caret"></span>
                </div>

                <ul class="dropdown-menu">
                    <li><a href ng-click="openqFacts()">Quick Facts</a></li>
                    <li class="divider"></li>
                    <li><a href ng-click="openindiaLocs()">India Delivery Locations</a></li>
                    <li class="divider"></li>
                    <li><a href ng-click="opencerts()">Rewards & Recognition</a></li>
                </ul>

             </div>

          </div>
    </div>

<br>
<br>
<br>
<br>
        <div class="factsheet-top-block">

            <h1 class="map-title"><!-- Quick Facts --></h1>
            <div>
            <img class="cschexagons" src="/public/uploads/images/csc-hexa.jpg">
            </div>
            
<!-- 
            <div class="toprow">
                <div class="startedBlock">
                    <img src="/public/uploads/images/started.png" class="img-factsheet">
                    <span class="startedText1">STARTED IN</span>
                    <span class="startedText2">1991</span>
                </div>

                <div class="professionalsBlock">
                    <img src="/public/uploads/images/professionals.png" class="img-factsheet">
                    <span class="professionalsText1">20355</span>
                    <span class="professionalsText2">PROFFESIONALS</span>
                </div>
            </div>

            <div class="middlerow">
                <div class="imgBlock">
                    <img src="/public/assets/m/img/ic/csclogo-hexagon-size.png" class="img-factsheet factsheet-csc-logo">
                </div>

                <div class="clientsBlock">
                    <img src="/public/uploads/images/clients.png" class="img-factsheet">
                    <span class="clients-block-text-1">400+</span>
                    <span class="clients-block-text-2">CLIENTS</span>
                </div>
            </div>

            <div class="bottomrow">
                <div class="top10Block">
                    <img src="/public/uploads/images/top10.png" class="img-factsheet">
                    <span class="top10text1">TOP 10</span>
                    <span class="top10text2">EMPLOYERS IN INDIA - NASSCOM(2014)</span>
                </div>

                <div class="largestBlock">
                    <img src="/public/uploads/images/largest.png" class="img-factsheet">
                    <span class="largest-text-1">2<sup>ND</sup>LARGEST</span>
                    <span class="largest-text-2">DELIVERY BASE OF CSC</span>
                </div>
            </div>
        </div> -->
</div>
   <div class="factsheet-down-block">
        <div id="cscJourney">
            <h1 class="map-title">CSC India Journey so far</h1>
            <div class="ftb-journey-block" ng-repeat="journeyImage in journeyImages">
                <label class="ftb-year-class">{{journeyImage.year}} </label>
                <img ng-src="{{journeyImage.line_slice}}" class="ftb-slice-class">
                <div class="ftb-second-block">
                    <svg class="ftb-circle-class">
                        <circle class="ftb-circle-class-circle" cx="90" cy="90" r="90"></circle>
                    </svg>
                    <span class="ftb-title-text">{{journeyImage.titleText}}</span>
                </div>
                <div class="ftb-third-block">
                    <img ng-src="{{journeyImage.image1}}" class="ftb-image1Class">
                    <span class="ftb-text-1">{{journeyImage.startedText1}}</span>
                    <span class="ftb-text-2">{{journeyImage.startedText2}}</span>
                </div>
                <label class="ftb-title-class">{{journeyImage.title}} </label>
            </div>
        </div>
   
   </div>