
/*  panel styles*/
.panel-sm{
	width:25%;
}
.panel-md{
	width:50%;
}
.panel-lg{
	width:70%;
}
.panelpad{
	padding-left: 85px;
}
.panel-bg{
	background-image: url('../img/background.jpg');
	background-color: #ff9966;
}
/* small  panel  styles*/
.username{
 font-family: verdana, arial !important; 
  font-size: 18px !important;
  font-weight: bold !important;
 
}
/*  panel sub header styles*/
.usertitle{

  font-family: verdana, arial !important; 
  font-size: 14px !important;
  font-weight: normal !important;
  
 }

 .userorganisation{

  font-family: verdana, arial !important; 
  font-size: 14px !important;
  font-weight: normal !important;

 }

/*  medium panel  styles*/
.panelpadmd{
	padding-left: 95px;
}
 .usernamemd{
 font-family: verdana, arial !important; 
  font-size: 18px !important;
  font-weight: bold !important;
  
}
/*  panel sub header styles*/
.useremailmd{

  font-family: verdana, arial !important; 
  font-size: 16px !important;
  font-weight: normal !important;
  
 }
.usertitlemd{

  font-family: verdana, arial !important; 
  font-size: 16px !important;
  font-weight: normal !important;
  
 }
 
 .userorganisationmd{

  font-family: verdana, arial !important; 
  font-size: 16px !important;
  font-weight: normal !important;

 }
 .text{
 	color: white;
 }
 /*  large panel  styles*/

 .panelpadlg{
	padding-left: 164px;
}
 .usernamelg{
 font-family: verdana, arial !important; 
  font-size: 18px !important;
  font-weight: bold !important;
  
}
/*  panel sub header styles*/
.useremaillg{

  font-family: verdana, arial !important; 
  font-size: 16px !important;
  font-weight: normal !important;
  
 }
.usertitlelg{

  font-family: verdana, arial !important; 
  font-size: 16px !important;
  font-weight: normal !important;
  
 }
 
 .userorganisationlg{

  font-family: verdana, arial !important; 
  font-size: 16px !important;
  font-weight: normal !important;

 }
  .usersummary{

  font-family: verdana, arial !important; 
  font-size: 12px !important;
  font-weight: normal !important;

 }
 .text{
 	color: white;
 }