body{
	 font-family: verdana, arial !important; 
  font-size: 12px !important;
  font-weight: normal !important;
}
/*  image padding styles*/
.imgpad{
	padding-left: 18px;
    
	z-index: -100000;
}
.z{
	z-index: -10000000;
}
/*  div padding styles*/
.divpad{
	padding-left: 130px;

}
/*  label  styles*/
label{
	 font-family: verdana, arial !important; 
  font-size: 14px !important;
  font-weight: bold !important;
}


/*  progress bar  styles*/
.progress {
 background: rgba(245, 245, 245, 1); 
 border: 0px solid rgba(245, 245, 245, 1); 
 border-radius: 4px; 
 height: 5px;
}
.progress-bar-custom {background: green;
}


/*  progress bar  styles*/
@media all and (max-width: 750px) {
/* CSS rules here for screens lower than 750px */
.phonesection{
	display: none;
}
}