<div class="carousel-parent-div">
    <div ng-click="closeModal()" class="col-xs-12 col-sm-12 col-md-12 closeDiv">
        <img src="/public/assets/m/img/ic/close-btn-white.png" class="close()">
    </div>

    <div class="cvm-gallery-header">
        <h1 class="headerTitle">{{cscLocation | uppercase}}</h1>

        <div class="header-temp-div">
            <img src="/public/assets/m/img/ic/sunny-icon.png" class="sec1">
            <span class="sec2">{{weatherData.main.temp}}</span>
            <span class="sec6">&deg;C</span>
        </div>

        <div class="header-precipitation-div">
            <div class="sec1">
                <span class="col-xs-6 col-sm-6 col-md-6 div-padding">AVERAGE</span>
                <span class="col-xs-6 col-sm-6 col-md-6 div-padding">PRECIPITATION</span>
            </div>

            <div class="sec2">
                <div class="col-xs-6 col-sm-6 col-md-6 div-padding">
                    <span class="text1">{{weatherData.main.temp_max}}&deg;</span>
                    <span class="text2">/</span>
                    <span class="text1">{{weatherData.main.temp_min}}&deg;</span>
                </div>

                <span class="col-xs-6 col-sm-6 col-md-6 div-padding">{{precipitation}}</span>
            </div>
        </div>
    </div>

    <carousel interval="myInterval" id="#myCarousel">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}"/>

    <!-- Left and right controls -->
 
        </slide>
    </carousel>

    <div class="cvm-gallery-footer">
        <h2 ng-modal="locName">Chennai Central</h2>

        <div class="locDesc">
            <p ng-modal="locDesc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</div>