<!DOCTYPE html>
</html><!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ideation.main" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ideation.main" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ideation.main" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myapp" class="no-js"> <!--<![endif]-->
<head>
<html lang="en">

    <% include ../partials/head.ejs%>
    <!--link type="text/css" rel="stylesheet" media="screen" href="/public/assets/m/styles/main.css" />
		<link rel="stylesheet" href="/public/assets/m/styles/style.css"> <!-- Resource style -->
		<!--script src="/public/assets/m/scripts/modernizr.js"></script--> <!-- Modernizr -->
		
		<link rel="stylesheet" type="text/css" href="/public/libs/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/public/libs/font-awesome/css/font-awesome.min.css">
		<link rel='stylesheet' type="text/css" href='/public/assets/m/styles/schedule.css'>
<body>
<div class="container">
     <ul class="timeline">
        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="1 hour ago"></i></a></div>
          <div class="timeline-panel">
       		<div class="timeline-heading">
              Schedule 1             
            </div>
            <div class="timeline-location">
               <p>Location: Bangalore Board room, 3rd Floor, Augusta</p>
               <p>Date: 08/09/2016</p>
               <p>Duration: 1 hr</p>         
            </div>
            <div class="timeline-body">
            <h4>First Session Name</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
              <ul class="timeline-list">
			    <li>List 1</li>
			    <li>List 2</li>
			    <li>List 3</li>
			    <li>list 4</li>
			</ul>			            
            </div>
            <div class="timeline-feedback">
            	<button type="button" class="btn btn-primary">Feedback</button> 
            </div>
          </div>
        </li>
        
        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="3 hour ago"></i></a></div>
          <div class="timeline-panel">
          	<div class="timeline-heading">
              Schedule 2              
            </div>
            <div class="timeline-location">
               <p>Location: Bangalore Board room, 3rd Floor, Augusta</p>  
               <p>Date: 08/09/2016</p>
               <p>Duration: 30Mins</p>             
            </div>
            <div class="timeline-body">
                 <h4>Second Session Name</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>             
            </div>
             <div class="timeline-feedback">
            	<button type="button" class="btn btn-primary">Feedback</button> 
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="4 hours ago"></i></a></div>
          <div class="timeline-panel">            
            <div class="timeline-heading">
              Schedule 3              
            </div>
            <div class="timeline-location">
               <p>Location: Bangalore Board room, 3rd Floor, Augusta</p>         
               <p>Date: 08/09/2016</p>
               <p>Duration: 1 hr</p>      
            </div>
            <div class="timeline-body">
                <h4>Third Session Name</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
              <ul class="timeline-list">
			    <li>List 1</li>
			    <li>List 2</li>
			    <li>List 3</li>
			    <li>list 4</li>
			</ul>          
            </div>
             <div class="timeline-feedback">
            	<button type="button" class="btn btn-primary">Feedback</button> 
            </div>
          </div>
        </li>
        
        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip"  title="6 hour ago"></i></a></div>
          <div class="timeline-panel">
          	<div class="timeline-heading">
              Schedule 4              
            </div>
            <div class="timeline-location">
               <p>Location: Bangalore Board room, 3rd Floor, Augusta</p>         
               <p>Date: 08/09/2016<p>
               <p>Duration: 20Mins</p>      
            </div>
            <div class="timeline-body">
                <h4>Fourth Session Name</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
            </div>
             <div class="timeline-feedback">
            	<button type="button" class="btn btn-primary">Feedback</button> 
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="9 hours ago"></i></a></div>
          <div class="timeline-panel">
          	<div class="timeline-heading">
              Schedule 6              
            </div>
            <div class="timeline-location">
               <p>Location: Bangalore Board room, 3rd Floor, Augusta</p>
               <p>Date: 08/09/2016</p>
               <p>Duration: 1 hr</p>               
            </div>   
            <div class="timeline-body">
                <h4>Fifth Session Name</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>             
            </div>
             <div class="timeline-feedback">
            	<button type="button" class="btn btn-primary">Feedback</button> 
            </div>
          </div>
        </li>
        
        <li  class="timeline-inverted">
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="10 hours ago"></i></a></div>
          <div class="timeline-panel">
          	<div class="timeline-heading">
              Schedule 7              
            </div>
            <div class="timeline-location">
               <p>Location: Bangalore Board room, 3rd Floor, Augusta</p>
               <p>Date: 08/09/2016</p>
               <p>Duration: 45Mins</p>             
            </div>
            <div class="timeline-body">
            <h4>Sixth Session Name</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>              
            </div>
             <div class="timeline-feedback">
            	<button type="button" class="btn btn-primary">Feedback</button> 
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record invert" rel="tooltip" title="11 hours ago"></i></a></div>
          <div class="timeline-panel">
           <div class="timeline-heading">
              Schedule 8             
            </div>
            <div class="timeline-location">
               <p>Location: Bangalore Board room, 3rd Floor, Augusta</p>    
               <p>Date: 08/09/2016</p>
               <p>Duration: 1 hr</p>           
            </div>
            <div class="timeline-body">
            	<h4>Eight Session Name</h4>
              	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
				<ul class="timeline-list">
				    <li>List 1</li>
				    <li>List 2</li>
				    <li>List 3</li>
				    <li>list 4</li>
				</ul>
            </div>
             <div class="timeline-feedback">
            	<button type="button" class="btn btn-primary id="feedback-eight">Feedback</button> 
            </div>
            </div>
        </li>        
        <li class="clearfix" style="float: none;"></li>
    </ul>
</div>
</body>
</html>