 

  <link rel="stylesheet" href="/public/assets/m/css/header.css">



<div header showprofile="false" icon="fa fa-info-circle" title1="Visit Planner" title2="Visit details">
Visit page
    </div>
<div class="divtop">    


<ng-view></ng-view>
<script type="text/javascript" src="/public/m/app.js"></script>

<script type="text/javascript" src="/public/m/home/home.js"></script>
<script type="text/javascript" src="/public/m/home/homeCtrl.js"></script>