<div class="container">
  <div class="page-header">
   Contact List Management
    <div class="sub-header">Manage application for Contact-Panel</div>
  </div>

  <div class="container">
   <div class="row">
	     <div class="col-xs-5">
				<input type="text" class="form-control" placeholder="Search" ng-model="search.$" />
				<!-- <i class="glyphicon glyphicon-search form-control-feedback"></i> -->
			</div>
			<div ng-include src="'/public/mods/contactList/partials/sortSearch.html'"></div>
		</div>

    <div class="pnbdr panel panel-primary">
      <!--div class="panel-heading">visits panels view</div--><div class="searchpad">
      <div ng-repeat="contactList in contactListlist | filter: search |orderBy:orderByField:reverseSort">
        <div class="row">

          <div class="pn-bodypad">
            <div class="col-xs-11">
              <div class="panel panel-info">
                <div class="panel-heading pn-bodyhdr" pull-left>
                  <span>{{contactList.location}}</span><div class="pull-right">
                  <!--a class="table-btn" ng-click="edit(contactList._id)"><span class="fa fa-pencil-square-o fa-lg" /></a>
					<a class="table-btn" ng-click="remove(contactList)"><span class="fa fa-trash-o fa-lg" /></a-->
                  </div>
                </div>

                <div class="panel-body">
                  <div class="pn-inrbodypad">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="text-xs">{{contactList.type}}</div>
                      </div>
                      <div class="col-xs-4">
                      	<div class="text-xs">
                      		<div userdisplay view-mode="nameonly" user-id="contactList.user"></div>
                      	</div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

