<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="navbar-brand">
                <ham-menu></ham-menu>&nbsp;</li>
            <li class="navbar-brand">&nbsp;&nbsp;CSC</li>
            <li><a ng-click='back()' ng-if="canBack()"><i class="fa fa-arrow-left"></a></i></li>
            <li><a href="#/home"><i class="fa fa-home"></i></a></li>
        </ul>
    </div>
</nav>


<!--  <li>
                <a href="#/visits">
                    <i class="fa fa-plane"></i>&nbsp;&nbsp;Visits
                </a>
            </li>
            <li>
                <a href="#/sessions">
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;Schedule
                </a>
            </li>
            <li>
                <a href="#/facts">
                    <i class="fa fa-trello"></i>&nbsp;&nbsp;Factsheet
                </a>
            </li>
            <li>
                <a href="#/feedback">
                    <i class="fa fa-comments-o"></i>&nbsp;&nbsp;Feedback
                </a>
            </li>
            <li>
                <a href="#/contacts">
                    <i class="fa fa-phone"></i>&nbsp;&nbsp;Local Contacts
                </a>
            </li>
            <li>
                <a href="#/city">
                    <i class="fa fa-map-marker"></i>&nbsp;&nbsp;City
                </a>
            </li>
            <li>
                <a href="#/search">
                    <i class="fa fa-search"></i>&nbsp;&nbsp;Search
                </a>
            </li> -->