 <div scroll>
    <div id="header_nav" ng-class="navClass">

        <div class="hd-prime">
          <div ng-include = "getTemplate()">

           </div>
        </div>
        <div class="hd-sec" id="hd-sech">

					<!-- <div ng-if="$root.canBack()==false" class="icon" id="menu"> -->
						<a id="menu-toggle">
								<i class="fa fa-bars hds-icon"></i>
						</a>
					<!-- </div>
					<div ng-if="$root.canBack()==true" class="icon">
						<a id="arrow-toggle" ng-click="$root.back()">
							<i class="fa fa-arrow-left hds-icon"></i>
						</a>
					</div> -->
            &nbsp;&nbsp;<a href="#">{{title2}}</a>
        </div>
        <div class="hd-sticky">
        <ng-transclude></ng-transclude>
        </div>
    </div>
</div>

<script>
    $(document).on("click", "#menu-toggle", function(e) {
        e.preventDefault();
        $("#page").toggleClass("toggled");
				e.stopImmediatePropagation();
    });
</script>
