<style>
/*.profile-overview{overflow-x:auto;overflow-y:hidden;width:100%;white-space: nowrap;}
.title3{width:130%;}
.profile-overview::-webkit-scrollbar { 
    display: none; 
}*/
</style> 

      <div class="my-visit-header col-xs-12 col-sm-12 col-md-12">
        <div class="my-visit-sub-header col-xs-12 col-sm-12 col-md-12">
          <div class="profile-details-div">
						<!-- <div ng-if="$root.canBack()==false" class="icon" id="menu"> -->
	            <a id="menu-toggle">
	                <i class="fa fa-bars hds-icon"></i>
	            </a>
	          <!-- </div>
						<div ng-if="$root.canBack()==true" class="icon">
							<a id="arrow-toggle" ng-click="$root.back()">
								<i class="fa fa-arrow-left hds-icon"></i>
							</a>
						</div> -->
           	&nbsp;&nbsp;
						<i  class="img-circle title-icon" ng-class="icon"></i>

            <div class="profile-overview">
                <h1>{{title1 | uppercase}}</h1>

                <p class="title3">{{title2 | uppercase}}</p>
            </div>
        	</div>
        </div>
   	</div>

<script>
    $(document).on("click", "#menu-toggle", function(e) {
        e.preventDefault();
        $("#page").toggleClass("toggled");
				e.stopImmediatePropagation();
    });
</script>
