/* Dialog buttons style */
  .md-button.md-primary {
      color: #FFF !important;
      background-color: #5CB85C !important;
      border-color: #4CAE4C;
  }

  .md-button.md-primary:focus{
    color: #fff !important;
    background-color: #449d44 !important;
    border-color: #255625 !important;
  }
  .md-button.md-primary:hover,
  .md-button.md-primary:active {
    color: #fff !important;
    background-color: #449d44 !important;
    border-color: #398439 !important;
  }
  
  .md-button.md-primary.disabled, 
  .md-button.md-primary[disabled], fieldset[disabled] .md-button.md-primary {
    cursor: not-allowed !important;
    box-shadow: none;
    opacity: 0.65;
    color: #FFF !important;
  }

  .md-button.md-warn {
    color: #FFF !important;
    background-color: #F0AD4E !important;
    border-color: #EEA236 !important;
  }
  .md-button.md-warn:focus{
    color: #fff !important;
    background-color: #ec971f !important;
    border-color: #985f0d !important;
  }
  .md-button.md-warn:hover,
  .md-button.md-warn:active{
    color: #fff !important;
    background-color: #ec971f !important;
    border-color: #d58512 !important;
  }

  /* style for Add User to Group Dialog start*/
  .md-usrTogrpTbl .checkbox-inline{
    margin: 0px 15px 0 28px;
  }

  .md-usrTogrp-grDesc{
    width: 500px;
  }

  .md-usrTogrpTbl td, .md-usrTogrpTbl th{
    padding: 2px 11px 5px 8px;
    vertical-align: super;
  }

  .md-usrTogrp-grName{
     width: 125px;
  }
  /* style for Add User to Group Dialog end */