/*layout styles ---*/

/* body html styles */
html,body {
  position: relative;
  min-height: 100%;
  width:100%;
  height:100%;
}

body {
  margin-left:0px;
  margin-right: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.menuicon{
  width: 20px;
  height: 20px;
}


/* footer styles */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%; 
  height: 40px;
  background-color: #e6e6ff;
  z-index: 10000000;
  padding-right: 35px;
  padding-left: 25px;
  padding-top: 10px;

}

/* footer  wrapper styles */
wrapper {
}
.push {
height: 30px;
}

/* navbar  styles */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #EBF0FA;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/* navbar  custom  styles */

.navbar-custom {
    background-color:#006699;
    color:#ffffff;
    border-radius:0;
    padding-right: 30px;
    padding-left: 15px;
    z-index: 10000000;
}
.navbar-custom .navbar-nav > li > a {
    color:silver;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: black;
  background-color:#ebebfa;
  border-bottom: 3px solid red;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: black;
  background-color:#ebebfa;
  border-bottom: 3px solid red;
}

.dropdown-menu{
  background-color:#f0f0f5;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}


/* styles to change hamburger menu icon */
.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
		background-color: #fff;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

/* style for left pull menu */
@media screen and (max-width: 768px) {
  .side-collapse-container{
      width:100%;
      position:relative;
      left:0;
      transition:left .4s;
  }
  .side-collapse-container.out{
      left:200px;
  }
  .side-collapse {
      top:50px;
      background-color:#ebebfa;
      bottom:0;
      left:0;
      width:200px;
      position:fixed;
      overflow:hidden;
      transition:width .4s;
  }
  .side-collapse.in {
      width:0;
  }
}



/*navbar menu styles */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
 padding: 0 0 2.5em;
  }


.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.8em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*message  notifications  styles */
.growl-container.growl-fixed {
  position: absolute;
  float: right;
  width: 180%;
  max-width: 400px;
  z-index: 9999;
  padding-top:50px;

}

/*callouts--right styles */
.callouts--right:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.callouts--right:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

/*callouts--left   styles */
.callouts--left:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-right: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.callouts--left:after {
  position: absolute;
  top: -6px;
  left: 10px;
   display: inline-block;
  border-left: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-right: 6px solid transparent;
  content: '';
}

/*profile details  styles*/
.profile-details {
    width: 160px;
    height: 90px;
    display: inline-block;
    vertical-align: top; /* here */
}

.change-icon > .fa + .fa,
.change-icon:hover > .fa {
  display: none;
}
.change-icon:hover > .fa + .fa {
  display: inherit;
}
/*avtar   styles */
.avatar{
  width: 100px;
  height: 100px;
}

/* text styles */
.text-xsmall{
  font-size: 10px;
  color:black;
}
.text-small{
  font-size: 12px;
  color:black;
}
.text-medium{
  font-size: 14x;
  color:black;
}
/*text big normal*/
.text-big{
  font-size: 16px;
  font-weight: normal !important;
  color:black;
}
/*text big bold*/
.text-highlight{
  font-size: 16px;
  font-weight: bold !important;
  color:black;
  text-transform: capitalize;
}
.text-desc{
  font-size: 11px;
  font-style: italic;
  color:black;

}
