.data-grid-data a{pointer-events: none;cursor: default; color: #000; font-weight: normal;}

.dateHeader{margin: 10px 0 10px;}

.row{display:block;clear:both; margin: 0 5px 10px;}

table{margin: 10px 0 0px;}
table.table tr th{background-color: #0C396E !important; color: #FFF;}
table, th, tr, td{border: 1px solid #CCC !important;} 

/*.data-grid-data ul{padding-left: 16px;}*/

.data-grid-header th{width: 15%;}

.cscLogo{
    width: 10%;
    height: 10%;
}
.clientLogo{
	width: 10%;
	height: 10%;
	padding-right: 10px;
}

ul {
    list-style-type: none !important;
    display: inline !important;
    padding-left: 0px !important;
}

li, li div {
    display: inline !important;
}

li > div > label {
    display: inline !important;
}

li:after
{
  content: ', ' !important;
}
li:last-child:after
{
  content: '' !important;
}


