@media print{
    page { size: auto; margin: 0px 20px;}
   
    body  { margin: 0px 15px; }
    a[href]:after {
      content: none !important;
    }
    a{font-weight: normal;}

    table{
     page-break-after:always;
    }
    .page-header {
        display: block !important;
    }
    .printHeaderImg{
      margin:0px 20px !important;
      width:67% !important;
      height:48px !important;
    }
}