<md-dialog ng-cloak>
<form>
  <md-toolbar>
  <div class="md-toolbar-tools">
    <h2>Add User to Group</h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
    <md-icon <i class="fa fa-times" aria-label="Close dialog"></i></md-icon>
  </md-button>
</div>
</md-toolbar>
<div ng-controller="usersControllerMain">
  <md-dialog-content>
    <md-table-container>
      <table md-table>
        <!-- table header -->
        <thead md-head md-order="filter">
         <tr md-row>
					<th md-colum>&nbsp;</th>
          <th md-colum>Group Name</th>
					<th md-colum>Description</th>
         </tr>
        </thead>

        <!-- table body -->
        <tbody md-body>
          <tr md-row ng-repeat="group in grouplist" >
            <td md-cell >&nbsp;&nbsp;&nbsp;<input type="checkbox" value="{{group._id}}"
							ng-checked="selection.indexOf(group._id) > -1" ng-click="toggleSelection(group._id)"
							class="checkbox-inline"></td>
						<td>{{group.name}}</td>
						<td>{{group.description}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <!-- sending group selected values and usersid in addGroup function -->
    <md-button class="btn btn-primary" ng-click="addGroup(selection,usersid)">
    add user
    </md-button>
    <md-button class="btn btn-danger" ng-click="cancel()" >
    cancel
    </md-button>
  </md-dialog-actions>
</div>
</form>
</md-dialog>
