
body{
	background:#fff;
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;																																												
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/*-- single --*/
.song {
    width: 100%;
    float: left;
}
.song-grid-right{
    width: 16%;
    float: right;
    margin-left: 2em;
}
.song iframe{
	width:100%;
	height:500px;
}
.song-info {
    padding-left: 0;
    padding: 0 0 1em;
}
.song-info h3{
  color: #272C2E;
  font-size: 22px;
  margin: 0;
  line-height: 1.5em;
}
.video-grid iframe {
    border: none;
    height: 376px;
}
.share h5{
    margin: 0;
    font-size: 20px;
    color: #525254;
}
.share ul{
	margin: 2em 0 0 0;
    padding: 0;
    list-style: none;
}
.share li{
    display: block;
    margin: 1em 0;
	color: #A8A8A8;
    font-size: 14px;
}
.share li a{
    color: #A8A8A8;
    font-size: 14px;
    text-decoration: none;
    padding-left: 3em;
    line-height: 2em;
}
.share li a.icon{
    background: url(../../../public/assets/images/scheduleDetail-images/like.png) no-repeat 0px 0px;
    height: 34px;
    display: block;
}
.share li a.fb-icon{
    background: url(../../../public/assets/images/scheduleDetail-images/fb.png) no-repeat 0px 0px;
}
.share li a.twitter-icon{
    background: url(../../../public/assets/images/scheduleDetail-images/twitter.png) no-repeat 0px 0px;
}
.share li a.comment-icon{
    background: url(../../../public/assets/images/scheduleDetail-images/comment.png) no-repeat 0px 0px;
}
.share li.view{
    background: url(../../../public/assets/images/scheduleDetail-images/view.png) no-repeat 0px 0px;
    height: 34px;
    display: block;
    padding-left: 3em;
    line-height: 2em;
}
.share li a:hover{
	color:#464646;
}
.share.title{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #525254;
}
/*-- shows --*/
.show-top-grids {
  padding: 0 1em 0 0;
}
.show-grid-right{
    background: #f7f7f7;
    padding: 3em 0 0 3em;
}
.single-right{
	background: #f7f7f7;
    padding: 3em 0 0 3em;
}
.show-right-grids {
  margin-bottom: 1.5em;
}
.show-grid-right h3{
    font-size: 20px;
    color: #181818;
    margin: 0 0 1em 0;
    font-weight: 600;
}
.single-right h3{
	font-size: 20px;
    color: #181818;
    margin: 0 0 1em 0;
    font-weight: 600;
}
.show-right-grids ul {
  padding: 0;
  margin: 2em 0 0 0;
}
.show-right-grids ul li{
  display: inline-block;
  margin-left: 1em;
}
.show-right-grids ul li:nth-child(1){
	margin:0;
}
.show-right-grids ul li a{
    font-size: 13px;
    color: #9E9E9E;
    margin: 1em 0;
}
.show-right-grids ul li a:hover{
    text-decoration: underline;
    color: #21DEEF;
}
.show-right-grids ul li a img {
	width: 100%;
}

/*-- single --*/
.single-main{
	padding: 4em 1em 0 0;
}
.single-left {
  padding-bottom: 2em;
}
.song-info-left {
  float: left;
}
/*-- published --*/
.published{
    margin: 0em 0 2em 0;
    padding-left: 0;
    background: #f7f7f7;
    padding: 1em 0 0 2em;
	width: 96%;
}
.published h4{
    color: #717171;
    font-size: 13px;
    margin: 0;
    line-height: 1.5em;
    font-weight: 600;
}
.published p {
    font-size: 13px;
    color: #9E9E9E;
    margin: 0;
   /* line-height: 1.8em;*/
}
/*-- load-more --*/
#myList ul{
margin:0;
}
#myList li{ 
	display:none;
	list-style-type:none;
}
.blog-text:after{
	clear: both;
}
.blog-grid img{
width:100%;
}

#loadMore {
	color: #FFFFFF;
    font-size: 16px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    cursor: pointer;
    text-align: center;
    margin: 2em auto 0 auto;
    padding: .5em 0;
    background: #21DEEF;
    width: 19%;
}
#loadMore:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.load_more {
  margin-top:0;
}
.load_more ul {
  padding: 0;
}


.load-grids{
	margin:1em 0 0 0;
}
.load-grid{
  float: left;
  width: 17%;
}
.load-grid p{
	font-size: 14px;
	color: #9E9E9E;
	margin:0;
	line-height: 1.8em;
}	
.load-grid a{
    font-size: 14px;
    color: #0076CC;
    margin: 1em 0;
    line-height: 1.8em;
}
.load-grid a:hover{
	color:#9E9E9E;
	text-decoration:none;
}
.all-comments{
    margin: 2em 0 0 0;
    padding-left: 0;
    padding: 1em 1em;
    box-shadow: 0px 0 2px #C1C1C1 !important;
}

.all-comments-info a{
    font-size: 14px;
    color: #9E9E9E;
    text-decoration: none;
}
.box {
  margin: 1em 0;
}
.box form {
    margin: 3em 0 0 0;
}
.box input[type="text"], .box textarea {
    outline: none;
    border: 1px solid #D4D3D3;
    background: none;
    padding: 10px 10px;
    width: 60%;
    font-size: 13px;
}
.box input[type="text"]:nth-child(2) {
    margin: 1em 0;
}
.box textarea {
    resize: none;
    min-height: 200px;
    margin: 1em 0;
    width: 80%;
}
.box input[type="submit"] {
    outline: none;
    font-style: normal;
    padding: 8px 20px;
    background: #21DEEF;
    font-size: 14px;
    color: #fff;
    display: block;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.box input[type="submit"]:hover{
    text-decoration: none;
    color: #272C2E;
    background: #E2E2E2;
}
.single-grid-right{
	margin-top:2em;
}
.single-right-grids {
  margin: 0 0 1.5em 0;
}	
.single-right-grid-left a img{
	width:100%;
}
.single-right-grid-right a.title {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #525254;
    text-decoration: none;
}
.single-right-grid-right a.title:hover{
    text-decoration: underline;
}
.single-right-grid-right p.author {
  font-size: 14px;
  color: #9E9E9E;
  margin: .5em 0;
}
.single-right-grid-right p.author {
    font-size: 13px;
    color: #9E9E9E;
    margin: 0em 0;
}
.single-right-grid-right p.author a {
    color: #21DEEF;
    text-decoration: none;
}
.single-right-grid-right p.views {
    font-size: 12px;
    color: #C3C3C3;
    margin: 0;
}
.single-right-grid-left {
  padding-left: 0;
}
.single-right-grid-right{
	padding-right:0;
}
/****CUSTOM CSS*****/
.song-info h2{
  padding: 15px 0 0 0px; 
  margin:0;
  color: #C25B4E;
}

.song-info h3 {
   margin: 15px 0 0 0;
}

.session-location p{
 	font-size: 14px;
 	font-style: italic;
 	font-weight: bold;
}
.session-agenda p{
    font-size: 18px;
    font-weight: bold;
}

.timeline-list li i{
    color: #21DEEF;
    font-size: 19px;
}
.session-agenda ul{
    font-size: 21px;
	list-style: outside none none;
	padding-left: 0;
}

.session-body {
    font-size: 17px;
    margin-bottom: 24px;
}

.video-grid {
    width: 80%;
    float: left;
}
.published .presenter-label, .all-comments h2 {
    font-size: 19px !important;
    margin: 3px 0 0px 0;
    line-height: 1.5em;
    font-weight: 600;
    color: #000;
}

.spoc-profile {
    display: inline-block;
	width: 100%;
	margin: 13px 0px 10px;
	background-color: #E9E7E7;
	padding: 13px;
	border-radius: 1%;
}

.spoc-profile-pic {
	float: left;
	width: 16%;
	height: auto;
}
.spoc-profile-pic img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.spoc-profile-info {
	float: right;
	width: 82%;
}

.spoc-profile-info p{
	font-size: 17px;
	color: #000;	
}
.spoc-profile-info .spoc-name{
	line-height: 0px;
	font-weight: bold;
	margin: 8px 0px 9px 0 !important;
}

.published .spoc-bio{
	font-size: 14px;
	color: #000;
	font-style: italic;
}

.published .img-circle, .all-comments .img-circle{
    width: 100%;
    height: 100%;
}

.spoc-profile-info .spoc-details{
	
}

.nextSessionWrap, .backSessionWrap{
	background-color: #000;
	color: #FFF;
	margin: 2em 0;
	padding: 1em 0 1em 1em;
	font-size: 14px;
}

.nextSessionWrap p {
    padding-top: 6px;
}
.nextSessionWrap span{
    font-style: italic;
    padding-left: 20px;
    font-size: 13px;
}
.backSessionWrap {
    margin: 0;
}

/*** Page slider navigation ***/
.carousel-control{
	color: #2D5CFF;
}

.carousel-control .icon-prev, .carousel-control .icon-next{
	font-size: 97px;
}

.carousel-control.left, .carousel-control.right{
	background-image: none;
	background-repeat: no-repeat;
}

.carousel-control:focus, .carousel-control:hover {
    color: #2D5CFF;
}
/*** Page slider navigation ***/

/** CUSTOM CSS ENDS HERE ***/
/*-- responsive-design starts-here --*/
@media (max-width: 1366px) {
	.slid-bottom-grid {
		width: 43%;
	}
	.slid-bottom-right {
		width: 57%;
	}
	.show-grid-right {
		padding: 2em 0 0 2em;
	}

}

@media (max-width: 1080px) {
	.show-video-grid {
		width:33.33% !important;
		margin-bottom: 2em;
	}
	.show-grid-right {
		padding: 1em 0 0 1em;
	}
	.show-grid-left {
		width: 80%;
	}
	.show-grid-right {
		width: 20%;
	}
	
	.song-grid-right {
		width: 18%;
		margin-left: 1em;
	}
	.share li {
		font-size: 13px;
	}
	.share li a {
		font-size: 13px;
	}
	.song-info h3 {
		font-size: 20px;
	}
	.single-right-grid-right {
		padding: 0;
	}
	.single-right-grid-right a.title {
		font-size: 13px;
	}
	.callbacks_nav {
		right: 7%;
	}
}
@media (max-width: 1024px) {
	.share li {
		font-size: 12px;
	}
	.show-grid-right h3 {
		font-size: 15px;
	}
	.sports-recommended-grid {
	    width: 33.33% !important;
		margin-bottom: 2em !important;
	}
	.sports-tome {
		top: 84% !important;
	}
	.sports-clock {
		right: 16% !important;
		bottom: 4%;
	}

	/**CUSTOME CSS **/
	.video-grid {
	    width: 98%;
	    float: left;
	}
	/*** Page slider navigation start***/
	.carousel-control{
		width: 4%;
	}
}
@media (max-width: 991px) {
	body {
		padding: 0;
	}
	.main {
		padding: 2em 0 0 0;
		float: none !important;
		margin: 0;
		width: 100%;
	}
	.show-grid-left {
		float: left;
	}
	.show-grid-right {
		float: left;
	}
	.single-left {
		float: left;
		width: 70%;
	}
	.single-right {
		padding: 2em;
		float: left;
		width: 30%;
	}
	.single-right-grid-left {
		padding: 0;
		margin-bottom: 1em;
	}
	/**CUSTOM CSS **/
	.video-grid {
	    width: 98%;
	    float: left;
	}
	
}
@media (max-width: 800px) {
	/**CUSTOM CSS **/
	.video-grid {
	    width: 98%;
	    float: left;
	}
}
@media (max-width: 768px) {
	.show-grid-left {
		width: 75%;
	}
	.show-grid-right {
		width: 25%;
	}
	.song {
		width: 100%;
		float: none;
	}
	.song-grid-right {
	    width: 100%;
		margin: 2em 0;
		float: left;
	}
	.share li {
		display: inline-block;
		margin: 0.5em 0 0 .8em;
	}
	.share li.view {
		display: inline-block;
	}
	/**CUSTOM CSS **/
	.video-grid {
	    width: 98%;
	    float: left;
	}
	.all-comments {
	    margin: 0;
	    padding: 1em 1em;
	}
	.spoc-profile-info p{font-size: 14px;}

}
@media (max-width: 767px) {
	.sidebar {
		display: block;
	}
	/**CUSTOM CSS **/
	.video-grid {
	    width: 98%;
	    float: left;
	}
	
}
@media (max-width: 640px) {
	.video-grid iframe {
		height: 223px;
	}
	.box input[type="text"], .box textarea {
		width: 100%;
	}
	.box textarea {
		min-height: 130px;
		width: 100%;
	}
	
	.show-grid-left {
		width: 100%;
		float: none;
	}
	.show-grid-right {
	    width: 100%;
		float: none;
		padding: 2em 0 2em 2em;
	}
	
	/**CUSTOME CSS*/
	/**removed "Related sessions, Social Links" only for mobile **/
	.single-left {
	    padding-bottom: 0em;
	}
	.single-grid-right, .single-right h3{
	    display: none;
	}
	.single-right{
		background: none;
	    padding: 0em 1em 0 1em;
	}
	.nextSessionWrap{
		padding: 1em 0 1em 1em;
	}
	.song-grid-right {
	    margin: 1em 0px;	    
	}
	.share h5{display: none;}
	.share ul{margin: 0;}
	.share li a > span, .share li span  {
	    display: none;
	}
	
	/**removed Related session only for mobile **/
	.published {
    	margin: 1em 0 2em;
	}

	.all-comments {
	    margin: 0;
	}
	.spoc-profile {
	    display: inline-block;
	    width: 100%;
	    margin: 13px 0px 10px;
	    background-color: #E9E7E7;
	    padding: 13px;
	    border-radius: 1%;
	}

	.spoc-profile-pic {
	    float: left;
	    width: 25%;
	    height: auto;
	}
	.published .img-circle, .all-comments .img-circle {
    	width: 98%;
	    height: 98%;
	}

	.spoc-profile-info {
	    float: right;
	    width: 75%;
	}

	.spoc-profile-info .spoc-name {
	    line-height: 0px;
	    font-weight: bold;
	    margin: 8px 0px !important;
	    padding-left: 17px;
	}

	.spoc-profile-info p {
	    color: #000;
	    font-size: 15px;
	    padding-left: 17px;
	}
	/*** Page slider navigation start***/
	.carousel-control{
		width: 2%;
		left: 5px;
	}
	.carousel-control.right {
	    right: 8px;
	}
	.carousel-control .icon-prev, .carousel-control .icon-next{
		font-size: 64px;
	}
	/*** Page slider navigation end***/
}

@media (max-width: 480px) {
	
	.single-left {
		float: none;
		width: 100%;
	}
	.single-right {
		float: none;
		width: 100%;
	}

	.backSessionWrap {
	    margin: 0;
	}
	
	.video-info-grid ul li {
		width: 100%;
	}
	.video-info-grid ul li.right-list {
		text-align: left !important;
	}
	
	.movie-clock {
		right: 21% !important;
	}

	.published .spoc-bio{
		padding-left: 16px;
		font-size: 13px;
	}
}

@media (max-width: 320px) {
	.show-video-grid {
		width: 50% !important;
	}
	.backSessionWrap {
	    margin: 0;
	}
	.song-info h3 {
		font-size: 15px;
	}
	.video-grid iframe {
		height: 152px;
	}
	.published p {
		font-size: 12px;
	}
	.box input[type="text"], .box textarea {
		padding: 6px 10px;
	}
	.box textarea {
		min-height: 95px;
	}
	
	.single-right h3 {
		font-size: 15px;
	}
	
	/**CUSTOME CSS*/
	.published {
    	margin: 1em 0 2em;
	}

	.all-comments {
	    margin: 0;
	}
	.spoc-profile {
	    display: inline-block;
	    width: 100%;
	    margin: 13px 0px 10px;
	    background-color: #E9E7E7;
	    padding: 13px;
	    border-radius: 1%;
	}

	.spoc-profile-pic {
	    float: left;
	    width: 25%;
	    height: auto;
	}
	.published .img-circle, .all-comments .img-circle {
    	width: 98%;
	    height: 98%;
	}

	.spoc-profile-info {
	    float: right;
	    width: 75%;
	}

	.spoc-profile-info .spoc-name {
	    line-height: 0px;
	    font-weight: bold;
	    margin: 8px 0px !important;
	    padding-left: 17px;
	}

	.spoc-profile-info p {
	    color: #000;
	    font-size: 14px;
	    padding-left: 17px;
	}
}

